<div class="container-flow  mh800 row">
    <div class="col-xl-3 col-lg-4  mt-5 p-3"  >
        <div class="animated fadeInUp text-xl-right text-center mx-auto px-3 my-auto"  style="animation-delay: 1.8s" routerLink="{{link}}"  >
            <h3 class="fs-26 mt-3" > 
                <span  [innerHTML]="titulo" ></span> 
            </h3>
            <div class="linetextAma "></div>
        </div>
        <div class="animated fadeInUp text-xl-right text-center px-1"  style="animation-delay: 1.2s;"  >
            <div class="py-3 px-1">
                <p class="fs-parrafo" >
                    <span  [innerHTML]="texto" ></span>  
                </p>
            </div>
            <br>
            <a routerLink="{{link}}" class="fs-bt cupo btxanaduB destac" >
                ...conocer más
            </a>
        </div>
    </div>
    <div class="posrel text-right col-xl-9 col-lg-8 ">
        <div class="bordefoto ml-auto mr-xl-1 mr-auto text-center cupo" style="max-width: 850px; z-index: 2" (click)="cambiardoble()" title="ver centrado" >
            <picture>
                <source media="(min-width: 0px)" srcset="{{imagenapc}}" data-srcset="{{imagenapc}}" class="mh500">
                <img src="{{imagenapc}}" data-src="{{imagenapc}}" alt="proyectos xanadu" class="lazyload mh500 "
                    onerror="this.src='assets/images/sinimagen.jpg' ">
            </picture>
        </div>

        <div class="pc2 posabsol bordefoto" style="top: 50px; right: 35%; min-width: 850px" >
            <picture>
                <source media="(min-width: 0px)" srcset="{{imagenbpc}}" data-srcset="{{imagenbpc}}" class="mh500">
                <source media="(min-width: 0px)" srcset="{{imagenamovil}}" data-srcset="{{imagenamovil}}">
                <img src="{{imagenbpc}}" data-src="{{imagenbpc}}" alt="proyectos xanadu" class="lazyload mh500 "
                    onerror="this.src='assets/images/sinimagen.jpg' ">
            </picture>
        </div>
    </div>
    
</div>