<div class=" px-xl-5 px-1 d-block  mh820">
    <div class=" pt-4 pb-2 px-1 cupo" routerLink="{{link}}" >
        <picture>
            <source media="(min-width: 968px)" srcset="{{imagenpc}}" data-srcset="{{imagenpc}}"
                class="mh700">
            <source media="(min-width: 0px)" srcset="{{imagenmovil}}" data-srcset="{{imagenmovil}}">
            <img src="{{imagenpc}}" data-src="{{imagenpc}}" alt="proyectores" class="lazyload mh700" onerror="this.src='assets/images/sinimagen.jpg' ">
        </picture>
    </div>
</div>