<div class="row "> 
    <div class="col-12">
        <h2 class="fs-titulo text-center ">
            {{titulo}}
        </h2>
        <div class="linetextAma"></div>
    </div>

    <div class="h20"></div>

    <div class="col-xl-4" *ngFor="let ab of blogarticulosultimos">
        <div>
            <div class="bordefoto cupo" routerLink="/blogdetalle/{{ab.id}}"  >
                <picture>
                    <source media="(min-width: 0px)" srcset="{{ab.rutaimagen}}"
                        data-srcset="{{ab.rutaimagen}}">
                    <source media="(min-width: 968px)" srcset="{{ab.rutaimagen}}" data-srcset="{{ab.rutaimagen}}">
                    <source media="(min-width: 0px)" srcset="{{ab.rutaimagenmovil}}" data-srcset="{{ab.rutaimagenmovil}}">
                    <img src="{{ab.rutaimagen}}" data-src="{{ab.rutaimagen}}" alt="{{ab.titulo}}"
                        class="lazyload mh300">
                </picture>
            </div>
            <div class="m-2">
                <div class="d-flex w-100">
                    <div class="fs-16 p-1 text-left">
                        <span class="bgG px-2">
                            {{ab.categoria.length > 20 ? ab.categoria.substring(0, 17)+ '...' : ab.categoria}}
                        </span>
                    </div>
                    <div class="fs-16 p-1 text-right ml-auto mr-0">{{ab.mes}} {{ab.year}}</div>
                </div>
                <div class="fs-22 p-1 text-center">
                    {{ab.titulo.length > 40 ? ab.titulo.substring(0, 37)+'...' : ab.titulo }}
                </div>
                <div class="linecell"></div>
                <div class="p-1">
                    <p class="fs-20 my-3 pb-5">{{ab.texto.length > 225 ? ab.texto.substring(0, 222)+ '...' :
                        ab.texto }}
                        <br>
                        <a routerLink="/blogdetalle/{{ab.id}}"  class="fs-bt cupo btxanaduB destac">
                            ...leer más
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> 