
<!-- <Files 403.shtml>
order allow,deny
allow from all
</Files> -->

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Permitir acceso a 403.shtml
    <Files 403.shtml>
        order allow,deny
        allow from all
    </Files>

    # Si el archivo o directorio solicitado existe, servirlo directamente
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Si el archivo o directorio no existe, redirigir todo a /index.html
    RewriteRule ^ /index.html [L]
</IfModule>
