<div class="w-100 ">

    
    <div #sec1 class="pc" >
        <div class="h100"></div>
        <app-slidervisita   [visitaId]="visitaId"  ></app-slidervisita>
    </div>
    <div #sec2 class="mvl" >
        <app-slidervisitamovil   [visitaId]="visitaId"  ></app-slidervisitamovil>
    </div>

    <div #sec3 class="pc" >
        <app-slidervisitasinteresar></app-slidervisitasinteresar>
    </div>

    <section #sec3 class="my-3" >
        <app-zonacontacto></app-zonacontacto>
    </section>
    

</div>


<div>
</div>