<div class="px-0">
    <div class="w-100 p-0 m-0">

        <app-banner [enlace]="idenlace"></app-banner>

        <div class="posrel w-100">
            <div class="posabsol text-center w-100" style="bottom: 2px; left: 0; right: 0; z-index:10">
                <i (click)="scrollToElement(texto_1)" class="fas fa-chevron-circle-down colAma2 cupo fs-30"></i>
            </div>
        </div>

        <section #texto_1 class="wow animated fadeInUp slow py-4 px-xl-5 px-1" data-wow-delay="0.4s">
            <div class="h80"></div>
            <app-textosecciones [texto]="texto1" [titulo]="titulo1"></app-textosecciones>
        </section>

        <section #triplecoleccion class="wow animated fadeInUp slow py-4 pb-0 px-xl-5 px-1" data-wow-delay="0.4s">
            <app-triple [tipo]="7" [enlace]="idenlace"></app-triple>
            <div class="h80"></div>
        </section>

        <section class="wow animated fadeInUp slow py-4 px-xl-5 px-1" data-wow-delay="0.4s">
            <app-textosecciones [texto]="texto2" [titulo]="titulo2"></app-textosecciones>
        </section>

        <section #imagenescoleccion class="wow animated fadeInUp slow  py-5 px-xl-5 px-1" data-wow-delay="0.4s">
            <app-galeriacolecciones [idcoleccion]="idcoleccion" [idenlace]="idenlace"  ></app-galeriacolecciones>
        </section>

        <!--contactar---->
        <section #contacto id="contacto" class="wow animated fadeInUp slow  py-0 px-xl-5 px-1 " data-wow-delay="0.4s">
            <app-contactar></app-contactar>
        </section>

    </div>
</div>