<div class="container">
  <div class="dist1"></div>
  <div class="row p-0 m-0 ">
    <div class="col-12 p-0 text-center ">
        <div id="titulovisitas">
          <div class="colGRIS1 mx-2">{{textconts.recommended_message1}} </div>
          <div class="colROJO3 mx-1">{{textconts.recommended_message2}}</div>
        </div>
    </div>
  </div>
  <div class="dist3" ></div>
  <div id="divvisitas" class="w-100"  >
      <swiper  [config]="config" >
      <div class="p-0 m-0"  *ngFor="let visita of recommendedData ">
          <div class="panelVisita posrel cupo"  (click)="verdetalle(visita)"  >
              <div class="visitastemporada" *ngIf="visita?.temporada "  >
                <div>
                  {{textconts.buscador_visitatemporada}} 
                </div>
              </div>
              <div class="imgvisita" >
                  <picture>
                      <source media="(min-width: 0px)" srcset="{{visita.mediafile}}"
                          data-srcset="{{visita?.mediafile}}" class="pc" >
                      <img src="{{visita?.mediafile}}" data-src="{{visita?.mediafile}}"
                          alt="" class="pc imgvisita lazyload bordeimagencard">
                      <source media="(min-width: 0px)" srcset="{{visita?.mediafile}}"
                          data-srcset="{{visita?.mediafile}}" class="mvl" >
                      <img src="{{visita?.mediafile}}" data-src="{{visita?.mediafile}}"
                          alt="" class="mvl imgvisita lazyload bordeimagencard">
                  </picture>
              </div>
              <div class="w-100 p-0 m-0">
                  <div class="titvisita" >
                      <span>{{ visita?.titulo.length > 50 ? visita?.titulo.substring(0,47)+'...' : visita?.titulo }} </span>
                  </div>
                  <div class="textvisita">
                    <span [innerHTML]=" visita?.descripcion.length > 70 ? visita?.descripcion.substring(0,67)+'...' : visita?.descripcion " >
                    </span>
                  </div>
                  <div class="infovisita  d-flex w-100 ">
                      <div class="preciovisita"> 
                        <span class="preciovisitaeuro">{{visita?.precio | decimalComa}} €</span>
                        <span class="porpersona"> {{textconts.buscador_porpersona }}  </span> 
                      </div>
                      <div class="horasvisita"> 
                        <img  class="imghorasvisita  mb-2 mx-1" src='assets/images/i-reloj.svg' alt="">
                        <span class="cantidadhorasvisita ">{{ visita?.duracionmin / 60 }}h</span>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </swiper>
  </div>
  <div class="dist1" ></div>
  <div class="row p-0 m-0">
    <div class="col-12 p-0 text-center">
        <button id="btvertodas" type="button" class="cupo" (click)="verrecomendadas()" >
          <span>{{textconts.recommended_button}}</span>  
        </button>
    </div>
  </div>
  <div class="dist2" ></div>

</div>