<div class="px-0">
    <div class="w-100 p-0 m-0">

        <app-banner [enlace]="idenlace"></app-banner>

        <div class="posrel w-100">
            <div class="posabsol text-center w-100" style="bottom: 2px; left: 0; right: 0; z-index:10">
                <i (click)="scrollToElement(politicascookies)"
                    class="fas fa-chevron-circle-down colAma2 cupo fs-30"></i>
            </div>
        </div>

        <!--politicas---->
        <section #politicascookies class="wow animated fadeInUp slow sobre py-0 px-xl-5 px-1" data-wow-delay="0.4s">
            <div class="sobrelayer py-5">
                <div class="container d-block my-3">
                    <div class="flex justify-content-between align-items-center ">
                        <h2 class="fs-titulo text-center">
                            POLITICAS DE COOKIES
                        </h2>
                        <div class="linetextAma"></div>

                        <div class="justify-content-center my-4 fs-18">
                            <div>
                                <h4>¿Qué son las Cookies y para qué se utilizan?</h4>
                            </div>
                            <div>
                                <p>Una Cookie es un fichero que se descarga en su ordenador al acceder a determinadas
                                    páginas web.<br>
                                    Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar
                                    información sobre los hábitos de navegación de un usuario o de su equipo y,
                                    dependiendo de la información que contenga y de la forma en que utilice su equipo,
                                    pueden utilizarse para reconocer al usuario.</p>
                                <p>Las cookies son esenciales para el funcionamiento de internet, aportando innumerables
                                    ventajas en la prestación de servicios interactivos, facilitándole la navegación y
                                    usabilidad de nuestra web.</p>
                            </div>
                            <div>
                                <h4>Tipos de Cookies que se utilizan</h4>
                            </div>
                            <div>
                                <ul>
                                    <li><p>Según la entidad que las gestione:</p>
                                        <ul>
                                            <li><p>Cookies propias: Son aquellas que se recaban por el propio editor para
                                                prestar el servicio solicitado por el usuario.</p></li>
                                            <li><p>Cookies de tercero: Son aquellas que son recabadas y gestionadas por un
                                                tercero, estas no se pueden considerar propias.</p></li>
                                        </ul>
                                    </li>
                                    <li><p>Según el plazo de tiempo que permanezcan activadas:</p>
                                        <ul>
                                            <li><p>Cookies de sesión: Recaban datos mientras el usuario navega por la red
                                                con la finalidad de prestar el servicio solicitado.</p></li>
                                            <li><p>Cookies persistentes: Se almacenan en el terminal y la información
                                                obtenida será utilizada por el responsable de la cookie con la finalidad
                                                de prestar el servicio solicitado.</p></li>
                                        </ul>
                                    </li>
                                    <li><p>Según su finalidad:</p>
                                        <ul>
                                            <li><p>Cookies técnicas: Son las necesarias para la correcta navegación por la
                                                web.</p></li>
                                            <li><p>Cookies de personalización: Permiten al usuario las características
                                                (idioma) para la navegación por la website.<p></li>
                                            <li><p>Cookies de análisis: Permiten al prestador el análisis vinculado a la
                                                navegación realizada por el usuario, con la finalidad de llevar un
                                                seguimiento de uso de la página web, así como realizar estadísticas de
                                                los contenidos más visitados, número de visitantes, etc.</p></li>
                                            <li><p>Cookies publicitarias: Permiten al editor incluir en la web, espacios
                                                publicitarios, según el contenido de la propia web.</p></li>
                                        </ul>
                                    </li>
                                </ul>
                                <p>Asimismo es posible que al visitar alguna pagina web o al abrir algún email donde se
                                    publique algún anuncio o alguna promoción sobre nuestros productos o servicios se
                                    instale en tu navegador alguna cookie que nos sirve para mostrarte posteriormente
                                    publicidad relacionada con la búsqueda que hayas realizado, desarrollar un control
                                    de nuestros anuncios en relación, por ejemplo, con el numero de veces que son
                                    vistos, donde aparecen, a que hora se ven, etc.</p>
                            </div>
                            <div>
                                <h4>Desactivación o eliminación de Cookies</h4>
                            </div>
                            <div>
                                <p>Puedes permitir, bloquear o eliminar las cookies instaladas en tu equipo mediante la
                                    configuración de las opciones del navegador instalado en tu ordenador, en caso que
                                    no permitas la instalación de cookies en tu navegador es posible que no puedas
                                    acceder a alguna de las secciones de nuestras webs.</p>
                                <p>Para más información sobre como bloquear el uso de la cookies puedes visitar los
                                    siguientes enlaces:</p>
                                <ul>
                                    <li><p>Firefox desde aquí:&nbsp;<a
                                            href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias"
                                            target="_blank"
                                            rel="noopener">https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias</a></p>
                                    </li>
                                    <li><p>Chrome desde aquí:&nbsp;<a
                                            href="https://support.google.com/chrome/answer/95647?hl=es" target="_blank"
                                            rel="noopener">https://support.google.com/chrome/answer/95647?hl=es</a></p></li>
                                    <li><p>Explorer desde aquí:&nbsp;<a
                                            href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies#ie=ie-10"
                                            target="_blank"
                                            rel="noopener">https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies#ie=ie-10</a></p>
                                    </li>
                                    <li><p>Safari desde aquí:&nbsp;<a
                                            href="https://support.apple.com/kb/ph17191?locale=es_ES" target="_blank"
                                            rel="noopener">https://support.apple.com/kb/ph17191?locale=es_ES</a></p></li>
                                    <li><p>Opera desde aquí:&nbsp;<a
                                            href="https://www.opera.com/help/tutorials/security/privacy/"
                                            target="_blank"
                                            rel="noopener">https://www.opera.com/help/tutorials/security/privacy/</a></p>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <h4>Terceros prestadores de servicios</h4>
                            </div>
                            <div>
                                <p>En concreto los terceros prestadores de servicios con los que hemos contratado algún
                                    servicio para el que es necesaria la utilización de cookies son:</p>
                                <p><b>Nombre del proveedor</b>: Google Analytics<br>
                                    <b>Finalidad de la cookie</b>: Estudio de la audiencia.<br>
                                    <b>Descripción de la finalidad de la cookie</b>: Obtener información de la
                                    navegación, medir y analizar la audiencia.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

    </div>
</div>