
<div class="container px-xl-1 "  >
    

    <div class="h40"></div>

    <div class="w-100 d-flex p-0 m-0 ">
        <div class="posrel p-0 text-left ">
            <div id="titulovisita">
                <span class="colGRIS1">{{visita.title}} </span>
            </div>
        </div>
        <div class=" d-flex ml-auto mr-0 posrel">
            <div class="horasvisit"> 
              <img  class="imghorasvisita  mb-2 mr-1" src='assets/images/i-reloj.svg' alt="">
              <span class="cantidadhorasvisita ">{{visita.duration}}h</span>
            </div>
            <div class="linvertical mx-3"></div>
            <div > 
              <span class="colGRIS1 mr-2 fs-16">Desde</span> 
              <span class="preciovisitaeuro">{{visita.price}}€ </span>
            </div>
            <div class="posabsol d-flex cupo" style="top: 30px; right: 0px" (click)="abrirverredes()" > 
              <img src="../../assets/images/i-compartir.svg" class="imicono4" draggable="false">
              <span class="colGRIS1 mr-2 fs-16">Compartir</span> 
              <span class="colGRIS1"  >
                <i class=" fa fa-angle-down fs-16" *ngIf="!verredes" ></i>
                <i class=" fa fa-angle-up fs-16" *ngIf="verredes" ></i>
              </span>
              <div class="modalredes animated fadeInDown" *ngIf="verredes">
              <div *ngFor="let r of redes">
                <div class="cupo d-flex" (click)="compartir(visita, r.name)">
                   <div class="colGRIS3"> {{r.name}} </div>
                   <div class="ml-auto mr-1">
                    <img class="h16"  [src]='r.logo' [alt]="r.name"  />  
                </div>
                </div>
              </div>
            </div>
            </div>
        </div>
    </div>

    <div class="h60"></div>

    <div #detallevisita id="detallevisita" class=" d-flex" >
        <div class="p-0 m-0 ffimaglat" >

            <div class="conteni posrel d-flex" >

                <div class="p-0 m-0 fimaglat">
                    <div class="p-0 m-0 imageneslat" *ngFor="let imageneslat of listaImagenesVisitaLat ">
                        <div #imageneslatid id="imlt-{{imageneslat.id}}" class="chimaglat cupo">
                            <picture>
                                <source media="(min-width: 0px)" srcset="{{imageneslat.url}}"
                                    data-srcset="{{imageneslat.url}}">
                                <img class="imglat" [ngClass]="{'imgsel': imageneslat.sel}" src="{{imageneslat.url}}"
                                    data-src="{{imageneslat.url}}" alt="{{imageneslat.id}}">
                            </picture>
                        </div>
                    </div>
                </div>

                <div class="detalleslider">
                    <swiper #imagenlista id="imagenlista" [config]="config" (slideChangeTransitionEnd)="getIndexSel()">

                        <div id="im-{{imagenes.id}}" class="p-0 m-0 imageneslat"
                            *ngFor="let imagenes of listaImagenesVisita">
                            <div class="posrel">
                                <div class="visitastemporada" >
                                    <div>
                                        Visita de temporada
                                    </div>
                                </div>
                                <div class="posrel w-100">
                                    <picture>
                                        <source media="(min-width: 0px)" srcset="{{imagenes.url}}"
                                            data-srcset="{{imagenes.url}}">
                                        <img src="{{imagenes.url}}" data-src="{{imagenes.url}}" alt="{{imagenes.id}}"
                                            style="object-fit: cover; max-width: 635px; height: 480px ;">
                                    </picture>
                                </div>
                            </div>
                            

                        </div>

                    </swiper>
                </div>

                <div   class="posrel"  >
                    <div class="posabsol" style="height: 1200px;" >
                        <div #fdetallecale id="fdetallecale"  [ngClass]="{ 'posfixed80': pegaj == 2, 'posrelinicio': pegaj == 1, 'posrelfinal': pegaj == 3  }"   >
                            <div #detallecale id="detallecale"   class="m-0 p-4 divcalendar "   >
        
                            <div #cale id="cale" class="cajaselecvisita" *ngIf="caleinfo != ''">
                                <div class="w-100 d-flex cupo" (click)="verCale()">
                                    <div class="fs-20 ml-0 mr-auto">
                                        <span class="ml-1 colGRIS1">
                                            {{caleinfo}}
                                        </span>
                                    </div>
                                    <div class="text-right mr-0 ml-auto">
                                        <i class="fa fa-angle-down" *ngIf="!vcale"></i>
                                        <i class="fa fa-angle-up" *ngIf="vcale"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper-calendar p-0 animated fadeIn" *ngIf="vcale || caleinfo == ''">
                                <div class="header-calendar">
                                    <div>
                                        <div (click)="changeMonth(-1)" class="text-center arrowcalendar">
                                            <i class="fa fa-angle-left "> </i>
                                        </div>
                                    </div>
                                    <div class="month-calendar">{{mSelect}}</div>
                                    <div class="age-calendar">{{ySelect}}</div>
                                    <div>
                                        <div (click)="changeMonth(1)" class="text-center arrowcalendar">
                                            <i class="fa fa-angle-right "> </i>
                                        </div>
                                    </div>
                                </div>
                                <ol class="olCalendar">
                                    <li *ngFor="let day of week" class="day-name ilCalendar ">{{day | slice:0:1}}</li>
                    
                                    <li class="liCalendar" [ngClass]="{'liCalendarSelected': day == daySel   }" (click)="clickDay(day)"
                                        [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
                                        *ngFor="let day of monthSelect; let first = first">
                                        <span>{{day?.value}}</span>
                                    </li>
                                </ol>
                            </div>
                    
                            <div class="p-0 my-3">
                                <div #hora class="cajaselecvisita">
                                    <div class="w-100 d-flex cupo" (click)="verHora()">
                                        <div class="fs-20 ml-0 mr-auto">
                                            <span class="colGRIS1 ff-JB" *ngIf="horainfo == ''">
                                                Hora
                                            </span>
                                            <span class="ml-1 colGRIS1">
                                                {{horainfo}}
                                            </span>
                                        </div>
                                        <div class="text-right mr-0 ml-auto">
                                            <i class="fa fa-angle-down" *ngIf="!vhora"></i>
                                            <i class="fa fa-angle-up" *ngIf="vhora"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-0 m-0" >
                                    <div class="row px-3 pt-2 m-0 animated fadeIn" [hidden]="!vhora">
                                        <div *ngFor="let li of listahoras" class="col-3 p-0 m-0">
                                            <input name="rbhora" id="rbhora-{{li.key}}" type="radio" value="{{li.key}}"
                                                (click)="horainfosel(li.value)" [(ngModel)]="horaSel">
                                            <label class="ml-1" for="rbhora-{{li.key}}">{{li.value}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="p-0 my-3">
                                <div #idioma class="cajaselecvisita">
                                    <div class="w-100 d-flex cupo" (click)="verIdioma()">
                                        <div class="fs-20 ml-0 mr-auto">
                                            <span class="colGRIS1 ff-JB" *ngIf="idiominfo == ''">
                                                Idioma
                                            </span>
                                            <span class="ml-1 colGRIS1">
                                                {{idiominfo}}
                                            </span>
                                        </div>
                                        <div class="text-right mr-0 ml-auto">
                                            <i class="fa fa-angle-down" *ngIf="!vidiom"></i>
                                            <i class="fa fa-angle-up" *ngIf="vidiom"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-0 m-0" >
                                    <div class="row px-3 pt-2 m-0 animated fadeIn" [hidden]="!vidiom">
                                        <div *ngFor="let li of listaidiomas" class="col-6 p-0 m-0">
                                            <input name="rbidiom" id="rbidiom-{{li.key}}" type="radio" value="{{li.key}}"
                                                (click)="idiomainfosel(li.value)" [(ngModel)]="idiomaSel">
                                            <label class="ml-2" for="rbidiom-{{li.key}}">{{li.value}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="p-0 my-3">
                                <div #persona class="cajaselecvisita">
                                    <div class="w-100 d-flex cupo" (click)="verPersona()">
                                        <div class="fs-20 ml-0 mr-auto d-flex">
                                            <span class="colGRIS1 ff-JB" *ngIf="adultoSel == 0 && ninosSel == 0 && menoresSel == 0">
                                                Personas
                                            </span>
                                            <div class="posrel fs-18" style="top: 0px"
                                                *ngIf="adultoSel != 0 || ninosSel != 0 || menoresSel != 0 ">
                                                <span class="ml-1 colGRIS1 ">
                                                    Adultos {{adultoSel}}
                                                </span>
                                                <span class="ml-3 colGRIS2 ">
                                                    Niños {{ninosSel}}
                                                </span>
                                                <span class="ml-3 colGRIS2 ">
                                                    Menores {{menoresSel}}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="text-right mr-0 ml-auto">
                                            <i class="fa fa-angle-down" *ngIf="!vpers"></i>
                                            <i class="fa fa-angle-up" *ngIf="vpers"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-0 m-0" >
                                    <div class="px-3 pt-2 m-0 animated fadeIn" [hidden]="!vpers">
                                        <div #adulto class="row my-2">
                                            <div class="col-4 text-left ">
                                                <div class="fs-8 posabsol" style="top: -6px">Adulto</div>
                                                <div class="fs-16">{{precioadultos}} €</div>
                                            </div>
                                            <div class="col-4">
                                                <div class="w-100 d-flex mw100">
                                                    <div class="posrelbtm5">
                                                        <div *ngIf="adultoSel == 0">
                                                            <img src="../../assets/images/i-restarapagado.svg" class="imicono4"
                                                                draggable="false">
                                                        </div>
                                                        <div class="cupo" *ngIf="adultoSel > 0" (click)="restaradulto()">
                                                            <img src="../../assets/images/i-restar.svg" class="imicono4" draggable="false">
                                                        </div>
                                                    </div>
                                                    <div class="fs-16 text-center w50">
                                                        {{adultoSel}}
                                                    </div>
                                                    <div class="posrelbtm5">
                                                        <div class="cupo" (click)="sumaradulto()">
                                                            <img src="../../assets/images/i-sumar.svg" class="imicono4" draggable="false">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4 text-right">
                                                <div class="fs-16">{{precioadultototal}} €</div>
                                            </div>
                                        </div>
                    
                                        <div #ninos class="row my-2">
                                            <div class="col-4 text-left ">
                                                <div class="fs-8 posabsol" style="top: -6px">ninos</div>
                                                <div class="fs-16">{{precioninos}} €</div>
                                            </div>
                                            <div class="col-4">
                                                <div class="w-100 d-flex mw100">
                                                    <div class="posrelbtm5">
                                                        <div *ngIf="ninosSel == 0">
                                                            <img src="../../assets/images/i-restarapagado.svg" class="imicono4"
                                                                draggable="false">
                                                        </div>
                                                        <div class="cupo" *ngIf="ninosSel > 0" (click)="restarninos()">
                                                            <img src="../../assets/images/i-restar.svg" class="imicono4" draggable="false">
                                                        </div>
                                                    </div>
                                                    <div class="fs-16 text-center w50">
                                                        {{ninosSel}}
                                                    </div>
                                                    <div class="posrelbtm5">
                                                        <div class="cupo" (click)="sumarninos()">
                                                            <img src="../../assets/images/i-sumar.svg" class="imicono4" draggable="false">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4 text-right">
                                                <div class="fs-16">{{precioninostotal}} €</div>
                                            </div>
                                        </div>
                    
                                        <div #menores class="row my-2">
                                            <div class="col-4 text-left ">
                                                <div class="fs-8 posabsol" style="top: -6px">menores</div>
                                                <div class="fs-16">{{preciomenores}} €</div>
                                            </div>
                                            <div class="col-4">
                                                <div class="w-100 d-flex mw100">
                                                    <div class="posrelbtm5">
                                                        <div *ngIf="menoresSel == 0">
                                                            <img src="../../assets/images/i-restarapagado.svg" class="imicono4"
                                                                draggable="false">
                                                        </div>
                                                        <div class="cupo" *ngIf="menoresSel > 0" (click)="restarmenores()">
                                                            <img src="../../assets/images/i-restar.svg" class="imicono4" draggable="false">
                                                        </div>
                                                    </div>
                                                    <div class="fs-16 text-center w50">
                                                        {{menoresSel}}
                                                    </div>
                                                    <div class="posrelbtm5">
                                                        <div class="cupo" (click)="sumarmenores()">
                                                            <img src="../../assets/images/i-sumar.svg" class="imicono4" draggable="false">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4 text-right">
                                                <div class="fs-16">{{preciomenorestotal}} €</div>
                                            </div>
                                        </div>
                    
                                        <div #total class="d-flex w-100 posrel my-3">
                                            <div class="ml-0 mr-auto ">
                                                <div class="fs-16">Total</div>
                                            </div>
                                            <div class="mr-0 ml-auto">
                                                <div class="fs-16 ff-JB">{{preciototal}} €</div>
                                            </div>
                                        </div>
                                        <div #maximo class="d-flex w-100 posrel my-3">
                                            <div class="ml-0 mr-auto ">
                                                <div class="fs-12">*Máximas personas visita <span class="ff-JB">{{maximopersonas}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div #checkprivada class="d-flex w-100 posrel my-3">
                                            <div class="ml-0 mr-auto ">
                                                <div class="fs-20 mr-2 posrel " style="top: -3px">
                                                    <input #priv type="checkbox" name="privada" id="privada" [value]="privada"
                                                        (change)="cambiarprivada(priv)">
                                                </div>
                                            </div>
                                            <div class="mr-0 ml-auto">
                                                <div class="fs-16 ">
                                                    Contratar visita privada.
                                                </div>
                                                <div class="fs-12 ffita colGRIS2">
                                                    *Implica asumir el precio al coste máximo de la visita independientemente del número
                                                    total de asistentes.
                                                </div>
                                            </div>
                                        </div>
                    
                                    </div>
                                </div>
                    
                                <div #validacioncale class="d-flex w-100 posrel my-1" *ngIf="calenovalid">
                                    <div class=" posrel " style="top:-4px">
                                        <img src="../../assets/images/i-validacion.svg" class="imicono8" draggable="false">
                                    </div>
                                    <div>
                                        <div class="fs-16 colROJO1">Elige la <span class="ff-JB">fecha</span> de la visita</div>
                                    </div>
                                </div>
                                <div #validacionhora class="d-flex w-100 posrel my-1" *ngIf="horanovalid">
                                    <div class=" posrel " style="top:-4px">
                                        <img src="../../assets/images/i-validacion.svg" class="imicono8" draggable="false">
                                    </div>
                                    <div>
                                        <div class="fs-16 colROJO1">Selecciona la <span class="ff-JB">hora</span> para la visita
                                        </div>
                                    </div>
                                </div>
                                <div #validacionidioma class="d-flex w-100 posrel my-1" *ngIf="idiomanovalid">
                                    <div class=" posrel " style="top:-4px">
                                        <img src="../../assets/images/i-validacion.svg" class="imicono8" draggable="false">
                                    </div>
                                    <div>
                                        <div class="fs-16 colROJO1">Selecciona <span class="ff-JB">idioma</span> para la visita
                                        </div>
                                    </div>
                                </div>
                                <div #validacionpers class="d-flex w-100 posrel my-1" *ngIf="persnovalid">
                                    <div class=" posrel " style="top:-4px">
                                        <img src="../../assets/images/i-validacion.svg" class="imicono8" draggable="false">
                                    </div>
                                    <div>
                                        <div class="fs-16 colROJO1">Selecciona <span class="ff-JB">número de personas</span> 
                                        </div>
                                    </div>
                                </div>
                    
                            </div>
                    
                            <div class="p-0 m-0">
                                <div id="btreservar">
                                    <div class="w-100">
                                        <div class="my-0 mx-auto text-center">
                                            <button class="btredondoRojoCalendar " type="button" (click)="reservarvisita()">
                                                <span class="ff-JB">Reservar</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="conteni d-flex">
                <div class="posrel mt-4">

                    <div class="pestas d-flex ">
                        <div id="pestaDescripcion" class="cupo text-center" [ngClass]="{'pulsada': pestaactiv == 1}"
                            (click)="ScrollToElement(zoneDescripcion,1)">
                            Descripción
                        </div>
                        <div class="linvertical"></div>
                        <div id="pestaPrecios" class="cupo text-center" [ngClass]="{'pulsada': pestaactiv == 2}"
                            (click)="ScrollToElement(zonePrecios,2)">
                            Precios
                        </div>
                        <div class="linvertical"></div>
                        <div id="pestaDetalles" class="cupo text-center" [ngClass]="{'pulsada': pestaactiv == 3}"
                            (click)="ScrollToElement(zoneDetalles,3)">
                            Detalles
                        </div>
                        <div class="linvertical"></div>
                        <div id="pestaCancelaciones" class="cupo text-center" [ngClass]="{'pulsada': pestaactiv == 4}"
                            (click)="ScrollToElement(zoneCancelaciones,4)">
                            Cancelaciones
                        </div>
                        <div class="linvertical"></div>
                        <div id="pestaPuntoencuentro" class="cupo text-center" [ngClass]="{'pulsada': pestaactiv == 5}"
                            (click)="ScrollToElement(zonePuntodeencuentro,5)">
                            Punto de encuentro
                        </div>
                    </div>
                </div>
            </div>

            <div class="conteni ">

                <div #zoneDescripcion class="scroll-with-offset mb-4">
                    <div class="posrel mt-4 ">
                        <div class="fs-18" [innerHtml]="descripcioncorta" *ngIf="!vermas" >
                        </div>
                        <div class="colROJO1 cupo" (click)="abrirvermas()" *ngIf="!vermas">
                            Ver descripción completa
                        </div>
                        <div class="fs-18" [innerHtml]="descripcion" *ngIf="vermas" >
                        </div>
                    </div>
                </div>

                <div class=" w-100 linecell"></div>
            </div>
            <div class="conteni ">
                <div #zonePrecios class="scroll-with-offset mb-4">
                   
                        <div class="fs-20 my-3 ff-JB colGRIS1">
                            Precio
                        </div>
                        <table class="table fs-18" style="width: 304px"  >
                            <tbody>
                                <tr class="bgBLANCO2 trprecios">
                                    <td class="tdprecios">Adultos</td>
                                    <td class="tdprecios text-right">{{precioadultos}}</td>
                                </tr>
                                <tr class="bgBLANCO trprecios">
                                    <td class="tdprecios">Niños <span class="fs-12 ml-1">de 3 a 11 años</span></td>
                                    <td class="tdprecios text-right">{{precioninos}}</td>
                                </tr>
                                <tr class="bgBLANCO2 trprecios">
                                    <td class="tdprecios">Niños <span class="fs-12 ml-1">menores de 3 años</span></td>
                                    <td class="tdprecios text-right">{{preciomenores}}</td>
                                </tr>
                            </tbody>
                        </table>

                </div>
                <div class=" w-100 linecell"></div>
            </div>
            <div class="conteni ">
                <div #zoneDetalles class="scroll-with-offset mb-4">
                    <div class="fs-20 my-3 ff-JB colGRIS1">
                        Detalles
                    </div>
                    <div class="posrel my-3 ">
                        <div class="f-18" [innerHtml]="detalles" >
                        </div>
                    </div>
                    <div class="row fs-18 my-2">
                        <div class="col-xl-4">
                            <img src="../../assets/images/i-seguridad.svg" class="imicono8 posrel mb-2" draggable="false">
                            <span class="ml-2">Medidas covid-19</span>    
                        </div>
                        <div class="col-xl-8">
                            Todos nuestros servicios cumplen las recomendaciones para evitar el coronavirus.
                        </div>
                        <div class="linedots"></div>
                    </div>
                    <div class="row fs-18 my-2">
                        <div class="col-xl-4">
                            <img src="../../assets/images/i-relojG.svg" class="imicono8 posrel mb-2" draggable="false">
                            <span class="ml-2">Duración</span>    
                        </div>
                        <div class="col-xl-8">
                            2 horas
                        </div>
                        <div class="linedots"></div>
                    </div>
                    <div class="row fs-18 my-2">
                        <div class="col-xl-4">
                            <img src="../../assets/images/i-idiomas.svg" class="imicono8 posrel mb-2" draggable="false">
                            <span class="ml-2">Idiomas</span>    
                        </div>
                        <div class="col-xl-8">
                            Tour disponible en: Español, Italiano, Francés, Inglés y Ruso.
                        </div>
                        <div class="linedots"></div>
                    </div>
                    <div class="row fs-18 my-2">
                        <div class="col-xl-4">
                            <img src="../../assets/images/i-calendarioG.svg" class="imicono8 posrel mb-2" draggable="false">
                            <span class="ml-2">Cuando reservar</span>    
                        </div>
                        <div class="col-xl-8">
                            Se puede reservar hasta 1 hora antes del inicio si quedan plazas.
                        </div>
                        <div class="linedots"></div>
                    </div>
                    <div class="row fs-18 my-2">
                        <div class="col-xl-4">
                            <img src="../../assets/images/i-accesibilidad.svg" class="imicono8 posrel mb-2" draggable="false">
                            <span class="ml-2">Accesibilidad</span>    
                        </div>
                        <div class="col-xl-8">
                            Accesible en silla de ruedas.
                        </div>
                        <div class="linedots"></div>
                    </div>
                    <div class="row fs-18 my-2">
                        <div class="col-xl-4">
                            <img src="../../assets/images/i-mascotas.svg" class="imicono8 posrel mb-2" draggable="false">
                            <span class="ml-2">Macotas</span>    
                        </div>
                        <div class="col-xl-8">
                            Permitidas
                        </div>

                    </div>
                </div>
                <div class=" w-100 linecell"></div>
            </div>
            <div class="conteni ">
                <div #zoneCancelaciones class="scroll-with-offset mb-4">
                    <div class="fs-20 my-3 ff-JB colGRIS1">
                        Cancelaciones
                    </div>
                    <div class="posrel my-1 ">
                        <div class="f-18" [innerHtml]="cancelaciones" >
                        </div>
                    </div>
                </div>
                <div class=" w-100 linecell"></div>
            </div>
            <div class="conteni ">
                <div #zonePuntodeencuentro class="scroll-with-offset mb-4">
                    <div class="fs-20 my-3 ff-JB colGRIS1">
                        Punto de encuentro
                    </div>
                    <div class="posrel my-1 ">
                        <div class="f-18" [innerHtml]="puntodeencuentro" >
                        </div>
                    </div>
                    <a class="fs-14 my-3 colROJO1" [href]="googlemapsvisita" target="_blank" follow="nofollow">
                        Ver en Google Maps
                    </a>
                </div>
                
            </div>

        </div>

    </div>




    <div #finaldetalle id="finaldetalle"  class="h100"></div>


    






</div>