<div class="mhbannerhome ">
  <div class=" posrel"   >

    <div class="posabsolbeforemodal ">
      <div class="container posrel ">

        <div class="animated fadeInUp  posabsolmodalbannerhome" style="animation-delay: 1.2s"
          *ngIf="mostrarmodalbuscador">
          <div id="panelbuscadorhome">
            <div id="titulomodalbuscador">
              <div class="ff-JB">
                {{textconts.bannertop_tittle }}
              </div>
            </div>
            <div id="subtitulomodalbuscador">
              <div>
                <span>
                  {{textconts.bannertop_message1}}
                </span>
                <span class="ff-JB">
                  {{textconts.bannertop_message2}}
                </span>
              </div>
            </div>

            <div id="cjbuscador" class="posrel">
              <div id="divcjbuscador">
                <input #cjbusqueda id="cjbusqueda" type="text" maxlength="30"  class="colGRIS1 posabsolcjbuscador" 
                [placeholder]="textconts.bannertop_input" 
                 (keyup)="buscarprop()" [(ngModel)]="busqueda" [value]="busqueda"  />
                <button class="btredondoRojo posabsolbtbuscador" type="button" (click)="verbuscador()"  >
                  <span>{{textconts.bannertop_button}}</span>
                  <span><i class="fa fa-arrow-right "></i></span>
                </button>
                <div class="spinner-container posrel" *ngIf="loading && busqueda.length > 0"  >
                  <div class="spinner-border colGRIS8 posabsolbusc" role="status">
                  </div>
                </div>
              </div>
         
              <div class="posabsolprop">
                <div id="panelpropbuscador" *ngIf="busqueda.length > 0 && visitasprop.length > 0"  >
                  <div id="listaprop" class="bordeli p-0 m-0">
                    <div class="p-0" *ngFor="let visita of visitasprop">
                      <div class="cartamodalprop d-flex ">
                        <div class="imgcartamodalprop">
                          <div class="pc pl-1">
                            <picture>
                              <source media="(min-width: 0px)" srcset="{{visita.visit_image_url}}" data-srcset="{{visita.visit_image_url}}">
                              <img src="{{visita.visit_image_url}}" data-src="{{visita.visit_image_url}}" alt=""
                                class="imgcartamodalprop lazyload "  >
                            </picture>
                          </div>
                          <div class="mvl">
                            <picture>
                              <source media="(min-width: 0px)" srcset="{{visita.visit_image_url}}" data-srcset="{{visita.visit_image_url}}">
                              <img src="{{visita.visit_image_url}}" data-src="{{visita.visit_image_url}}" alt=""
                                class="imgcartamodalprop lazyload ">
                            </picture>
                          </div>
                        </div>
        
                        <div class="posrel infocartamodalprop cupo"  (click)="verdetalle(visita)"  >
                          <div id="textomodalprop">
                            {{visita.visit_lang_title.length > 30 ? visita.visit_lang_title.substring(0,27)+"..." : visita.visit_lang_title }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="posrel d-flex cupo" (click)="verbuscador()">
                    <div id="vertodosprop"   >
                      Ver todos los resultados para 
                      <span class="colROJO2 ml-1" >"{{busqueda.length > 50 ? busqueda.substring(0,47)+"..." : busqueda}}"</span>
                    </div>
                    <div>
                      <i id="flechaprop" class="fa fa-arrow-right mx-4"></i>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class=" posabsoliconosmodal">
          <div class="container posrel ">
            <div id="diviconos">
              <div class="w-100 row">
                <div class="col-3">
                  <div class="p-0 text-center">
                    <img id="iconobanner1" src="assets/images/i-guias-oficiales.svg " draggable="false"
                      style="height: 39px; width: 30px">
                  </div>
                  <div class="text-center py-2">
                    {{textconts.bannertop_icons_guide}}
                  </div>
                </div>
                <div class="col-3">
                  <div class="p-0 text-center">
                    <img id="iconobanner2" src="assets/images/i-grupos-reducidos.svg " draggable="false"
                      style="height: 39px; width: 30px">
                  </div>
                  <div class="text-center py-2">
                    {{textconts.bannertop_icons_group}}
                  </div>
                </div>
                <div class="col-3">
                  <div class="p-0 text-center">
                    <img id="iconobanner3" src="assets/images/i-hablamos-tu-idioma.svg" draggable="false"
                      style="height: 39px; width: 30px">
                  </div>
                  <div class="text-center py-2">
                    {{textconts.bannertop_icons_talk}}
                  </div>
                </div>
                <div class="col-3">
                  <div class="p-0 text-center">
                    <img id="iconobanner4" src="assets/images/i-precios-finales.svg " draggable="false"
                      style="height: 39px; width: 30px">
                  </div>
                  <div class="text-center py-2">
                    {{textconts.bannertop_icons_price}}
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="imagenbanner animated fadeIn slow" style="animation-delay: 1.2s" >
      <picture>
        <source media="(min-width: 968px)" srcset="assets/images/bannertop.jpg" data-srcset="assets/images/bannertop.jpg">
        <source media="(min-width: 0px)" srcset="assets/images/bannertop.jpg" data-srcset="assets/images/bannertop.jpg">
        <img src="assets/images/bannertop.jpg" data-src="assets/images/bannertop.jpg" alt="banner madguides"
          class="imagebannerhome" onerror="this.src='assets/images/sinimagen.png' ">
      </picture>
    </div>

  </div>
</div>