<div class="px-0">
    <div class="w-100 p-0 m-0">

        <app-banner [enlace]="idenlace"></app-banner>

        <div class="posrel w-100">
            <div class="posabsol text-center w-100" style="bottom: 2px; left: 0; right: 0; z-index:10">
                <i (click)="scrollToElement(nosotros)" class="fas fa-chevron-circle-down colAma2 cupo fs-30"></i>
            </div>
        </div>

        <!--1-nosotros---->
        <section #nosotros class="wow animated fadeInUp slow py-5 px-xl-5 px-1" data-wow-delay="0.4s">

            <app-textosecciones [texto]="texto1" [enlace]="idenlace" [link]="link1" [posicion]="posiciont1" [tipo]="tipotextoseccion"
                [titulo]="titulo1" [conenlace]="true"></app-textosecciones>

        </section>


        <!--2-empresa---->
        <section #empresa class="wow animated fadeInUp slow bgGris pt-0 pb-5 px-xl-5 px-1" data-wow-delay="0.4s">
            
            <app-montadasdlong  [titulo]="titulo2"  [enlace]="idenlace"  [link]="link2"
            [enlaceimagen1]="imagenlacea2" [enlaceimagen2]="imagenlaceb2" [enlaceimagenmovil]="imagenlacebmovil2"  >
            </app-montadasdlong>

            <div class="h80"></div>
            
            <app-textosecciones [texto]="texto2" [enlace]="idenlace" [link]="link2" [posicion]="posiciont2" [tipo]="tipotextoseccion"
                [titulo]="titulo2" [conenlace]="false"></app-textosecciones>

        </section>


        <!--3-sellos---->
        <section #sellos class="wow animated fadeInUp slow  pt-1 pb-5 mx-xl-5 mx-1" data-wow-delay="0.2s">
            <div class="h80"></div>

            <app-collagesellos [idenlace]="idenlace"></app-collagesellos>
            
            <div class="h80"></div>

        </section>


        <!--contactar---->
        <section #contacto id="contacto" class="wow animated fadeInUp slow  py-0 px-xl-5 px-1 "
            data-wow-delay="0.4s">

            <app-contactar ></app-contactar>
           
        </section>


    </div>
  
</div>