<div>

    <app-tituloadmin  [tituloadmin]="tituloadmin" (editarRecursos)="vertabla($event)"  ></app-tituloadmin>

</div>

<div class="w-100 posrel mih1200" >

    <div id="panelimagenes" class="panelA animated fadeIn slow  " *ngIf="editarRecursos == 1">

       <app-tablaimagenes  [idenlace]="idenlace" [pagi]="pagi"  ></app-tablaimagenes>

    </div>

    <div id="paneltextos" class="panelA animated fadeIn slow  " *ngIf="editarRecursos == 2">

        <app-tablatextos  [idenlace]="idenlace" [pagi]="pagi"  ></app-tablatextos>

    </div>

</div>

<div class="mh100"></div>


