<div class="mhbannerbuscador ">
  <div class="posrel w-100">

    <div class="posabsolresultado d-xl-flex ">
      <div class="posrel d-flex pl-2 mt-xl-2 mt-3">
        <img src="../../assets/images/i-luparojo.svg" class="imicono1" draggable="false">
        <div class="pc" id="textoresultado">Búsqueda</div>
        <div class="mvl" id="textoresultadomovil">Búsqueda</div>
        <div id="buscaresultado" class="mx-2">"{{busqueda}}"</div>
      </div>
      <div class="posrel px-2 mt-2">
        <div id="contresultado">{{numactividades}} actividades encontradas </div>
      </div>
    </div>

    <div class="imagenbannerbuscador animated fadeIn ">
      <picture>
        <source media="(min-width: 968px)" srcset="{{bannerfichadeproductoData.url}}" data-srcset="{{bannerfichadeproductoData.url}}">
        <source media="(min-width: 0px)" srcset="{{bannerfichadeproductoData.url_movil}}" data-srcset="{{bannerfichadeproductoData.url_movil}}">
        
        <img src="{{bannerfichadeproductoData.url}}" data-src="{{bannerfichadeproductoData.url}}" 
          class="imgbannerbusc " onerror="this.error= null;this.src='../../assets/images/sinimagen.jpg' ">
      </picture>
    </div>
  </div>
</div>