<div class="mh80"></div>
<div class="container px-xl-0 px-2 pb-5 ">

    <div class="h40"></div>
    <div class="w-100 d-flex posrel " >

        <div class="w-100 p-1" >
    
            <div class="w-100 mb-4">
                <div class="fs-24 ff-JB pb-1">
                    {{messagePoliticasData.title}}
                </div>
                <div class="pl-2 fs-18 my-3" [innerHtml]="messagePoliticasData.textohtml" >
                </div>
            </div>
           
        </div>
    </div>
    <div></div>
</div>



