<div class="w-100 ">

    <div #sec1 >

      <div class="container px-xl-0 px-2 ">

        <div id="contenidobusca" class="w-100 d-xl-flex ">
    
            <div id="menulatclienteadmin pc" *ngIf="!isrespon">
                <div class="h80"></div>
                <div class="pb-4 posrel">
                    <div id="selecenlace" class="menulateral pt-5 w-100">
                        <div class="p-2 fs-20 posfixedW280 ">
                            <div class="ff-JB py-0 m-0">
                                {{textconts.micuenta_hola}}
                            </div>
                            <div class="ff-JB colROJO1 pt-0 py-0 m-0">
                                {{usuario.name}}
                            </div>
                            <div class="linefull my-3"></div>
                            <div class="menulatenlace py-1 m-0 cupo" [ngClass]="{'activolat': vercuenta}"
                            [routerLink]="['/zonacliente/micuenta']" routerLinkActive="router-link-active" >
                                {{textconts.micuenta_menu_micuenta}}
                            </div>
                            <div class="menulatenlace py-1 m-0 cupo" [ngClass]="{'activolat': verreservas}"
                                [routerLink]="['/zonacliente/reservas']" routerLinkActive="router-link-active"   >
                                {{textconts.micuenta_menu_reservas}}
                            </div>
                            <div class="menulatenlace py-1 m-0 cupo" [routerLink]="['/ayuda']"
                                routerLinkActive="router-link-active">
                                {{textconts.menu_help}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

      <router-outlet (activate)="onActivate($event)"   ></router-outlet>
      
    </div>
    
</div>
