
  <div id="colecciones" class="p-0 m-0 mh500 "   >
      <div class="horizontal-container animated fadeIn slow pt-4" *ngIf="coleccionescargadas"  >
        <swiper [config]="config2">
          <div *ngFor="let slide2 of imagenescolecciones">
            <picture>
              <source media="(min-width: 968px)" srcset="{{slide2.rutapc}}"
                data-srcset="{{slide2.rutapc}}" class="mh500" >
              <source media="(min-width: 0px)" srcset="{{slide2.rutamovil}}"
                data-srcset="{{slide2.rutamovil}}" >
              <img src="{{slide2.rutapc}}" data-src="{{slide2.rutapc}}"
                alt="{{slide2.titulo}}" class="imagecolecciones lazyload mh500" onerror="this.src='assets/images/sinimagen.jpg' "  >
            </picture>
            <div class="animated fadeInUp slow  justify-content-center align-items-center text-center text-white posabsolcol" >
              <h3  routerLink="{{slide2.destino}}"  class="fs-30 mx-auto cupo" style="max-width: 400px;"> 
                 {{slide2.titulo}} 
              </h3>
            </div>
          </div>
        </swiper>
      </div>
  </div>