/*//////////////////////////////////////////////////////////////////https://www.1001fonts.com/search.html?search=spectral
[ FONT ]  
*/

@font-face {
    font-family: Ghotic-Regular;
    src: url('../fonts/gothic/Century-Gothic_9791.ttf');
}

@font-face {
    font-family: Ghotic-Bold;
    src: url('../fonts/gothic/Century-Gothic-Bold_9789.ttf');
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Ghotic-Regular, sans-serif !important;
}


/*---------------------------------------------*/

a {
    font-family: Ghotic-Regular,sans-serif  !important;
    font-size: 14px;
    line-height: 1.7;
    color: inherit !important;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    text-decoration: none !important;
    background-color: inherit;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none !important;
    color: inherit !important;
    
}



/*---------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p {
    font-family: Ghotic-Regular, sans-serif !important;
    font-size: 14px;
    line-height: 1.7;
    color: #393935;
    margin: 0px;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/

input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

input::-webkit-input-placeholder {
    color: #393935;
}

input:-moz-placeholder {
    color: #393935;
}

input::-moz-placeholder {
    color: #393935;
}

input:-ms-input-placeholder {
    color: #393935;
}

textarea::-webkit-input-placeholder {
    color: #393935;
}

textarea:-moz-placeholder {
    color: #393935;
}

textarea::-moz-placeholder {
    color: #393935;
}

textarea:-ms-input-placeholder {
    color: #393935;
}

label {
    display: block;
    margin: 0;
}




iframe {
    border: none !important;
}






/*==================================================================*/

@media only screen and (min-width: 993px) {
 
}

@media only screen and (max-width: 992px) {
 
}






