.tstbd1{
  border:2px solid rgb(92, 3, 3) !important;
}
.tstbd2{
  border:2px solid rgb(248, 92, 165) !important;
}
.tstbd3{
  border:2px solid rgb(136, 4, 189) !important;
}
.tstbd4{
  border:2px solid rgb(2, 168, 146) !important;
}





.menumvl {
  position: fixed !important;
  right: 0 !important;
  top: 0 !important;
  z-index: 889 !important;
}

.menupc {
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 889 !important;
  background-color: var(--c_BLANCO);
  color: var(--c_GRIS1);
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 1920px !important;
  box-shadow: 0 0 0.5rem 0 rgba(200, 200, 200, 0.2) !important;
}



/*******cookies**/

.aviso-cookies {
  display: block;
  background: #fff;
  padding: 20px;
  width: calc(100% - 40px);
  max-width: 340px;
  min-width: 300px;
  line-height: 150%;
  border-radius: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  padding-top: 60px;
  box-shadow: 0px 2px 20px 10px rgba(0, 0, 0, 0.55);
  text-align: center;
  height: 450px;
}

.aviso-cookies .galleta {
  max-width: 120px;
  height: auto;
  position: absolute;
  top: 10px;
  left: calc(50% - 60px);
}

.fondo-aviso-cookies {
  display: block;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.close {
  position: absolute;
  right: 8px;
  top: 0px;
}

/* toogle */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}



.mhcook {
  height: 400px !important;
  max-height: 400px;
}
.btcook {
  border-radius: 5x;
  border: 1px solid #efefef;
  height: 80px;
  width: 100%;
  padding: 5px;
  cursor: pointer;
}


  /**************menu **********/
  
  .hamb {
    cursor: pointer;
    position: fixed;
    right: 30px;
    top: 20px;
    z-index: 200;
    color: #ffffff;
    background-color: #00000030;
    padding: 1px 6px 1px 1px;
    border-radius: 2px;
  }
  
  .hambadmin {
    cursor: pointer;
    position: fixed;
    right: 30px;
    top: 20px;
    z-index: 200;
    color: #000000;
    padding: 1px 6px 1px 1px;
    border-radius: 2px;
  }
  
  .hambInt {
    cursor: pointer;
    position: relative;
    left: 20px;
    top: 20px;
    z-index: 210;
  }
  
  #sidebar {
    min-width: 380px;
    max-width: 380px;
    transition: all 0.5s;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0rem 0.5rem 2rem rgba(0, 0, 0, 0.2) !important;
    z-index: 900;
  }
  
  #sidebar.active {
    margin-right: 0px;
  }
  
  #sidebar {
    margin-right: -380px;
  }
  
  #sidebar ul li a {
    display: block;
  }
  
  .sbar {
    position: fixed;
    z-index: 400;
    right: -15px;
  }
  
  /*   productos    */
  
  .hambP {
    cursor: pointer;
    position: fixed;
    right: 30px;
    top: 130px;
    z-index: 200;
    color: #656565;
  }
  
  .hambIntP {
    cursor: pointer;
    position: relative;
    left: 20px;
    top: 30px;
    z-index: 108;
  }
  
  #sidebarP {
    min-width: 780px;
    max-width: 780px;
    transition: all 0.5s;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0rem 0.5rem 2rem rgba(0, 0, 0, 0.2) !important;
    z-index: 910;
  }
  
  #sidebarP.active {
    margin-right: 0px;
  }
  
  #sidebarP {
    margin-right: -780px;
  }
  
  #sidebarP ul li a {
    display: block;
  }
  
  .sbarP {
    position: fixed;
    z-index: 2;
    right: -15px;
  }

    
  .limenu {
    color: #656565;
    font-size: 20px !important;
    border-top: 0.5px solid #656565;
    border-bottom: 0.5px solid #656565;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  
  .lisubmenu {
    color: #656565;
    background-color: #efefef;
    font-size: 16px !important;
    border-top: 0.5px solid #656565;
    border-bottom: 0.5px solid #656565;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    text-align: left !important;
  }
  
  .lisub2menu {
    color: #656565;
    background-color: #fefaa7;
    font-size: 16px !important;
    border-top: 0.5px solid #656565;
    border-bottom: 0.5px solid #656565;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    text-align: left !important;
  }
  
  .limenupc {
    font-size: 18px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    min-width: 100px;
  }
  
  .limenupc.subs {
    min-width: 150px !important;
  }
  
  .lisubmenupc {
    color: #656565;
    background-color: #efefef;
    font-size: 16px !important;
    border: 0.5px solid #efefef;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    min-width: 240px !important;
    text-align: left !important;
  }
  
  .limenu.active,
  .lisubmenu.active {
    color: #000000 !important;
  }



  .posfixedmenu {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
  }



/**solo pc**************************************************mediaq********************************/

@media (min-width: 1790px) {
  .mxwbyn {
    max-width: 600px !important;
  }
}

@media (max-width: 1790px) {
  .pc2 {
    display: none;
  }

  .mxwbyn {
    max-width: 450px;
  }
}

@media (min-width: 1690px) {
  .pcmax {
    display: inherit;
  }

  .mvlmax {
    display: none;
  }

  
}

@media (max-width: 1690px) {
  .pcmax {
    display: none;
  }

  .mvlmax {
    display: inherit;
  }

  .mxwbyn {
    max-width: 100% !important;
  }
}

@media (min-width: 1490px) {
  .pc {
    display: inherit;
  }

  .mvl {
    display: none;
  }

  
}

/*movil ************************************************/

@media (max-width: 1490px) {



  .aviso-cookies {
    max-width: 280px;
    min-width: 200px;

    bottom: 20px;
    right: 0px;
    left: 0px;
    height: 350;
  }

  .aviso-cookies .galleta {
    width: 90px;
    height: auto;
  }

  #sidebar {
    margin-right: -380px;
  }
  #sidebar.active {
    margin-right: 0;
  }
  #sidebarCollapse span {
    display: none;
  }

  #sidebarP {
    min-width: 100%;
    max-width: 100%;
    margin-right: -100%;
  }

  #sidebarP.active {
    margin-right: 0;
  }
  #sidebarCollapseP span {
    display: none;
  }

  .pc {
    display: none !important;
  }

  .mvl {
    display: inherit !important;
  }

  
}

@media (max-width: 1200px) {
  .mhcook {
    height: 300px !important;
    max-height: 300px;
  }
  .btcook {
    height: 40px;
  }
}

@media (min-width: 800px) {
  .pcmin {
    display: inherit !important;
  }

  .mvlmin {
    display: none !important;
  }
}
@media (max-width: 800px) {
  .pcmin {
    display: none !important;
  }

  .mvlmin {
    display: inherit !important;
  }
}
