
<div class="container-flow  d-block posrel mhtriple">
    <div class="pc posabsol bordefoto cupo" style="top: 160px; left: 0px;" (click)="cambiartriple(1)" title="ver centrado" >
        <picture>
            <source media="(min-width: 0px)" srcset="{{imagenbpc}}" data-srcset="{{imagenbpc}}"
                class="mh400">
            <img src="{{imagenbpc}}" data-src="{{imagenbpc}}" alt="proyectos xanadu" class="lazyload mh400" onerror="this.src='assets/images/sinimagen.jpg' " >
        </picture>
    </div>
    <div class="posrel text-center mx-auto w47" >
        <div class="bordefoto"  >
            <picture>
                <source media="(min-width: 0px)" srcset="{{imagenapc}}" data-srcset="{{imagenapc}}"
                    class="mhtriple">
                <source media="(min-width: 0px)" srcset="{{imagenamovil}}" data-srcset="{{imagenamovil}}">
                <img src="{{imagenapc}}" data-src="{{imagenapc}}" alt="proyectos xanadu" class="lazyload mhtriple" onerror="this.src='assets/images/sinimagen.jpg' " >
            </picture>
        </div>
    </div>
    <div class="pc posabsol bordefoto cupo" style="top: 160px; right: 0px;" (click)="cambiartriple(2)" title="ver centrado"  >
        <picture>
            <source media="(min-width: 0px)" srcset="{{imagencpc}}" data-srcset="{{imagencpc}}"
                class="mh400">
            <img src="{{imagencpc}}" data-src="{{imagencpc}}" alt="proyectos xanadu" class="lazyload mh400" onerror="this.src='assets/images/sinimagen.jpg' " >
        </picture>
    </div>
</div>
