
  <div id="bannerhome"  class="p-0 m-0" style="height: 684px ; margin-top: 183px;" >
      <div class="horizontal-container animated fadeIn slow posrel"   >
       
            <picture>
              <source media="(min-width: 968px)" srcset="{{imagenbanner.rutapc}}"
                data-srcset="{{imagenbanner.rutapc}}" >
              <source media="(min-width: 0px)" srcset="{{imagenbanner.rutamovil}}"
                data-srcset="{{imagenbanner.rutamovil}}"  >
              <img src="{{imagenbanner.rutapc}}" data-src="{{imagenbanner.rutapc}}"
                alt="banner madguides" class="imagebannerseccion lazyload " onerror="this.src='assets/images/sinimagen.jpg' "   >
            </picture>

      </div>
  </div>