
  <div   class="mhbannerbuscador mb-5" >
      <div class="posrel w-100"   >
       
        <div class="imagenbannerbuscador animated fadeIn ">
          <picture>
            <source media="(min-width: 968px)" srcset="{{bannerurl}}" data-srcset="{{bannerurl}}">
            <source media="(min-width: 0px)" srcset="{{bannerurl}}" data-srcset="{{bannerurl}}">
            
            <img src="{{bannerurl}}" data-src="{{bannerurl}}" 
              class="imgbannerbusc " onerror="this.error= null;this.src='assets/images/sinimagen.png' ">
          </picture>
        </div>

      </div>
  </div>