<div>

    <app-tituloadmin  [tituloadmin]="tituloadmin" (editarRecursos)="vertabla($event)"  ></app-tituloadmin>

</div>

<div class="w-100 posrel mih1200" >

    <div id="panelimagenes" class="panelA animated fadeIn slow" *ngIf="editarRecursos == 1">

       <app-tablaimagenes  [idenlace]="idenlace" [pagi]="pagi"  ></app-tablaimagenes>

    </div>

    <div id="paneltextos" class="panelA  animated fadeIn slow" *ngIf="editarRecursos == 2">

        <app-tablatextos  [idenlace]="idenlace" [pagi]="pagi"  ></app-tablatextos>

    </div>

</div>

<div class="mh100"></div>


<!-- <div style="display: normal; width: 200px; font-size: 12px; font-weight: 600 ; position: fixed; z-index: 9999; left: 5px; top: 5px; color: #ffffff !important; background-color: rgba(60, 240, 120, 0.7); padding: 5px;">
    <pre>
       Valid:  {{forma.valid}}  
    <br>
       Status: {{forma.status}}
    <br>
       Valores:  {{forma.value | json}}  
    </pre>
</div> -->