<div class="px-0">
    <div class="w-100 p-0 m-0">

        <app-banner [enlace]="idenlace"></app-banner>
        
        <div class="posrel w-100">
            <div class="posabsol text-center w-100" style="bottom: 2px; left: 0; right: 0; z-index:10">
                <i (click)="scrollToElement(politicasprivacidad)"
                    class="fas fa-chevron-circle-down colAma2 cupo fs-30"></i>
            </div>
        </div>

        <!--contacto---->
        <section #politicasprivacidad class="wow animated fadeInUp slow sobre py-0 px-xl-5 px-1" data-wow-delay="0.4s">
            <div class="sobrelayer py-5">
                <div class="container d-block my-3">
                    <div class="flex justify-content-between align-items-center ">
                        <h2 class="fs-titulo text-center">
                            POLITICAS DE PRIVACIDAD
                        </h2>
                        <div class="linetextAma"></div>

                        <div class="justify-content-center my-4 fs-18">
                            <p>El contenido de esta página web es propiedad de Exposiciones y Montajes Luar, S.L.</p>
                            <p>Para dar cumplimiento a lo establecido en la Ley 34/2002, de 11 de julio, de Servicios de
                                la Sociedad de la Información y de Comercio Electrónico, a continuación indicamos los
                                datos de la información general de nuestro sitio web <a
                                    href="http://www.ingenieriayarquitectura.com" target="_blank"
                                    rel="noopener">www.proyectosymontajesxanadu.com</a></p>
                            <p>Titular: Exposiciones y Montajes Luar, S.L.<br>
                                C.I.F: B84662121<br>
                                Dirección: Avenida de las Nieves, 25. Polígono Industrial las Nieves. 28935 Mostoles,
                                Madrid<br>
                                Email: <a
                                    href="mailto:info@pergolasyporchesdemadera.com">info@pergolasyporchesdemadera.com</a><br>
                                Teléfono: 916 685 651</p>
                            <p><strong>1. Condiciones de uso</strong><br>
                                Las presentes Condiciones tienen por objeto regular el uso de esta página web que
                                Exposiciones y Montajes Luar, S.L. pone a disposición del público en la presente
                                URL.<br>
                                La utilización de la página web por un tercero le atribuye la condición de Usuario y,
                                supone la aceptación plena por dicho Usuario, de todas y cada una de las condiciones que
                                se incorporan en el presente Aviso Legal.<br>
                                El titular del Web puede ofrecer a través de esta página web, servicios o productos que
                                podrán encontrarse sometidos a unas condiciones particulares propias que, según los
                                casos, sustituyen, completan y/o modifican las presentes Condiciones, y sobre las cuales
                                se informará al Usuario en cada caso concreto.</p>
                            <p><strong>2. Uso correcto del sitio web</strong><br>
                                El usuario se compromete a utilizar la página web, los contenidos y servicios de
                                conformidad con la Ley, el presente Aviso Legal, las buenas costumbres y el orden
                                público. Del mismo modo, el usuario se obliga a no utilizar la página web o los
                                servicios que se presten a través de él con fines o efectos ilícitos o contrarios al
                                contenido del presente Aviso Legal, lesivos de los intereses o derechos de terceros, o
                                que de cualquier forma pueda dañar, inutilizar o deteriorar la página web o sus
                                servicios, o impedir un normal disfrute del sitio web por otros usuarios.<br>
                                Asimismo, el usuario se compromete expresamente a no destruir, alterar, inutilizar o, de
                                cualquier otra forma, dañar los datos, programas o documentos electrónicos y demás que
                                se encuentren en la presente página web.<br>
                                El usuario se compromete a no obstaculizar el acceso de otros usuarios al servicio de
                                acceso mediante el consumo masivo de los recursos informáticos a través de los cuales el
                                titular del sito web presta el servicio, así como realizar acciones que dañen,
                                interrumpan o generen errores en dichos sistemas.<br>
                                El usuario se compromete a no introducir programas, virus, macros, applets, controles
                                ActiveX o cualquier otro dispositivo lógico o secuencia de caracteres que causen o sean
                                susceptibles de causar cualquier tipo de alteración en los sistemas informáticos del
                                titular del sitio web o de terceros.</p>
                            <p><strong>3. Propiedad intelectual</strong><br>
                                Todos los contenidos que se recogen en www.proyectosymontajesxanadu.com, salvo que se
                                indique lo contrario, son titularidad exclusiva de Exposiciones y Montajes Luar, S.L. y,
                                con carácter enunciativo, que no limitativo, el diseño gráfico, los logotipos, los
                                textos, los gráficos, las ilustraciones, y demás elementos que aparecen en la página
                                web.<br>
                                Igualmente, todos los nombres comerciales, marcas o signos distintivos de cualquier
                                clase contenidos en el Web están protegidos por la Ley.<br>
                                El titular de la página web no concede ningún tipo de licencia o autorización de uso
                                personal al usuario sobre sus derechos de propiedad intelectual e industrial o sobre
                                cualquier otro derecho relacionado con su sitio web y los servicios ofrecidos en la
                                misma, sin el permiso previo y por escrito de Exposiciones y Montajes Luar, S.L..<br>
                                Por ello, el usuario reconoce que la reproducción, distribución, comercialización,
                                transformación, y en general, cualquier otra forma de explotación, por cualquier
                                procedimiento, de todo o parte de los contenidos de esta página web constituye una
                                infracción de los derechos de propiedad intelectual y/o industrial del titular de la
                                página web o del titular de los mismos.</p>
                            <p><strong>Copyright © Exposiciones y Montajes Luar, S.L. RESERVADOS TODOS LOS
                                    DERECHOS.</strong></p>
                        </div>

                    </div>
                </div>

            </div>
        </section>



    </div>

</div>