<div class="px-0">
    <div  class="w-100 p-0 m-0">

        <app-banner [enlace]="idenlace"></app-banner>

        <div  class="posrel w-100">
            <div class="posabsol text-center w-100" style="bottom: 2px; left: 0; right: 0; z-index:10">
                <i (click)="scrollToElement(pres)" class="fas fa-chevron-circle-down colAma2 cupo fs-30"></i>
            </div>
        </div>

        <section #pres  class="wow animated fadeInUp py-5 px-xl-5 px-1" data-wow-delay="0.4s">
            <app-textosecciones [texto]="texto1" [enlace]="idenlace"  [posicion]="posiciont1"
                [tipo]="idtipotexto" [titulo]="titulo1" [conenlace]="false"></app-textosecciones>
        </section>


        <section #blogdetalle id="article"  class="wow animated fadeInUp  py-5 px-xl-5 px-1" data-wow-delay="0.2s">
            <div class="h20"></div>
            <div class="container">
                
                <div class=" px-xl-5 px-1 d-block">
            
                    <div class="w-100 m-2">
                        <h2 class="fs-22 p-1 text-center"   >
                            {{articulo.titulo}}
                        </h2>
                        <div class="lineAma"></div>
                    </div>
            
                    <div class="w-100 p-0 bordefoto">
                        <picture>
                            <source media="(min-width: 968px)" srcset="{{articulo.rutaimagen}}"
                                data-srcset="{{articulo.rutaimagen}}" class="mh500">
                            <source media="(min-width: 0px)" srcset="{{articulo.rutaimagenmovil}}"
                                data-srcset="{{articulo.rutaimagenmovil}}">
                            <img src="{{articulo.rutaimagen}}" data-src="{{articulo.rutaimagen}}" alt="{{articulo.altimagen}}"
                                class="lazyload mh500" onerror="this.src='assets/images/sinimagen.jpg' ">
                        </picture>
                    </div>
            
                    <div class="w-100 py-2 px-1 m-2">
                        <div class="d-flex">
                            <div class="fs-16 p-1 text-left">
                                <span class="bgG px-2">
                                    <b class="mr-2">categoria</b>  {{articulo.categoria}} 
                                </span>
                            </div>
                            <div class="fs-16 p-1 text-right ml-auto mr-0">
                                <b class="mr-2">fecha</b>  {{articulo.mes}} {{articulo.year}} 
                            </div>
                        </div>
                        <div class="p-1">
                            <p class="fs-20 my-3 pb-5">
                                {{articulo.texto}}
                                <br>
                            </p>
                        </div>
                    </div>

                    <div class="w-100 m-2">
                        <h3 class="fs-20 p-1 text-center"   >
                            {{articulo.subtitulo}}
                        </h3>
                        <div class="lineNeg"></div>
                    </div>

                    <div class="w-100 py-2 px-1 m-2">
                        <div class="p-1">
                            <p class="fs-20 my-3 pb-5">
                                {{articulo.subtexto}}
                                <br>
                            </p>
                        </div>
                    </div>
            
                </div>
            </div>

        </section>


        <section #galeriablog class="wow animated fadeInUp slow py-5 px-xl-5 px-1" data-wow-delay="0.4s" bgAma2 >

            <app-galeriablog [idcategoria]="idcategoria" ></app-galeriablog>

            <div class="h40"></div>
        </section>


        <!--contactar---->
        <section #contacto id="contacto" class="wow animated fadeInUp slow  py-0 px-xl-5 px-1 " data-wow-delay="0.4s">

            <app-contactar></app-contactar>

        </section>
    </div>

</div>