<div>
  <button type="button" (click)="loginopen(mymodallogin)" id="btmodallogin" hidden style="display: none"  > </button>
  <ng-template #mymodallogin let-modal>
    <div class="mx-auto w-100 row" style="background-color: #FEFAA7"  >
      <div class="col-12 text-center m-auto justify-content-center ">
        <div class="modal-header">
          <div class="w-100 mx-auto text-center posrel"  style="left: 14px">
            <h4 class="modal-title" >LOGIN</h4>
          </div>
          <div  class="cupo close text-dark posrel" style="right: -15px; top: -20px;" aria-label="Close" (click)="cerrarmodallogin()">
            <span aria-hidden="true" >
              <i class="fa fa-times fs-16"></i>
            </span>
          </div>
        </div>
        <div class="modal-body mx-auto text-center mh300" >
          <div class="mx-auto mt-4 px-1">

            <form class="p-0 m-0" [formGroup]="forma">
              <div class="row  p-0 m-0">
                <div class="col-12 p-0 my-2">
                    <div class="posrel text-center" >
                      <div class="bold">
                        <span>Email</span>
                      </div>
                    </div>
                    <div class=" posrel" >
                        <input class="px-2 w-100 form-control " type="text" id="emaillogin"
                          [ngClass]="{'bdrojo': novalidoEmail }" name="emaillogin" formControlName="emaillogin"  [value]="emailloginsel">
                    </div>
                </div>
                <div class="col-12 p-0 my-2">
                    <div class="posrel text-center" >
                      <div class="bold">
                        <span>Password</span>
                      </div>
                    </div>
                    <div class=" posrel" >
                        <input class="px-2 w-100 form-control" type="password"  id="passwlogin"
                          [ngClass]="{'bdrojo': novalidoPassw }" name="passwlogin" formControlName="passwlogin"  [value]="passwloginsel" >
                    </div>
    
                </div>
              </div>

              <div class="my-4">
                <button class="btn btn-light" type="button" *ngIf="btactivado"  (click)="entrar()"  >
                  ENTRAR
                </button>
                <button class="btn btn-light apagado" type="button" *ngIf="!btactivado" title="Desactivado"
                  style="cursor: no-drop">
                  <i class="fa fa-user pr-2"></i> RELLENE LOS CAMPOS
                </button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

</div>


