
<div class="container-flow  d-block posrel mh770">
    <div class="pc posabsol bordefoto cupo" style="top: 90px; left: 0px; z-index: 10" routerLink="{{link1}}"  >
        <picture>
            <source media="(min-width: 0px)" srcset="{{enlaceimagen2}}" data-srcset="{{enlaceimagen2}}"
                class="mh500">
            <img src="{{enlaceimagen2}}" data-src="{{enlaceimagen2}}" alt="corradi" class="lazyload mh500" onerror="this.src='assets/images/sinimagen.jpg' " >
        </picture>
    </div>
    <div class="my-5 posabsol bordefoto cupo" style="right: 0px; top: -50px;" routerLink="{{link2}}" >
        <picture>
            <source media="(min-width: 968px)" srcset="{{enlaceimagen1}}" data-srcset="{{enlaceimagen1}}"
                class="mh700">
            <source media="(min-width: 0px)" srcset="{{enlaceimagenmovil}}" data-srcset="{{enlaceimagenmovil}}">
            <img src="{{enlaceimagen1}}" data-src="{{enlaceimagen1}}" alt="corradi" class="lazyload mh700" onerror="this.src='assets/images/sinimagen.jpg' " >
        </picture>
    </div>
</div>
