<IfModule mod_rewrite.c>
RewriteEngine on

# Redirect Public ports to NodeJS port
RewriteRule ^$ http://localhost:4000 [P,L]
RewriteRule ^$ https://localhost:4000 [P,L]
RewriteRule ^(.*)$ http://localhost:4000/$1 [P,L]
RewriteRule ^(.*)$ https://localhost:4000/$1 [P,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.html [L]
</IfModule>


