<div class="px-0">
    <div class="w-100 p-0 m-0">

        <app-banner [enlace]="idenlace"></app-banner>

        <div class="posrel w-100">
            <div class="posabsol text-center w-100" style="bottom: 2px; left: 0; right: 0; z-index:10">
                <i (click)="scrollToElement(press)" class="fas fa-chevron-circle-down colAma2 cupo fs-30"></i>
            </div>
        </div>

 
        <section #press id="press" class="wow animated fadeInUp slow sobre py-0 px-xl-5 px-1"
            data-wow-delay="0.4s">
        </section>

        <section #imagenescoleccion class="wow animated fadeInUp slow  py-5 px-xl-5 px-1" data-wow-delay="0.2s">

            <div class="container">
                <div class="row">
                    <div class="col-xl-4 my-0 mx-auto som" *ngFor="let image of imagenesgallery; let it of index">
                        <div class="cupo posrel" (click)="openmodal(mymodal , image)"
                            (mouseenter)=" x.style.display = 'block';" (mouseleave)=" x.style.display = 'none'; ">

                            <picture>
                                <source media="(min-width: 968px)" srcset="{{image.rutapc}}"
                                    data-srcset="{{image.rutapc}}">
                                <source media="(min-width: 0px)" srcset="{{image.rutamovil}}"
                                    data-srcset="{{image.rutamovil}}">
                                <img src="{{image.rutapc}}" data-src="{{image.rutapc}}" alt="banner xanaduproyectos"
                                    class="mh300 lazyload ">
                            </picture>
                            <div #x class="fondogallery m-0 p-0 posabsol"
                                style="display: none; min-height: 100%; width: 100%; top: 0; left:0">
                                <div class="text-left  text-white posabsoltt3 px-1">
                                    <div>
                                        <h3 class="subtitbanner "> {{image.nombre}} </h3>
                                    </div>
                                    <div class="lineAmafull"></div>
                                </div>
                                <div>
                                    <i class="fas fa-search fs-2 text-white p-4"></i>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>

            <div class="h80"></div>

            <div>

                <ng-template #mymodal let-modal>
                    <div class="modal-body">
                        <div class="posrel">
                            <div class="posabsol" style="right: 5px; top: 5px; z-index: 9999;">
                                <i class="cupo fas fa-times text-white fs-26" (click)="cerrarmodal()"></i>
                            </div>
                        </div>
                        <div>
                            <app-sliderlightbox [imagenesgaleria]="imagenesgallery" [enlace]="idenlace" [initial]="inic" [idtipoimagen]="idtipo" ></app-sliderlightbox>
                        </div>
                    </div>

                </ng-template>

            </div>
        </section>



        <section #contacto id="contacto" class="wow animated fadeInUp slow  py-0 px-xl-5 px-1 " data-wow-delay="0.4s">

            <app-contactar></app-contactar>

        </section>


    </div>
</div>