<div class="px-0">
    <div class="w-100 p-0 m-0">

        <app-banner [enlace]="idenlace"></app-banner>
        
        <div class="posrel w-100">
            <div class="posabsol text-center w-100" style="bottom: 2px; left: 0; right: 0; z-index:10">
                <i (click)="scrollToElement(pres)" class="fas fa-chevron-circle-down colAma2 cupo fs-30"></i>
            </div>
        </div>

        <section #pres class="wow animated fadeInUp slow py-5 px-xl-5 px-1" data-wow-delay="0.2s">
            <app-textosecciones [texto]="texto1" [enlace]="idenlace"  [posicion]="posiciont1"
                [tipo]="idtipotexto" [titulo]="titulo1" [conenlace]="false"></app-textosecciones>
        </section>


        <section #blogultis class="wow animated fadeInUp slow  pt-5 pb-0 px-xl-5 px-1" data-wow-delay="0.2s">

            <app-blogultis   [titulo]="titulo2"  ></app-blogultis>

        </section>


        <section #galeriablog class="wow animated fadeInUp slow py-5 px-xl-5 px-1 bgAma2 " data-wow-delay="0.2s">

            <app-galeriablog [idcategoria]="idcategoria" ></app-galeriablog>

            <div class="h40"></div>
        </section>


        <!--contactar---->
        <section #contacto id="contacto" class="wow animated fadeInUp slow  py-0 px-xl-5 px-1 " data-wow-delay="0.2s">

            <app-contactar></app-contactar>

        </section>
    </div>

</div>