<div class="container">

  <div class="h50"></div>

  <div id="divlogotestim" class="imglogotestim w-100 mx-auto text-center">
    <div>
      <img src="{{logoData.url}}" data-src="{{logoData.url}}"
        alt="" class="imglogotestim lazyload ">
    </div>
  </div>

  <div class="h35"></div>

  <div class="row p-0 m-0  ">
    <div class="col-12 p-0 text-center ">
      <div id="titulotestimonios">
        <span class="colGRIS1">{{messagesOpinionsData.title}} </span>
        <span class="colROJO3"> Madguides</span>
      </div>
    </div>
  </div>

  <div class="h65"></div>

  <div id="carrtestim ">
    <swiper [config]="config">
      <div class=" p-0 m-0 " *ngFor="let comentario of commentsData ">
        <div class="panelTestimonio ">
          <div class="posrel d-flex">
            <div class=" posimgtestim ">
              <picture>
                <source media="(min-width: 0px)" srcset="{{comentario.image}}"
                  data-srcset="{{comentario.image}}">
                <img src="{{comentario.image}}" data-src="{{comentario.image}}" alt=""
                  class="imgtestim bordecirculo">
              </picture>
            </div> 
            <div class="col-xl-4 col-0 ">
            </div>
            <div class="col-xl-8 col-12  infotestim posrel">
              <div class="autortestim ">
                <div class="pc">{{comentario.name}}</div>
                <div class="mvl">{{comentario.name.length > 20 ? comentario.name.substring(0,17)+"..." : comentario.name }}</div>
              </div>
              <div class="nombrevisitatestim " >
                <div>{{ comentario.lang_title.length > 23 ? comentario.lang_title.substring(0, 20)+"..." : comentario.lang_title }}</div>
              </div>
              <div class="texttestim " >
                <div>
                  <span [innerHtml]=" comentario.lang_description.length > 400 ? comentario.lang_description.substring(0, 397)+'...' : comentario.lang_description  " >
                  </span>
                </div>
              </div> 
              <div class="titulotestim">
                <div>{{comentario.visit_lang_description.length > 35 ? comentario.visit_lang_description.substring(0, 32)+"..." : comentario.visit_lang_description}}</div>
              </div> 
              <div class="veracttestim cupo "   (click)="verdetalle(comentario)">
                <div class="bordeme d-flex">  
                    {{messagesOpinionsData.view}}
                    <i class="fa fa-angle-right fs-10 mx-1 mt-1"></i>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>

    </swiper>
  </div>
</div>