<div class="mh80"></div>
<div class="container px-xl-0 px-2 pb-5 ">

    <div class="h40"></div>
    <div class="">

        <div class="w-100 mb-4">
            <div class="fs-24 ff-JB pb-4">
                {{textconts.quienes_title2a}}
            </div>
            <div class="pl-2 fs-18 my-3">
                {{textconts.quienes_text1}}
            </div>
        </div>
    </div>
</div>

<div class="w-100 bgBLANCO2 py100" style="padding: 100px 0" >
    <div class="container px-xl-0 px-1 ">
        <div class="d-xl-flex">

            <div  class="imagenempresa" >
                <picture>
                    <source media="(min-width: 0px)" srcset="assets/images/imagenempresa.jpg"
                        data-srcset="assets/images/imagenempresa.jpg">
                    <img src="assets/images/imagenempresa.jpg" data-src="assets/images/imagenempresa.jpg" alt=""
                     class="imglaempresa"  >
                </picture>
            </div>

            <div class="txtlat" >
                <div class="ff-JB fs-24  py-3">
                    {{textconts.quienes_title2a}}
                    <span class="colROJO1 mx-1"> {{textconts.quienes_title2b}}</span>
                </div>
                <div class="lh-1-4 fs-18">
                    <span>
                        {{textconts.quienes_text2}}
                    </span>
                </div>
                <div class="lh-1-4 my-3 fs-18" style="font-style: italic">
                    <span>
                        {{textconts.quienes_text3}}
                    </span>
                </div>
                <div class="lh-1-4 my-3 fs-18" >
                    <span>
                        {{textconts.quienes_text4}}
                    </span>
                </div>
                <div class="lh-1-4 my-3 fs-18" >
                    <span>
                        {{textconts.quienes_text5}}
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>

