<div class="w-100 ">

    <section #sec1 class="animated fadeIn slow" >
        <app-bannerhome></app-bannerhome>
    </section>

    <section #sec2 class="animated fadeInUp slow " >
        <app-slidervisitas></app-slidervisitas>
    </section>
    
    <section #sec3 class="animated fadeInUp slow " >
        <app-slidertestimonios></app-slidertestimonios>
    </section>
    
    <div class="mh100"></div>

    <section #sec3 class="my-3" >
       <app-zonacontacto></app-zonacontacto>
    </section>
    





</div>


<div>
</div>