<div class="w-100 ">

    <div #banner class="" >
        <app-bannerhome [mostrarmodalbuscador]="mostrarmodalbuscador" [textconts]="textconts"  ></app-bannerhome>
    </div>

    <div #recomendadas class="" >
        <app-slidervisitas [recommendedData]="visitasrecomendadas"  [textconts]="textconts"   ></app-slidervisitas>
    </div>
    
    <section #testimonios>
        <app-slidertestimonios [commentsData]="comments"  [textconts]="textconts"  >
        </app-slidertestimonios>
    </section>
    
    <div class="mh100"></div>

    <section #contct id="contct" class="my-3" >
        <div></div>
       <app-zonacontacto   [textconts]="textconts"   ></app-zonacontacto>
    </section>

</div>

<div>
</div>