<footer class="footer">

    <div class="w-100 bgBLANCO2 py-2">
        <div class="container pc"
            [ngClass]="{ 'footh300': !nomostrarenlacesfooter,'footh137' :  nomostrarenlacesfooter }">

            <div class="intfooter" class="row">
                <div class="col-xl-3 " *ngIf="!nomostrarenlacesfooter">
                    <div class="mr-xl-auto ml-xl-0 mx-auto  cupo" routerLink="/home">
                        <img id="logofooter" src="assets/images/logo-horizontal.svg" draggable="false"
                            onerror="this.error= null; this.src='../../assets/images/sinimagen.png' ">
                    </div>
                </div>
                <div class="col-xl-3 " *ngIf="!nomostrarenlacesfooter">

                    <div class="mx-auto colGRIS1">
                        <div class="mb-3">
                            <h4 class="fs-20 ff-JB ">
                                {{textconts.footer_menu1_title}}
                            </h4>
                        </div>
                        <div class="enlacefoot" routerLink="/quienessomos">
                            <span>{{textconts.footer_menu1_who}}</span>
                        </div>
                        <div class="enlacefoot" routerLink="/contacto">
                            <span>Contacto</span>
                        </div>
                        <div class="enlacefoot" routerLink="/ayuda">
                            <span>{{textconts.footer_menu1_help}}</span>
                        </div>
                        <!-- <div class="enlacefoot" routerLink="/medidascovid">
                            <span>{{textconts.footer_menu1_covid}}</span>
                        </div> -->
                    </div>
                </div>
                <div class="col-xl-3" *ngIf="!nomostrarenlacesfooter">
                    <div class="mx-auto colGRIS1">
                        <div class="mb-3">
                            <h4 class="fs-20 ff-JB ">
                                Legal
                            </h4>
                        </div>
                        <div class="enlacefoot" routerLink="/politicasprivacidad">
                            <span>{{textconts.footer_menu2_policy}}</span>
                        </div>
                        <div class="enlacefoot" routerLink="/avisolegal">
                            <span>{{textconts.footer_menu2_notice}}</span>
                        </div>
                        <div class="enlacefoot" routerLink="/politicascookies">
                            <span>{{textconts.footer_menu2_cookie}}</span>
                        </div>
                        <div class="enlacefoot" routerLink="/politicascompra">
                            <span>{{textconts.footer_menu2_purchase}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 " *ngIf="!nomostrarenlacesfooter">
                    <div class="mr-xl-auto ml-xl-0 mx-auto  flexcenter">
                        <img id="logoccmm" src="assets/images/logoccmm.png" draggable="false"
                            onerror="this.error= null; this.src='assets/images/sinimagen.png' ">
                    </div>
                </div>

                <div class="col-xl-3 " *ngIf="nomostrarenlacesfooter">
                    <div class="mr-xl-auto ml-xl-0 mx-auto  cupo" routerLink="/home">
                        <img id="logofooter3" src="assets/images/logo-horizontal.svg " draggable="false">
                    </div>
                </div>
                <div class="col-xl-3 " *ngIf="nomostrarenlacesfooter">
                    <div class="posrel colGRIS1">
                        <div class="posabsol cupo" style="left: 0; top: 50px" routerLink="/politicascompra"  >
                            <span>{{textconts.footer_menu2_purchase}}</span>
                        </div>
                    </div>
                </div>
                


                <div class="col-xl-6 " *ngIf="nomostrarenlacesfooter">
                    <div class="posrel colGRIS1">
                        <div class="posabsol d-flex" style="right: 0; top: 50px">
                            <div class="posrel" style="left: -30px">PAGO SEGURO</div>
                            <div>
                                <img src="../../assets/images/i-mastercard.svg" class="imicono3" draggable="false">
                            </div>
                            <div>
                                <img src="../../assets/images/i-visa.svg" class="imicono3" draggable="false">
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="row mvl px-3">
            <div class="col-12 my-2" *ngIf="!nomostrarenlacesfooter">
                <div class="mx-auto text-center cupo" routerLink="/home">
                    <img id="logofooter2" src="{{logoFooter.url}}" draggable="false">
                </div>
            </div>

            <div class="col-12 " *ngIf="!nomostrarenlacesfooter">

                <div class="mx-auto colGRIS1">
                    <div id="widg1" (click)="showwidg1()" class="accord cupo d-flex posrel">
                        <div class="text-left">
                            <span>
                                {{textconts.footer_menu1_title}}
                            </span>
                        </div>
                        <div class="posabsolRight mt-2">
                            <i class="fa-solid fa-angle-down" *ngIf="!widg1show"></i>
                            <i class="fa-solid fa-angle-up" *ngIf="widg1show"></i>
                        </div>
                    </div>
                    <div id="divwdg1" *ngIf="widg1show" class="animated fadeIn my-2">
                        <div class="enlacefoot" routerLink="/quienessomos">
                            <span>{{textconts.footer_menu1_who }} </span>
                        </div>
                        <div class="enlacefoot" routerLink="/contacto">
                            <span>Contacto</span>
                        </div>
                        <div class="enlacefoot" routerLink="/ayuda">
                            <span>{{textconts.footer_menu1_help}}</span>
                        </div>
                        <div class="enlacefoot" routerLink="/medidascovid">
                            <span>{{textconts.footer_menu1_covid}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" *ngIf="!nomostrarenlacesfooter">
                <div class="mx-auto colGRIS1">
                    <div id="widg2" (click)="showwidg2()" class="accord cupo d-flex posrel">
                        <div class="text-left">
                            <span>
                                {{textconts.footer_menu2_title}}
                            </span>
                        </div>
                        <div class="posabsolRight mt-2">
                            <i class="fa-solid fa-angle-down" *ngIf="!widg2show"></i>
                            <i class="fa-solid fa-angle-up" *ngIf="widg2show"></i>
                        </div>
                    </div>
                    <div id="divwidg2" *ngIf="widg2show" class="bordebot  animated fadeIn my-2">
                        <div class="enlacefoot" routerLink="/politicasprivacidad">
                            <span>{{textconts.footer_menu2_policy}}</span>
                        </div>
                        <div class="enlacefoot" routerLink="/avisolegal">
                            <span>{{textconts.footer_menu2_notice}}</span>
                        </div>
                        <div class="enlacefoot" routerLink="/politicascookies">
                            <span>{{textconts.footer_menu2_cookie}}</span>
                        </div>
                        <div class="enlacefoot" routerLink="/politicascompra">
                            <span>{{textconts.footer_menu2_purchase}}</span>
                        </div>
                    </div>
                    <div class="h30"></div>
                </div>
            </div>

            <div class="col-12" *ngIf="nomostrarenlacesfooter">
                <div class="posrel colGRIS1">
                    <div class="w-100 text-center">
                        <div>PAGO SEGURO</div>
                    </div>
                    <div class="w-100 d-flex">
                        <div class="w-50 text-right">
                            <img src="../../assets/images/i-mastercard.svg" class="imicono50" draggable="false">
                        </div>
                        <div class="w-50 text-left">
                            <img src="../../assets/images/i-visa.svg" class="imicono50" draggable="false">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3" *ngIf="nomostrarenlacesfooter">
                <div class="colGRIS1 text-center">
                    <div routerLink="/politicascompra">
                        <span>{{textconts.footer_menu2_purchase}}</span>
                    </div>
                </div>
            </div>
            <div class="mh60"></div>
        </div>
    </div>

    <div id="barrafooter">
        <div class="w-100 posrel d-flex">

            <div class="text-left my-3 mr-auto ml-0 ">
                <div class="fs-16 colGRIS3">
                    <a href="https://endesys.com" target="_blank">Powered by Endesys</a>
                </div>
            </div>
            <div class="text-right my-3 ml-auto mr-0">
                <a class="mx-xl-4 mx-2" href="https://www.facebook.com/" target="_blank" title="madguides en Facebook">
                    <i class="fa fa-facebook colBLANCO fs-24"></i>
                </a>
                <a class="mx-xl-4 mx-2" href="https://twitter.com/" target="_blank" title="madguides en Twitter">
                    <i class="fa fa-twitter colBLANCO fs-24"></i>
                </a>
                <a class="mx-xl-4 mx-2" href="https://instagram.com" target="_blank" title="proyectosxanadu en Youtube">
                    <i class="fa fa-instagram colBLANCO fs-24"></i>
                </a>
            </div>

        </div>
    </div>

    <div class="aviso-cookies bgBLANCO2 animated fadeInRight" style="animation-delay: 2s" id="aviso-cookies"
        *ngIf="!cookiesconsent">
        <div class="h60"></div>
        <img src="assets/images/cookies.png" alt="Galleta" data-src="assets/images/cookies.png"
            class="galleta lazyload " onerror="this.src='assets/images/sinimagen.png' ">
        <h3>{{textconts.cookies_title}} </h3>
        <p [innerHtml]="textconts.cookies_utilizamos" ></p>
        <div>
            <button class="btn bgROJO1 colBLANCO w-100 my-2" id="btn-aceptar-cookies" (click)="aceptarcookiestodas()">{{textconts.cookies_aceptar}}</button>
        </div>
        <div>
            <button class="btn bgGRIS3 colBLANCO w-100 my-2" id="btn-aceptar-cookies" (click)="denegarcookies()">{{textconts.cookies_denegar}}</button>
        </div>
        <div>
            <button class="btn bgVERDE colBLANCO w-100 my-2" id="btn-aceptar-cookies"
                (click)="openI(modalcookies)">{{textconts.cookies_configurar}}</button>
        </div>
        <div class="cupo mt-2" routerLink="/politicascookies">
            <p> {{textconts.cookies_verinfo}}</p>
        </div>
    </div>
    <div class="aviso-cookies-peq bgBLANCO2 animated fadeIn" style="animation-delay: 2s" id="aviso-cookies-peq"
        *ngIf="cookiesconsent" (click)="abrireditarcookies(modalcookies)"  >
        <img src="assets/images/cookies.png" alt="Galleta" data-src="assets/images/cookies.png"
         onerror="this.src='assets/images/sinimagen.png' "  class="cookiepeq"    >
    </div>

    
</footer>
<ng-template #modalcookies let-modal class="brdtest3" >
    <div class="modal-header">
        <div class="w-100 mx-auto text-center">
            <p class="fs-22" id="modal-basic-title"><b>{{textconts.cookies_preferencias}}</b></p>
        </div>
        <div class="close" aria-label="Close" (click)="cerrarmodalI()">
            <span><i class="fa fa-circle-xmark fs-20"></i></span>
        </div>
    </div>

    <form [formGroup]="formasetcookies" (ngSubmit)="gestionarcookies()">
        <div class="modal-body mx-auto my-2 w-100 ">
            <div class="row p-3">

                <div class="col-xl-8 px-2">
                    <div class="mhcook p-0 m-0">
                        <div class="mb-0" *ngIf="pestacookie == 1">
                            <span class="fs-18"><b> {{textconts.cookies_seguridad}} </b></span><br>
                            <span class="fs-16">
                                {{textconts.cookies_cookiesson}}
                            </span><br>
                            <span class="fs-16">
                                {{textconts.cookies_desdepanel}}
                            </span>
                        </div>
                        <div class="mb-0" *ngIf="pestacookie == 2">
                            <span class="fs-18"><b> {{textconts.cookies_esenciales}} </b></span><br>
                            <span class="fs-16">
                                {{textconts.cookies_sonaquellas}}
                            </span><br>
                            <span class="fs-16">
                                {{textconts.cookies_noseria}}
                            </span>
                            <div class="mt-2">
                                <label class="switch">
                                    <input type="checkbox" name="obligatorias" formControlName="obligatorias" readonly >
                                    <span class="sliderT round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="mb-0" *ngIf="pestacookie == 3">
                            <span class="fs-18"><b> {{textconts.cookies_funcionalidad}} </b></span><br>
                            <span class="fs-16">
                                {{textconts.cookies_registranlainfo}}
                            </span><br>
                            <span class="fs-16">
                                {{textconts.cookies_sonaquellas}}
                            </span>
                            <div class="mt-2">
                                <label class="switch">
                                    <input type="checkbox" name="funcionalidad" formControlName="funcionalidad">
                                    <span class="sliderT round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="mb-0" *ngIf="pestacookie == 4">
                            <span class="fs-18"><b> {{textconts.cookies_rendimiento}} </b></span><br>
                            <span class="fs-16">
                                {{textconts.cookies_ayudananalizar}}
                            </span><br>
                            <span class="fs-16">
                                {{textconts.cookies_midentrafico}}
                            </span>
                            <div class="mt-2">
                                <label class="switch">
                                    <input type="checkbox" name="rendimiento" formControlName="rendimiento">
                                    <span class="sliderT round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="mb-0" *ngIf="pestacookie == 5">
                            <span class="fs-18"><b> {{textconts.cookies_seguimiento}} </b></span><br>
                            <span class="fs-16">
                                {{textconts.cookies_publicidadsegmentada}}
                            </span><br>
                            <span class="fs-16">
                                {{textconts.cookies_mostraranuncios}}
                            </span>
                            <div class="mt-2">
                                <label class="switch">
                                    <input type="checkbox" name="seguimiento" formControlName="seguimiento">
                                    <span class="sliderT round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 mt-1 p-0 ">
                    <div class="btcook" (click)="setpestanacookie(1)">
                        <span class="fs-14">
                            {{textconts.cookies_tab_seguridad}}
                        </span>
                    </div>
                    <div class="btcook " (click)="setpestanacookie(2)">
                        <span class="fs-14">
                            {{textconts.cookies_tab_necesarias}}
                        </span>
                    </div>
                    <div class="btcook " (click)="setpestanacookie(3)">
                        <span class="fs-14">
                            {{textconts.cookies_tab_funcionalidad}}
                        </span>
                    </div>
                    <div class="btcook " (click)="setpestanacookie(4)">
                        <span class="fs-14">
                            {{textconts.cookies_tab_rendimiento}}
                        </span>
                    </div>
                    <div class="btcook " (click)="setpestanacookie(5)">
                        <span class="fs-14">
                            {{textconts.cookies_tab_seguimiento}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btredondoRojo" type="submit"> {{textconts.cookies_guardar}} </button>
        </div>
    </form>

</ng-template>