<footer class="footer fondofooter ">

    <div class="w-100">
        <div class="bgBLANCO2">
            <div class="container py-4">
                <div class="row ">

                    <div class="col-xl-3 my-0 p-0 mx-auto">
                        <div class="posrel text-center mh150 " >
                            <div class="posabsol cupo" style="right: 0px; left: 0px; top: -20px"
                                routerLink="/home">
                                <img src="assets/images/logo-madguides-vertical.svg " class="im100"
                                    draggable="false">
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 my-0">
                        <div class="mh150 fs-16 p-2 mx-auto im300"   >
                            <div class="">
                                <h4 class="fs-20 ff-JB">
                                    MADGuides
                                </h4>
                            </div>
                            <div class="cupo" routerLink="/quienessomos">
                                <span>Quienes somos</span>
                            </div>
                            <div class="cupo" routerLink="/blog">
                                <span>Blog</span>
                            </div>
                            <div class="cupo" routerLink="/ayuda">
                                <span>Ayuda</span>
                            </div>
                            <div class="cupo" routerLink="/medidascovid">
                                <span>Medidas Covid-19</span>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-3 my-0 p-2 ">
                        <div class="m150 fs-16 px-2 mx-auto im300">
                            <div>
                                <h4 class="fs-20 ff-JB">
                                    Legal
                                </h4>
                            </div>
                            <div class="cupo" routerLink="/politicaprivacidad">
                                <span>Política de privacidad</span>
                            </div>
                            <div class="cupo" routerLink="/avisolegal">
                                <span>Aviso legal</span>
                            </div>
                            <div class="cupo" routerLink="/politicacookies">
                                <span>Política de cookies</span>
                            </div>
                            <div class="cupo" routerLink="/politicacompra">
                                <span>Política de compra y devolución</span>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-3 my-0 p-2 ">
                        <div class="posrel d-flex mx-auto im300" >
                            <div class="my-4" >
                                <img src="assets/images/sello1.PNG " class="im100"
                                    draggable="false">
                            </div>
                            <div class="my-4">
                                <img src="assets/images/sello2.PNG " class="im100"
                                    draggable="false">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bgGRIS1">
            <div class="container">
                <div class="row posrel">
                    <div class="col-xl-8 text-xl-left text-center my-2">
                        <div class="fs-16 colGRIS3">
                            <a href="https://endesys.com" target="_blank">Powered by Endesys</a>
                        </div>
                    </div>
                    <div class="col-xl-4 text-xl-right text-center my-2 ">
                        <a class="mx-3" href="https://www.facebook.com/" target="_blank" title="madguides en Facebook">
                            <i class="fa fa-facebook colBLANCO fs-24"></i>
                        </a>
                        <a class="mx-3" href="https://twitter.com/" target="_blank" title="madguides en Twitter">
                            <i class="fa fa-twitter colBLANCO fs-24"></i>
                        </a>
                        <a class="mx-3" href="https://instagram.com" target="_blank" title="proyectosxanadu en Youtube">
                            <i class="fa fa-instagram colBLANCO fs-24"></i>
                        </a>
                    </div>
                    <div class="posabsol text-center my-0 text-dark" style="bottom: 0; left: 0; right: 0">
                        <i class="far fa-circle fs-16" (dblclick)="identificar()" style="cursor:context-menu">
                        </i>
                    </div>

                </div>
            </div>
        </div>
    </div>


</footer>