<div class="mh400 posrel"  >
    

    <div class="map-container posrel" style="left: 0; top: 0; height: 400px  ">
        <div class="map-frame">
            <div id="map">

            </div>
        </div>
    </div>

    <div class="posabsol text-center w-100" style="bottom: -35px; left: 0; right: 0; z-index: 1000;">
        <a target="_blank"
        href="https://www.google.es/maps/place/Cerramientos+y+techos+m%C3%B3viles-+Proyectos+Xanadu/@40.503327021253405, -3.892205388669462,17z/data=!3m2!4b1!5s0xd418346a12bc9db:0xf06c3e24f579f930!4m5!3m4!1s0xd418f58ac217723:0x2bf4188e60a7eea7!8m2!3d40.5032583!4d-3.892184"
        title="indicaciones por gps">
        <i class="fas fa-map-marker-alt text-danger fs-30"
        style="border-radius: 50%; padding: 10px 14px; background-color: #ffffff"></i>
        </a>
        <div class="fs-11">GPS</div>    
    </div>

</div>