<div class="w-100 p-0 m-0">
  <div id="bancontacto" class="imagebannerseccion posrel w-100 ">
    <picture>
      <source media="(min-width: 968px)" srcset="assets/images/imagen-footer.jpg" data-srcset="assets/images/imagen-footer.jpg">
      <source media="(min-width: 0px)" srcset="assets/images/imagen-footer.jpg" 
        data-srcset="assets/images/imagen-footer.jpg">
      <img src="assets/images/imagen-footer.jpg" data-src="assets/images/imagen-footer.jpg" alt="banner madguides"
        class="imagebannerseccion lazyload " onerror="this.src='assets/images/sinimagen.png' ">
    </picture>

    <div id="posabsollemacontacto" class="w-100 d-xl-flex text-center ">
      <div class="mx-auto">
        {{textconts.bannerbottom}}
      </div>
    </div>
  </div>

  <div id="basecontactohome" class="posrel">
    <div class="posabsolcontactohome ">
      <div class="container posrel">
        <div class="panelcontactohome mx-auto">
          <form class="validate-form" [formGroup]="forma">

            <div id="intpanelcontactohome" class="p-0">
              <div class="w-100 text-left">
                <div id="pontecontac">
                  <div>
                    <img src="assets/images/i-contacto.svg" data-src="assets/images/i-contacto.svg"
                      alt="" class=" lazyload ">
                    <span>
                      {{textconts.form_title}}
                    </span>
                  </div>
                </div>
              </div>

              <div class="row ">
                <div id="nombrecontact" class="col-xl-6">
                  <div class="cuad posrel">
                    <input class="w-100" type="text" placeholder="{{textconts.form_name}}" name="nombre" id="nombre"
                      formControlName="nombre">
                    <div *ngIf="nombresel != '' " class="fieldpeq3">
                      {{textconts.form_name}}
                    </div>
                  </div>
                </div>
                <div id="emailcontact" class="col-xl-6">
                  <div class="cuad posrel">
                    <input class="w-100" type="text" placeholder="{{textconts.form_email}}" name="email" id="email"
                      formControlName="email">
                    <div *ngIf="emailsel != '' " class="fieldpeq3">
                      {{textconts.form_email}}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row d-flex p-0 posrel mt-1">
                <div id="mensajecontact " class="col-12">
                  <div class="cuadG posrel">
                    <textarea class="" type="text" placeholder="{{textconts.form_message}}" cols="4" name="mensaje" id="mensaje"
                      formControlName="mensaje">
                    </textarea>
                    <div *ngIf="mensajesel != '' " class="fieldpeq3">
                      {{textconts.form_message}}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row d-xl-flex ">

                <div id="aceptocontact" class="col-xl-8 d-flex">
                    <div >
                    <input class="mt-2" type="checkbox" name="aceptarpoliticas" name="aceptacion" id="aceptacion"
                      formControlName="aceptacion">
                    </div>
                    <div class="fs-16 mx-2 w-100 ">
                      <span class="mx-1">{{textconts.form_policy}} </span>
                      <a routerlink="/politicaprivacidad">{{textconts.form_link}}</a>
                    </div>
                </div>

                <div id="btcontact" class="col-xl-4 col-12 text-xl-right text-center">
                  <button *ngIf="btactivadoT" type="button" class="btgris cupo" (click)="enviarMail()"  >
                    {{textconts.form_button}}
                  </button>
                  <button *ngIf="!btactivadoT" type="button" class="btgris apagado">
                    {{textconts.form_button}}
                  </button>
                  <div class="mh30">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>