<div>
    <div class="h100"></div>

    <div class=" m-4 animated fadeIn slow ">
        <div class="w-100 posrel  mx-auto">

            <div class="panelReservafirmada" *ngFor="let reserva of reservas ">

                <div class="h-100">
                    <div #imageneslatid id="im-{{reserva?.id}}" class="chimaglat cupo">
                        <picture>
                            <source media="(min-width: 0px)" srcset="{{reserva?.mediafile}}"
                                data-srcset="{{reserva?.mediafile}}">
                            <img class="imglat" src="{{reserva?.mediafile}}" data-src="{{reserva?.mediafile}}"
                                alt="{{reserva?.mediafile}}" style="height: 194px;min-width: 232px ;">
                        </picture>
                    </div>
                </div>
                <div class="w-100 h-100 posrel">

                    <div class="posabsolEstado">
                        <div class="colVERDE ff-JB"  *ngIf="reserva?.status != 1">
                            <i class="fa-regular fa-circle-check"></i>
                            <span class="ml-1"> {{textconts.confirmada}} </span>
                        </div>
                        <div class="colROJO3 ff-JB" *ngIf="reserva.status == 1 ">
                            <i class="fa-regular fa-circle-xmark"></i>
                            <span class="ml-1"> {{textconts.pendiente}} </span>
                        </div>
                    </div>
                    <div class="posabsolPrecio">
                        <div class="colNEGRO ff-JB " >
                            <span> {{ reserva.total }} € </span>
                        </div>
                    </div>
                    <div class="posabsolReservar"  *ngIf="reserva.status == 1 "  >
                        <button class="btredondoRojo ff-JB" type="button" (click)="reservarahora(reserva)"  >
                            {{textconts.buscador_reservar}}
                        </button>
                    </div>

                    <div class="posrel w-100  px-xl-4 px-2 ">

                        <div id="titulopanelpedido"  *ngIf="reserva?.titulo != null">
                            {{reserva?.titulo }}
                        </div>
                        <!-- <div class="fs-12 ff-JB lh-1-4 colGRIS1 my-2 " style="max-width: 80%;"  *ngIf="reserva?.status != 0">
                            textconts.reserva
                            <span class="colROJO2">reserva?.id </span>
                        </div> -->

                    </div>
                    <div class="posrel h-100 w-100  p-xl-4 p-2 infopanelreserva ">

                        <div class="fs-18 p-0  mb-2 pc"  *ngIf="reserva?.descripcion != null" >
                            {{ reserva?.descripcion?.length > 50 ? reserva?.descripcion?.substring(0, 50) + '...' : reserva?.descripcion }}
                        </div>
    
                        <div class="lh-1-4">
                            <span>{{reserva.fecha | fechaleg}} </span>
                            <span class="mx-1"> {{reserva?.hora}} </span>
                        </div>
    
                        <div class="fs-14 lh-1-4 ff-JB">
    
                            <span><i class="fa fa-person fs-18 mb-2" title="Adultos"
                                    style="margin-right: -3px; margin-top: -2px;"></i>
                                {{reserva?.adults}}</span>
                            <span class="mx-2"> <i class="fa fa-person fs-16" title="Niños"
                                    style="margin-right: -3px; margin-top: 0px;"></i>
                                {{reserva?.children}}</span>
    
                        </div>
                        <div class="fs-14 lh-1-4" *ngIf="reserva?.private == 1">
                            * 
                        </div>
                        
    
                        <!-- <div class="lh-1-4">
                            Idioma: 
                            <span class="ml-1">{{reserva.visit_time_iso | idiomaiso | capitalize}}</span>
                        </div> -->
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>