<div>
    <div class="h100"></div>

    <div class=" m-4 animated fadeIn slow ">
        <div class="w-100 posrel  mx-auto">

            <div class="panelReservafirmada" *ngFor="let reserva of reservas ">

                <div class="h-100">
                    <div #imageneslatid id="im-{{reserva.visit_uuid}}" class="chimaglat cupo">
                        <picture>
                            <source media="(min-width: 0px)" srcset="{{reserva.visit_image_url}}"
                                data-srcset="{{reserva.visit_image_url}}">
                            <img class="imglat" src="{{reserva.visit_image_url}}" data-src="{{reserva.visit_image_url}}"
                                alt="{{reserva.visit_image_url}}" style="height: 194px;min-width: 232px ;">
                        </picture>
                    </div>
                </div>
                <div class="w-100 h-100 posrel">

                    <div class="posabsolEstado">
                        <div class="colVERDE ff-JB"  *ngIf="reserva.status != 'process'">
                            <i class="fa-regular fa-circle-check"></i>
                            <span class="ml-1"> _Confirmada_ </span>
                        </div>
                        <div class="colROJO3 ff-JB" *ngIf="reserva.status == 'process' ">
                            <i class="fa-regular fa-circle-xmark"></i>
                            <span class="ml-1"> _Pendiente_ </span>
                        </div>
                    </div>
                    <div class="posabsolPrecio">
                        <div class="colNEGRO ff-JB " >
                            <span> {{ reserva.precio }} € </span>
                        </div>
                    </div>
                    <div class="posabsolReservar"  *ngIf="reserva.status == 'process' "  >
                        <button class="btredondoRojo ff-JB" type="button" (click)="reservarahora(reserva)"  >
                            Reservar ahora
                        </button>
                    </div>

                    <div class="posrel w-100  px-xl-4 px-2 ">

                        <div id="titulopanelpedido">
                            {{reserva.visit_lang_title.length > 30 ? reserva.visit_lang_title.substring(0,
                            47)+"..." : reserva.visit_lang_title }}
                        </div>
                        <div class="fs-12 ff-JB lh-1-4 colGRIS1 my-2 " style="max-width: 80%;"  *ngIf="reserva.codigoreserva">
                            _Código de Reserva:_
                            <span class="colROJO2">{{reserva.codigoreserva}}</span>
                        </div>

                    </div>
                    <div class="posrel h-100 w-100  p-xl-4 p-2 infopanelreserva ">

                        <div class="fs-18 p-0  mb-2 pc">
                            {{ reserva.visit_lang_description.length > 50 ?
                            reserva.visit_lang_description.substring(0, 47)+"..." :
                            reserva.visit_lang_description }}
                        </div>
    
                        <div class="lh-1-4">
                            <span>{{reserva.visit_time_date | fechaleg }}</span>
                            <span class="mx-1"> a las {{reserva.visit_time_init | horaleg }} </span>
                        </div>
    
                        <div class="fs-14 lh-1-4 ff-JB">
    
                            <span><i class="fa fa-person fs-18 mb-2" title="Adultos"
                                    style="margin-right: -3px; margin-top: -2px;"></i>
                                {{reserva.adultos}}</span>
                            <span class="mx-2"> <i class="fa fa-person fs-16" title="Niños"
                                    style="margin-right: -3px; margin-top: 0px;"></i>
                                {{reserva.ninos}}</span>
    
                        </div>
                        <div class="fs-14 lh-1-4" *ngIf="reserva.visit_privada">
                            _*Visita privada_
                        </div>
                        
    
                        <!-- <div class="lh-1-4">
                            Idioma: 
                            <span class="ml-1">{{reserva.visit_time_iso | idiomaiso | capitalize}}</span>
                        </div> -->
    
                    </div>


                </div>
                
            </div>
        </div>
    </div>
</div>