<div class="px-0">
    <div class="w-100 p-0 m-0">

        <app-banner [enlace]="idenlace"   ></app-banner>
        <div class="posrel w-100">
            <div class="posabsol text-center w-100" style="bottom: 2px; left: 0; right: 0; z-index:10">
                <i (click)="scrollToElement(contacto)" class="fas fa-chevron-circle-down colAma2 cupo fs-30"></i>
            </div>
        </div>

        <!--contacto---->
        <section #contacto id="contacto" class="wow animated fadeInUp slow sobre py-0 px-xl-5 px-1"
            data-wow-delay="0.4s">
            <div class="sobrelayer py-5">
                <div class="container d-block my-3">
                    <div class="flex justify-content-between align-items-center ">
                        <h2 class="fs-titulo text-center">
                            Contacta con proyectos xanadu
                        </h2>
                        <div class="linetextAma"></div>
                        <form class="validate-form" [formGroup]="forma">
                            <div class="row px-xl-4 px-1 py-2 my-3">
                                <div class="col-xl-4 col-12">
                                    <label for="nombre" class="fs-18 mb-0">Nombre</label>
                                    <input type="text" formControlName="nombre" class="cjxanaduB mt-0" id="nombre"
                                        name="nombre">
                                </div>
                                <div class="col-xl-4 col-12">
                                    <label for="email" class="fs-18 mb-0">Email</label>
                                    <input type="text" formControlName="email" class="cjxanaduB mt-0" id="email"
                                        name="email">
                                </div>
                                <div class="col-xl-4 col-12">
                                    <label for="telefono" class="fs-18 mb-0">Teléfono</label>
                                    <input type="text" formControlName="telefono" class="cjxanaduB mt-0" id="telefono"
                                        name="telefono"   >
                                </div>
                                <div class="col-12 mt-2">
                                    <label for="mensaje" class="fs-18 mb-0">Mensaje</label>
                                    <textarea type="text" formControlName="mensaje" class="cjxanaduB mt-0" id="mensaje"
                                        name="mensaje">
                                    </textarea>
                                </div>
                                <div class="col-12 ">
                                    <div  class="custom-control custom-checkbox mx-auto">
                                        <input type="checkbox" formControlName="aceptacion" class="custom-control-input  cjxanaduB mt-0 mr-2 fs-18"  id="aceptacion"
                                        name="aceptacion">
                                        <label for="aceptacion" class="custom-control-label  fs-18 mb-0">He leido y acepto los términos y condiciones </label>
                                    </div>
                                </div>
                                <div class="col-12 mt-2">
                                    <div class="btxanaduB mx200 mx-auto" (click)="enviar()" *ngIf="btactivado">
                                        ENVIAR
                                    </div>
                                    <div class="btxanaduB apagado mx-auto mx200" title="rellene los campos de datos"
                                        *ngIf="!btactivado">
                                        ENVIAR
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </section>

        <section>
            <div class="w-100 px-0">
                <app-map></app-map>
            </div>
        </section>


        <section #nosotros class="wow animated fadeInUp slow py-5 px-xl-5 px-1" data-wow-delay="0.4s">

            <app-textosecciones [enlace]="idenlace" [link]="link1" [posicion]="posiciont1" [tipo]="tipotextoseccion" [texto]="texto1"
                [titulo]="titulo1" [conenlace]="false"></app-textosecciones>

        </section>


    </div>
    <div>

    </div>
</div>

<!-- <div style="display: normal; width: 200px; font-size: 12px; font-weight: 600 ; position: fixed; z-index: 9999; left: 5px; top: 5px; color: #ffffff !important; background-color: rgba(60, 240, 120, 0.7); padding: 5px;">
    <pre>
       Valid:  {{forma.valid}}  
    <br>
       Status: {{forma.status}}
    <br>
       Valores:  {{forma.value | json}}  
    </pre>
</div> -->