<div class="px-0">
    <div class="w-100 p-0 m-0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec mauris sit amet velit facilisis facilisis at et ligula. Donec luctus, lacus id tincidunt vulputate, tortor nulla facilisis ipsum, iaculis ullamcorper velit eros eu turpis. Pellentesque id odio urna. Fusce suscipit ligula mauris, et consequat elit hendrerit nec. Donec aliquet nec risus quis lobortis. Donec tincidunt leo nisi, ac scelerisque erat commodo at. Phasellus quis purus non nibh mollis tempor eu ut lectus. Sed vel nisl eget mi luctus rhoncus id eu tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam congue diam eget molestie commodo. Morbi faucibus consequat risus, quis lacinia turpis imperdiet ut. Nulla bibendum lectus vel velit luctus venenatis.
        <!-- <app-bannerhome [enlace]="idenlace"   ></app-bannerhome> -->

        

    </div>


    <div>
    </div>
    
</div>