<div class="w-100 ">

    
    <div #sec1 class="pc" >
        <div class="h100"></div>
        <app-slidervisita   ></app-slidervisita>
    </div>
    <div #sec2 class="mvl" >
        <app-slidervisitamovil  ></app-slidervisitamovil>
    </div>

    <div #sec3 class="pc" >
        <app-slidervisitasinteresar [messageData]="messagesRelated"   [relatedData]="related"  ></app-slidervisitasinteresar>
    </div>

    <section #sec3 class="my-3" >
        <app-zonacontacto [messageFormData]="messagesForm" [messageImageData]="messageImage" [bannerbottomData]="bannerbottom"  ></app-zonacontacto>
    </section>
    

</div>


<div>
</div>