<div class="container d-block my-3">
    <div class="flex justify-content-between align-items-center" *ngIf="!conenlace"  >
        <h2 class="fs-titulo text-center "   >
            {{titulo}}
        </h2>
        <div class="linetextAma"></div>
        <p class="fs-parrafo my-3"   >
            <span  [innerHTML]="texto" ></span>
        </p>
    </div>
    <div class="flex justify-content-between align-items-center" *ngIf="conenlace" >
        <h2 routerLink="{{link}}" class="fs-titulo text-center cupo" >
            {{titulo}}
        </h2>
        <div class="linetextAma"></div>
        <p class="fs-parrafo my-3">
            <span  [innerHTML]="texto" >
            </span>
            <br>
            <a routerLink="{{link}}" class="fs-bt cupo btxanaduB destac"  >
                ...conocer más
            </a>
        </p>
    </div>
</div>
