<div class="sobre">
    <div class="py-5 sobrelayer">
        <div class="container d-block my-0">
            <div class="row justify-content-between align-items-center mx-auto">
                <h2 class="fs-titulo text-center">
                    Solicita información sin compromiso.
                </h2>
                <div class="col-xl-8 col-12 mx-auto">

                    <p class="fs-parrafo my-3 pb-5">
                        Si necesitas mas información de algun articulo o servicio de los que ofrecemos envianos
                        un mensaje con tus datos
                        y en la mayor brevedad posible nos pondremos en contacto contigo.
                        <br>
                        <a routerLink="/contacto" class="fs-bt cupo btxanaduB destac text-center">
                            quiero enviar un mensaje
                        </a>
                    </p>

                </div>

            </div>
        </div>
        <div class="h80"></div>
    </div>
</div>
