<div class="container p-0 ">

    <div class="h60"></div>
    <div #carrito id="compra">
        <div class="p-0 m-0 posrel">
            <div class="d-flex">
                <div class="h-100 w-100 mr-2 posrel">

                    <div class="panelFull ">
                        <div class="fs-24 ff-JB">
                            <i class="far fa-circle-check colVerde mr-2 posrel" style="top:0px"></i>
                            {{textconts.cart_graciascompra}}  
                        </div>
                        <div class="pl-2 fs-18 my-3">
                            Hemos enviado un email a
                            <span classs="ff-JB"> {{ usuario.email }} </span>
                            con el detalle de tu reserva.
                        </div>
                    </div>
                    <div class="w-100 posrel">
                        <div class="panelReservafirmada" *ngFor="let reserva of listaPedido ">
                            <div class="imgReservafirmada">
                                <div #imageneslatid id="im-{{reserva.visit.uuid}}" >
                                    <picture>
                                        <source media="(min-width: 0px)" srcset="{{reserva.visit.mediafile}}"
                                            data-srcset="{{reserva.visit.mediafile}}">
                                        <img class="imgReservafirmada" src="{{reserva.visit.mediafile}}"
                                            data-src="{{reserva.visit.mediafile}}"
                                            alt="{{reserva.visit.titulo}}">
                                    </picture>
                                </div>
                            </div>
                            <div class="panelinfoReservafirmada">
                                <div id="titulopanelpedido" class="ff-JB fs-20 p-0  my-1">
                                    {{reserva.visit.titulo}} 
                                </div>
                                <div class="lh-1-4">
                                    <span>{{reserva.fecha | fechaleg }}</span>
                                    <span class="mx-1"> a las {{reserva.fecha | horaleg }} </span>
                                </div>
                                <div class="lh-1-4">
                                    {{textconts.touren}} <span class="ml-1">{{reserva.getLanguage(reserva.language_id) | idiomaiso |
                                        capitalize}}</span>
                                </div>
                                <div class="fs-14 lh-1-4 ff-JB mt-1">
                                    <span><i class="fa fa-person fs-18 mb-2" title="Adultos"
                                            style="margin-right: -3px; margin-top: -2px;"></i>
                                        {{reserva.adults}}</span>
                                    <span class="mx-2"> <i class="fa fa-person fs-16" title="Niños"
                                            style="margin-right: -3px; margin-top: 0px;"></i>
                                        {{reserva.children}}</span>
                                </div>
                                <div class="fs-14 lh-1-4" *ngIf="reserva.visit.privada">
                                    {{textconts.privada}}
                                </div>
                                <div class="fs-16 ff-JB lh-1-4 colGRIS1 my-2">
                                    {{textconts.reserva}}
                                    <span class="colROJO2">{{pedido.codigoreserva}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="posabsolverreservas">
                            <button class="btredondoRojoVerReservas " type="button" (click)="verMisReservas()">
                                <span class="ff-JB">{{textconts.reserva}}  </span>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div #finaldetalle id="finaldetalle" class="h100"></div>

</div>