<div class="container">
    <div class="row ">
        <div class="col-xl-4" *ngFor="let articulo of articuloscol; let it of index">

            <div class="my-3 som2 posrel  pventa"   >
                <div class="cupo pc" (click)="openmodal(mymodal , articulo)"
                    (mouseenter)=" x.style.display = 'block'" (mouseleave)=" x.style.display = 'none' ">

                    <picture>
                        <source media="(min-width: 0px)" srcset="{{articulo.rutaimagen}}"
                            data-srcset="{{articulo.rutaimagen}}">
                        <img src="{{articulo.rutaimagen}}" data-src="{{articulo.rutaimagen}}"
                            alt="banner xanaduproyectos" class="mh300 lazyload ">
                    </picture>
                    <div #x class="m-0 p-0 posabsol text-center"
                        style="display: none; width: 100%; top: 34%; left: 0px; height: 80px; ">
                        <div>
                            <i class="fas fa-search fs-2 p-4"></i>
                        </div>
                    </div>
                </div>
                <div class="mvl">
                    <picture>
                        <source media="(min-width: 0px)" srcset="{{articulo.rutaimagen}}"
                            data-srcset="{{articulo.rutaimagen}}">
                        <img src="{{articulo.rutaimagen}}" data-src="{{articulo.rutaimagen}}"
                            alt="banner xanaduproyectos" class="mh300 lazyload ">
                    </picture>
                </div>


                <div class="pt-3 pb-2 px-3"  >
                    <div class="fs-20">
                        <b>{{articulo.nombre}}</b>
                    </div>
                    <div>
                        {{articulo.precio}} €
                    </div>
                    <div  class="dimen" >
                        <b>Dimensiones:</b> {{articulo.dimensiones.length > 80 ? articulo.dimensiones.substring(0, 77) + "..."  : articulo.dimensiones   }}
                    </div>

                    <div class="posrel mh30 mt-2"  >
                        <div  class="fs-12 btxanaduPr destac mx-auto" *ngIf="articulo.acabados.length > 0"
                            (click)="hidart(articulo.id) ">
                            ACABADOS
                        </div>
                    </div>
                </div>
                <div [hidden]="!hidarticulo[articulo.id]"
                    [ngClass]="{'animated fadeInDown' : hidarticulo[articulo.id]  } "
                    class=" m-0 p-1 posabsol acabs ">

                    <div class="row w-100 px-2"  *ngIf="articulo.articulosacabados1.length > 0">
                        <div class="col-xl-2 col-3 posrel" style="top: 10px"> 
                            Estructura
                        </div>
                        <div class="col-xl-10 col-9 ">
                        <div class="justify-content-left my-0 w-100 p-0 mx-1 row"   >
                            <div *ngFor="let c of articulo.articulosacabados1" class="col-xl-2 col-3 my-1" title="{{c.nombre}}">
                                <div class="cupo"
                                    (click)="openmodalzoom(mymodalzoom, c, articulo.articulosacabados1) ">
                                    <img src="{{c.rutaimagen}}" data-src="{{c.rutaimagen}}"
                                        alt="{{it.nombre}}" class="lazyload ac">
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="linecell"></div>
                    </div>
                    <div class="row w-100 px-2"  *ngIf="articulo.articulosacabados2.length > 0">
                        <div class="col-xl-2 col-3 posrel" style="top: 10px"> 
                            Tapizados 
                        </div>
                        <div class="col-xl-10 col-9 ">
                        <div class="justify-content-left my-0 w-100 p-0 mx-1 row"   >
                            <div *ngFor="let c of articulo.articulosacabados2" class="col-xl-2 col-3 my-1" title="{{c.nombre}}">
                                <div class="cupo"
                                    (click)="openmodalzoom(mymodalzoom, c, articulo.articulosacabados2) ">
                                    <img src="{{c.rutaimagen}}" data-src="{{c.rutaimagen}}"
                                        alt="{{it.nombre}}" class="lazyload ac" onerror="this.src='assets/images/sinimagen.jpg' " >
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="linecell"></div>
                    </div>
                    <div class="row w-100 px-2"  *ngIf="articulo.articulosacabados3.length > 0">
                        <div class="col-xl-2 col-3 posrel" style="top: 10px"> 
                            Otros
                        </div>
                        <div class="col-xl-10 col-9 ">
                        <div class="justify-content-left my-0 w-100 p-0 mx-1 row"   >
                            <div *ngFor="let c of articulo.articulosacabados3" class="col-xl-2 col-3 my-1" title="{{c.nombre}}">
                                <div class="cupo"
                                    (click)="openmodalzoom(mymodalzoom, c, articulo.articulosacabados3) ">
                                    <img src="{{c.rutaimagen}}" data-src="{{c.rutaimagen}}"
                                        alt="{{it.nombre}}" class="lazyload ac" onerror="this.src='assets/images/sinimagen.jpg' " >
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="linecell"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="h80"></div>

<div>
    <ng-template #mymodal let-modal>
        <div class="modal-body">
            <div class="posrel">
                <div class="posabsol" style="right: 4px; top: 2px; z-index: 9999;">
                    <i class="cupo fas fa-times text-dark fs-26" (click)="cerrarmodal()"></i>
                </div>
            </div>
            <div>
                <app-sliderarticulocolecciones [imagenesgaleria]="articuloscol" [enlace]="idenlace"
                    [initial]="inic"></app-sliderarticulocolecciones>
            </div>
        </div>
    </ng-template>
    <ng-template #mymodalzoom let-modal>
        <div class="modal-body">
            <div class="posrel">
                <div class="posabsol" style="right: -6px; top: -4px; z-index: 9999;">
                    <i class="cupo fas fa-times text-dark fs-26" (click)="cerrarmodal()"></i>
                </div>
            </div>
            <div>
                <app-sliderAcabados [imagenesgaleria]="acabadosarticulo" [enlace]="idenlace"
                    [initial]="inic"></app-sliderAcabados>
            </div>
        </div>
    </ng-template>
</div>

<div #aclaraciones class="wow animated fadeInUp slow  pb-1 px-xl-5 px-1" data-wow-delay="0.2s">
    <div class="container d-block my-0">
        <div class="row justify-content-between align-items-center mx-auto">
            <div class="col-xl-8 col-12 mx-auto">

                <p class="fs-parrafo my-3 pb-1">
                    * Los productos mostrados pueden variar levemente debido a mejoras y adaptaciones
                    tecnológicas.<br>
                    Las imágenes y dibujos técnicos de los productos son solo para fines ilustrativos y, por lo
                    tanto,
                    deben ser meramente indicativos. El color real de los productos puede diferir ligeramente de
                    las imágenes de video debido a la configuración de color de su pantalla.<br>
                    El acceso y visualización de las imágenes no implica en modo alguno permiso para la
                    reproducción
                    de las mismas salvo autorización previa.<br>
                </p>

            </div>
        </div>
    </div>
    <div class="h80"></div>
</div>
