<app-spinner></app-spinner>
<div class="w-100 ">

    <div #sec1 class="" >
        <app-bannerbuscador
        [numactividades]="numactividades" [busqueda]="filtersrutatitle"  [textconts]="textconts"   ></app-bannerbuscador>
    </div>

    <div #sec2 class=" " >
      <app-busqueda (filtrarBusqueda)="getVisitasBuscador()" [textconts]="textconts"  ></app-busqueda>
    </div>
    
    <section #sec3 class="my-3" >
       <app-zonacontacto [textconts]="textconts"  ></app-zonacontacto>
    </section>
    

</div>


<div>
</div>