<app-spinner></app-spinner>
<div class="w-100 ">

    <div #sec1 class="" >
        <app-bannerbuscador [bannerfichadeproductoData]="bannerfichadeproducto"  
        [numactividades]="numactividades" [busqueda]="filtersrutatitle"  [messageSearchData]="messageSearch"   ></app-bannerbuscador>
    </div>

    <div #sec2 class=" " >
      <app-busqueda (filtrarBusqueda)="getVisitasBuscador()" [messageSearchData]="messageSearch"  ></app-busqueda>
    </div>
    
    <section #sec3 class="my-3" >
       <app-zonacontacto [messageFormData]="messageForm" [messageImageData]="messageImage" 
       [bannerbottomData]="bannerbottom"   ></app-zonacontacto>
    </section>
    

</div>


<div>
</div>