<div class="w-100 d-flex p-0 m-0 bgROJO2">
    <div class="container px-xl-1 colBLANCO fs-20 hpago">
        <div class="row p-3 pc" *ngIf="!isrespon">
            <div id="paso1" class=" col-xl-4 text-center h40">
                <div class="p-0 m-0 d-flex" *ngIf="pasoactivo == 1">
                    <div class="circulopasos ">
                        1
                    </div>
                    <span class="descripcionpaso"> Revisa tu pedido </span>
                </div>
                <div class="p-0 m-0 d-flex" *ngIf="pasoactivo != 1">
                    <div class="circulopasosapagado cupo" (click)="cambiarpaso(1)">
                        1
                    </div>
                    <span class="descripcionpasoapagado"> Revisa tu pedido </span>
                </div>
            </div>
            <div id="paso2" class="col-xl-4 text-center h40">
                <div class="p-0 m-0 d-flex" *ngIf="pasoactivo == 2">
                    <div class="circulopasos ">
                        2
                    </div>
                    <span class="descripcionpaso"> Datos personales </span>
                </div>
                <div class="p-0 m-0 d-flex" *ngIf="pasoactivo != 2">
                    <div class="circulopasosapagado cupo" (click)="cambiarpaso(2)">
                        2
                    </div>
                    <span class="descripcionpasoapagado"> Datos personales </span>
                </div>
            </div>
            <div id="paso3" class=" col-xl-4 text-center h40">
                <div class="p-0 m-0 d-flex" *ngIf="pasoactivo == 3">
                    <div class="circulopasos ">
                        3
                    </div>
                    <span class="descripcionpaso"> Método de pago </span>
                </div>
                <div class="p-0 m-0 d-flex" *ngIf="pasoactivo != 3">
                    <div class="circulopasosapagado cupo" (click)="cambiarpaso(3)">
                        3
                    </div>
                    <span class="descripcionpasoapagado"> Método de pago </span>
                </div>
            </div>
        </div>

        <div class="mvl w-100" *ngIf="isrespon">
            <div class="row mt-2 px-3 text-center">

                <div id="paso1m" class="col-4 text-center h20">
                    <div class="p-0 mx-auto d-flex" *ngIf="pasoactivo == 1">
                        <div class="circulopasos ">
                            1
                        </div>
                        <span class="descripcionpaso"> Pedido </span>
                    </div>
                    <div class="p-0 mx-auto d-flex" *ngIf="pasoactivo != 1">
                        <div class="circulopasosapagado cupo" (click)="cambiarpaso(1)">
                            1
                        </div>
                        <span class="descripcionpasoapagado"> Pedido </span>
                    </div>
                </div>
                <div id="paso2m" class="col-4 text-center h20">
                    <div class="p-0 m-0 d-flex" *ngIf="pasoactivo == 2">
                        <div class="circulopasos ">
                            2
                        </div>
                        <span class="descripcionpaso"> Datos </span>
                    </div>
                    <div class="p-0 m-0 d-flex" *ngIf="pasoactivo != 2">
                        <div class="circulopasosapagado cupo" (click)="cambiarpaso(2)">
                            2
                        </div>
                        <span class="descripcionpasoapagado"> Datos </span>
                    </div>
                </div>
                <div id="paso3m" class=" col-4 text-center h20">
                    <div class="p-0 m-0 d-flex" *ngIf="pasoactivo == 3">
                        <div class="circulopasos ">
                            3
                        </div>
                        <span class="descripcionpaso"> Pago </span>
                    </div>
                    <div class="p-0 m-0 d-flex" *ngIf="pasoactivo != 3">
                        <div class="circulopasosapagado cupo" (click)="cambiarpaso(3)">
                            3
                        </div>
                        <span class="descripcionpasoapagado"> Pago </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="containerpaso1" class="container p-0 " [ngClass]="{ 'dnone': pasoactivo != 1 }">

    <div class="h60"></div>

    <div #carrito id="carrito" class=" d-xl-flex">
        <div class="p-0 m-0">

            <div class="conteni d-xl-flex">

                <div class="h-100 w-100 mx-auto">

                    <div class="panelVisitaCarrito" *ngFor="let visitapedido of pedido.visitasPedido">

                        <div class="h-100">
                            <div #imageneslatid id="im-{{visitapedido.id}}" class="chimaglat cupo">
                                <picture>
                                    <source media="(min-width: 0px)" srcset="{{visitapedido.visit_image_url}}"
                                        data-srcset="{{visitapedido.visit_image_url}}">
                                    <img class="imglat" src="{{visitapedido.visit_image_url}}"
                                        data-src="{{visitapedido.visit_image_url}}"
                                        alt="{{visitapedido.visit_lang_title}}" style="height: 194px ;">
                                </picture>
                            </div>
                        </div>

                        <div class="posrel h-100 w-100 p-xl-4 p-2">

                            <div class="posabsolX d-flex" >

                                <!-- <div class="cupo " (click)="editarvisitapedido(visitapedido, calemodal)">
                                        <img src="../../assets/images/i-editar.svg" class="imicono24 posrel"
                                            style="top: -5px" draggable="false">
                                    </div> -->
                                <div class="cupo" (click)="eliminarvisitapedido(visitapedido)">
                                    <i class="fa-regular fa-circle-xmark cerrarmodalcarrito"></i>
                                </div>
                            </div>

                            <div id="titulopanelpedido">
                                {{visitapedido.visit_lang_title}}
                            </div>
                            <div class="fs-18 p-0  mb-3 pc">
                                {{visitapedido.visit_lang_description}}
                            </div>
                            <div class="lh-1-2">
                                {{visitapedido.visit_time_date}}
                            </div>
                            <div class="lh-1-2">
                                Tour en <span class="ml-1">{{visitapedido.idioma | capitalize}}</span>
                            </div>
                            <div class="fs-14 lh-1-2 mt-2">
                                <span><i class="fa fa-person fs-18 mb-2" title="Adultos"
                                        style="margin-right: -3px; margin-top: -2px;"></i>
                                    {{visitapedido.adultos}}</span>
                                <span class="mx-2"> <i class="fa fa-person fs-16" title="Niños"
                                        style="margin-right: -3px; margin-top: 0px;"></i>
                                    {{visitapedido.ninos}}</span>
                                <span><i class="fa fa-person fs-12" title="Menores"
                                        style="margin-right: -3px; margin-top: px;"></i>
                                    {{visitapedido.menores}}</span>

                            </div>
                            <div class="posabsolprecio " >
                                {{ visitapedido.precio }} €
                            </div>

                        </div>
                    </div>
                </div>


                <div class="h-100 w-100 mx-auto">
                    <div class="posrel">
                        <div #preciototalpedido id="preciototalpedido"
                            [ngClass]="{ 'posfixed80': pegaj == 2, 'posrelinicio': pegaj == 1, 'posrelfinal': pegaj == 3  }">

                            <div class="panelPreciototal">
                                <div class="precioAmarillo posrel">
                                    <div>Precio total</div>
                                    <div class="text-right mr-0 ml-auto ff-JB posabsolRight">{{ preciototal }} €</div>

                                </div>
                                <div class="mt-3 mx-auto text-center">
                                    <button class="btredondoRojoxl " type="button" routerLink="/buscador"  >
                                        <span class="ff-JB">Reservar más visitas</span>
                                    </button>
                                </div>
                                <div class="mt-2 mx-auto text-center">
                                    <button class="btredondoRojoPreciototal " type="button" (click)="continuar()">
                                        <span class="ff-JB">Continuar</span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div #finaldetalle id="finaldetalle" class="h100"></div>

</div>


<div id="containerpaso2" class="container p-0 " [ngClass]="{ 'dnone': pasoactivo != 2 && pasoactivo != 3 }">

    <div class="h60"></div>

    <div class="p-0 m-0">

        <form class="validate-form" [formGroup]="forma">

            <div class="conteni d-xl-flex">
                <div id="resumen posrel">
                    <div class="panelResumen">
                        <div class=" posrel d-flex h50">
                            <div class="fs-20 ff-JB">Resumen</div>
                            <div class="posabsolRight">
                                <div class="btline127" (click)="modificarCarrito()">
                                    <div>Modificar</div>
                                    <div class="linefull"></div>
                                    <div>carrito</div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-3 mh200" >

                            <div class="my-3" *ngFor="let visitapedido of pedido.visitasPedido">

                                <div class="fs-16 lh-1-4 mb-1 d-flex">
                                    <div style="width: 268px">
                                        {{visitapedido.visit_lang_title}}
                                    </div>
                                    <div class="text-right" style="width: 68px">
                                        {{visitapedido.precio}} €
                                    </div>
                                </div>
                                <div class="fs-14 lh-1-4">
                                    {{visitapedido.visit_time_date}}
                                </div>
                                <div class="fs-14 lh-1-4">
                                    Idioma: <span class="ml-1">{{visitapedido.visit_lang_iso}}</span>
                                </div>
                                <div class="fs-14 lh-1-4">
                                    <span>Adultos {{visitapedido.adultos}} </span>
                                    <span>Niños {{visitapedido.ninos}} </span>
                                    <span>Menores {{visitapedido.menores}} </span>
                                </div>
                                <div class="fs-14 lh-1-4 colVERDE" *ngIf="visitapedido.visit_refundable">
                                    Cancelaciones hasta 24 horas antes de la visita
                                </div>
                            </div>
                        </div>
                        <div class="precioAmarillo posrel mt-4">
                            <div>Precio total</div>
                            <div class="text-right mr-0 ml-auto ff-JB posabsolRight">{{preciototal}} €</div>
                        </div>
                    </div>
                </div>

                <div id="registro" class="posrel ml-2 zonaregistro" 
                [ngClass]="{ 'dnone': pasoactivo != 2 }">
                    <div class="h-100 w-100 mr-2">
                        <div class="hazlogin d-xl-flex" (click)="abrirRegistrar(loginmodal)" *ngIf="!loginok"  >
                            <div class="" >Regístrate o <span class="colROJO2">Inicia sesión más rapido con tus redes
                                    sociales</span>
                            </div>
                            <div class="posabsolRedes" >
                                <span>Login con </span>
                                <span class="mx-1"><img src="../../assets/images/i-facebookG.svg" class="imicono8l"
                                        draggable="false"></span>
                                <span class="mx-1"><img src="../../assets/images/i-google+G.svg" class="imicono8l"
                                        draggable="false"></span>
                            </div>
                        </div>

                        <div class="panelDatosReserva">
                            <div class="row px-2">
                                <div class="col-12 fs-20 ff-JB px-2">Registro: Datos de la reserva</div>

                                <div class="col-xl-6  px-2 ">
                                    <div class="cj posrel">
                                        <input type="text" class="w-100 scolGRIS1" placeholder=" Nombre " name="name"
                                            id="name" formControlName="name" />
                                            <div *ngIf="forma.value.name != '' " class="fieldpeq3">
                                                Nombre
                                            </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 px-2 ">
                                    <div class="cj posrel">
                                        <input type="text" class="w-100 colGRIS1" placeholder=" Apellidos "
                                            name="surname" id="surname" formControlName="surname" />
                                            <div *ngIf="forma.value.surname != '' " class="fieldpeq3">
                                                Apellidos
                                            </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 px-2 ">
                                    <div class="cj posrel">
                                        <input type="email" class="w-100 colGRIS1" placeholder=" Correo electrónico "
                                            name="email" id="email" formControlName="email" />
                                    </div>
                                </div>
                                <div class="col-xl-3 col-3 px-2 ">
                                    <div class="cj posrel">
                                        <input type="text" class="w-100 colGRIS1" placeholder=" Prefijo " name="prefijo"
                                            id="prefijo" formControlName="prefijo" />
                                            <div *ngIf="forma.value.prefijo != '' " class="fieldpeq3">
                                                Prefijo
                                            </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-9 px-2 ">
                                    <div class="cj posrel">
                                        <input type="phone" class="w-100 colGRIS1" placeholder=" Teléfono movil "
                                            name="telefono" id="telefono" formControlName="telefono" />
                                            <div *ngIf="forma.value.telefono != '' " class="fieldpeq3">
                                                Telefono
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="aceptapoliticas">
                            <div class="d-flex w-100">
                                <div>
                                    <input #aceptacion type="checkbox" name="aceptacion" id="aceptacion"
                                        [checked]="this.forma.value.aceptacion.isChecked" formControlName="aceptacion">
                                </div>
                                <div class="fs-16 mx-2">
                                    Acepto <a routerlink="">la política de privacidad </a>y <a routerlink="">las
                                        condiciones generales</a>
                                </div>
                            </div>
                        </div>
                        <div class="btcontdatosper ">
                            <button class="btredondoRojoContinuar " type="button" (click)="continuar()">
                                <span class="ff-JB">Continuar</span>
                            </button>
                        </div>
                    </div>
                </div>


                <div id="metodopago" class="posrel ml-2 zonaregistro" [ngClass]="{ 'dnone': pasoactivo != 3 }">
                    <div class="h-100 w-100 mr-2">

                        <div class="panelMetodopago">
                            <div class="row px-2">
                                <div class="col-12 fs-20 ff-JB px-2 my-4">Metodo de pago</div>
                                <div class="col-12 px-2 d-flex">
                                    <div class="mx-2">
                                        <i class="fa fa-check colROJO2 fs-24"></i>
                                    </div>
                                    <div class="mx-2 fs-20">Tarjeta</div>
                                    <div class="mx-2">
                                        <img src="../../assets/images/i-mastercard.svg" class="imicono3"
                                            draggable="false">
                                    </div>
                                    <div class="mx-2">
                                        <img src="../../assets/images/i-visa.svg" class="imicono3" draggable="false">
                                    </div>
                                </div>

                                <!-- <div class="col-12 px-2 ">
                                    <div class="cj posrel">
                                        <input type="text" class="w-100 scolGRIS1" placeholder=" Número tarjeta "
                                            id="numerotarjeta" name="numerotarjeta" />
                                        <div class="crediticono">
                                            <img src="../../assets/images/i-creditcard.svg" class="imicono3"
                                                draggable="false">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 px-2 ">
                                    <div class="cj">
                                        <input type="text" class="w-100 colGRIS1" placeholder=" Fecha de expiración "
                                            id="expiraciontarjeta" name="expiraciontarjeta" />
                                    </div>
                                </div>
                                <div class="col-6 px-2 ">
                                    <div class="cj posrel">
                                        <input type="text" class="w-100 colGRIS1" placeholder=" CVC/CVV "
                                            id="cvctarjeta" name="cvctarjeta" />
                                        <div class="crediticono">
                                            <img src="../../assets/images/i-creditcardCVC.svg" class="imicono3"
                                                draggable="false">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8 pl-2 pr-1 ">
                                    <div class="cj">
                                        <input type="text" class="w-100 colGRIS1" placeholder=" Titular tarjeta "
                                            id="titulartarjeta" name="titulartarjeta" />
                                    </div>
                                </div> -->
                                <div class="col-xl-8"></div>
                                <div class="col-xl-4 text-right">
                                    <button class="btredondoRojoPagar " type="button" (click)="reservarvisita()">
                                        <span class="ff-JB">Pagar</span>
                                    </button>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </form>

    </div>

    <div #finaldetalle id="finaldetalle" class="h100"></div>



    <ng-template #calemodal let-modal>

        <div class="mx-auto w-100 p-0">

            <div class="modal-header posrel">
                <div class="w-100 mx-auto text-center">
                    <h4 class="modal-title" id="modal-basic-title ml-4">
                        <span class="ff-JB">{{visitaSel.title}}</span>
                    </h4>
                </div>

            </div>
            <div class="modal-body mx-auto text-center ">
                <div #detallecale id="detallecale" class="m-0 p-4 divcalendarmodal ">

                    <div #cale id="cale" class="cajaselecvisita" *ngIf="caleinfo != ''">
                        <div class="w-100 d-flex cupo" (click)="verCale()">
                            <div class="fs-20 ml-0 mr-auto">
                                <span class="ml-1 colGRIS1">
                                    {{caleinfo}}
                                </span>
                            </div>
                            <div class="text-right mr-0 ml-auto w-100">
                                <i class="fa fa-angle-down" *ngIf="!vcale"></i>
                                <i class="fa fa-angle-up" *ngIf="vcale"></i>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-calendar p-0 animated fadeIn" *ngIf="vcale || caleinfo == ''">
                        <div class="header-calendar">
                            <div>
                                <div (click)="changeMonth(-1)" class="text-center arrowcalendar">
                                    <i class="fa fa-angle-left "> </i>
                                </div>
                            </div>
                            <div class="month-calendar">{{mSelect}}</div>
                            <div class="age-calendar">{{ySelect}}</div>
                            <div>
                                <div (click)="changeMonth(1)" class="text-center arrowcalendar">
                                    <i class="fa fa-angle-right "> </i>
                                </div>
                            </div>
                        </div>
                        <ol class="olCalendar">
                            <li *ngFor="let day of week" class="day-name ilCalendar ">{{day | slice:0:1}}</li>

                            <li class="liCalendar" [ngClass]="{'liCalendarSelected': day == daySel   }"
                                (click)="clickDay(day)" [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
                                *ngFor="let day of monthSelect; let first = first">
                                <span>{{day?.value}}</span>
                            </li>
                        </ol>
                    </div>

                    <div class="p-0 my-3">
                        <div #hora class="cajaselecvisita">
                            <div class="w-100 d-flex cupo" (click)="verHora()">
                                <div class="fs-20 ml-0 mr-auto">
                                    <span class="colGRIS1 ff-JB" *ngIf="horainfo == ''">
                                        Hora
                                    </span>
                                    <span class="ml-1 colGRIS1">
                                        {{horainfo}}
                                    </span>
                                </div>
                                <div class="text-right mr-0 ml-auto w-100">
                                    <i class="fa fa-angle-down" *ngIf="!vhora"></i>
                                    <i class="fa fa-angle-up" *ngIf="vhora"></i>
                                </div>
                            </div>
                        </div>
                        <div class="p-0 m-0">
                            <div class="row px-3 pt-2 m-0 animated fadeIn" [hidden]="!vhora">
                                <div *ngFor="let li of listahoras" class="col-3 p-0 m-0">
                                    <input name="rbhora" id="rbhora-{{li.key}}" type="radio" value="{{li.key}}"
                                        (click)="horainfosel(li.value)" [(ngModel)]="horaSel">
                                    <label class="ml-1" for="rbhora-{{li.key}}">{{li.value}}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-0 my-3">
                        <div #idioma class="cajaselecvisita">
                            <div class="w-100 d-flex cupo" (click)="verIdioma()">
                                <div class="fs-20 ml-0 mr-auto">
                                    <span class="colGRIS1 ff-JB" *ngIf="idiominfo == ''">
                                        Idioma
                                    </span>
                                    <span class="ml-1 colGRIS1">
                                        {{idiominfo}}
                                    </span>
                                </div>
                                <div class="text-right mr-0 ml-auto w-100">
                                    <i class="fa fa-angle-down" *ngIf="!vidiom"></i>
                                    <i class="fa fa-angle-up" *ngIf="vidiom"></i>
                                </div>
                            </div>
                        </div>
                        <div class="p-0 m-0">
                            <div class="row px-3 pt-2 m-0 animated fadeIn" [hidden]="!vidiom">
                                <div *ngFor="let li of listaidiomas" class="col-6 p-0 m-0">
                                    <input name="rbidiom" id="rbidiom-{{li.key}}" type="radio" value="{{li.key}}"
                                        (click)="idiomainfosel(li.value)" [(ngModel)]="idiomaSel">
                                    <label class="ml-2" for="rbidiom-{{li.key}}">{{li.value}}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-0 my-3">
                        <div #persona class="cajaselecvisita">
                            <div class="w-100 d-flex cupo" (click)="verPersona()">
                                <div class="fs-20 text-left d-flex">
                                    <span class="colGRIS1 ff-JB"
                                        *ngIf="adultoSel == 0 && ninosSel == 0 && menoresSel == 0">
                                        Personas
                                    </span>
                                    <div class="posrel fs-18" style="top: 0px"
                                        *ngIf="adultoSel != 0 || ninosSel != 0 || menoresSel != 0 ">
                                        <div class="w-100 d-flex">

                                            <div class=" colGRIS1" style="min-width: 100px">
                                                Adultos {{adultoSel}}
                                            </div>
                                            <div class=" colGRIS1 " style="min-width: 90px">
                                                Niños {{ninosSel}}
                                            </div>
                                            <div class=" colGRIS1 " style="min-width: 100px">
                                                Menores {{menoresSel}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right mr-0 ml-auto w-100">
                                    <i class="fa fa-angle-down" *ngIf="!vpers"></i>
                                    <i class="fa fa-angle-up" *ngIf="vpers"></i>
                                </div>
                            </div>
                        </div>
                        <div class="p-0 m-0">
                            <div class="px-3 pt-2 m-0 animated fadeIn" [hidden]="!vpers">
                                <div #adulto class="row my-2">
                                    <div class="col-4 text-left posrel">
                                        <div class="fs-8 posabsol" style="top: -6px">Adulto</div>
                                        <div class="fs-16">{{precioadultos}} €</div>
                                    </div>
                                    <div class="col-4">
                                        <div class="w-100 d-flex mw100">
                                            <div class="posrelbtm5">
                                                <div *ngIf="adultoSel == 0">
                                                    <img src="../../assets/images/i-restarapagado.svg" class="imicono4"
                                                        draggable="false">
                                                </div>
                                                <div class="cupo" *ngIf="adultoSel > 0" (click)="restaradulto()">
                                                    <img src="../../assets/images/i-restar.svg" class="imicono4"
                                                        draggable="false">
                                                </div>
                                            </div>
                                            <div class="fs-16 text-center w50">
                                                {{adultoSel}}
                                            </div>
                                            <div class="posrelbtm5">
                                                <div class="cupo" (click)="sumaradulto()">
                                                    <img src="../../assets/images/i-sumar.svg" class="imicono4"
                                                        draggable="false">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 text-right">
                                        <div class="fs-16">{{precioadultototal}} €</div>
                                    </div>
                                </div>

                                <div #ninos class="row my-2">
                                    <div class="col-4 text-left posrel">
                                        <div class="fs-8 posabsol" style="top: -6px">ninos</div>
                                        <div class="fs-16">{{precioninos}} €</div>
                                    </div>
                                    <div class="col-4">
                                        <div class="w-100 d-flex mw100">
                                            <div class="posrelbtm5">
                                                <div *ngIf="ninosSel == 0">
                                                    <img src="../../assets/images/i-restarapagado.svg" class="imicono4"
                                                        draggable="false">
                                                </div>
                                                <div class="cupo" *ngIf="ninosSel > 0" (click)="restarninos()">
                                                    <img src="../../assets/images/i-restar.svg" class="imicono4"
                                                        draggable="false">
                                                </div>
                                            </div>
                                            <div class="fs-16 text-center w50">
                                                {{ninosSel}}
                                            </div>
                                            <div class="posrelbtm5">
                                                <div class="cupo" (click)="sumarninos()">
                                                    <img src="../../assets/images/i-sumar.svg" class="imicono4"
                                                        draggable="false">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 text-right">
                                        <div class="fs-16">{{precioninostotal}} €</div>
                                    </div>
                                </div>

                                <div #menores class="row my-2">
                                    <div class="col-4 text-left posrel">
                                        <div class="fs-8 posabsol" style="top: -6px">menores</div>
                                        <div class="fs-16">{{preciomenores}} €</div>
                                    </div>
                                    <div class="col-4">
                                        <div class="w-100 d-flex mw100">
                                            <div class="posrelbtm5">
                                                <div *ngIf="menoresSel == 0">
                                                    <img src="../../assets/images/i-restarapagado.svg" class="imicono4"
                                                        draggable="false">
                                                </div>
                                                <div class="cupo" *ngIf="menoresSel > 0" (click)="restarmenores()">
                                                    <img src="../../assets/images/i-restar.svg" class="imicono4"
                                                        draggable="false">
                                                </div>
                                            </div>
                                            <div class="fs-16 text-center w50">
                                                {{menoresSel}}
                                            </div>
                                            <div class="posrelbtm5">
                                                <div class="cupo" (click)="sumarmenores()">
                                                    <img src="../../assets/images/i-sumar.svg" class="imicono4"
                                                        draggable="false">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 text-right">
                                        <div class="fs-16">{{preciomenorestotal}} €</div>
                                    </div>
                                </div>

                                <div #total class="my-3 d-flex posrel">
                                    <div class="fs-16 ">Precio total</div>
                                    <div class="fs-16 ff-JB posabsol" style="right: 0">
                                        <div> {{sumaSel}} €</div>
                                    </div>
                                </div>
                                <div #maximo class="d-flex w-100 posrel my-3">
                                    <div class="ml-0 mr-auto ">
                                        <div class="fs-12">*Máximas personas visita <span
                                                class="ff-JB">{{maximopersonas}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div #checkprivada class="d-flex w-100 posrel my-3">
                                    <div class="ml-0 mr-auto ">
                                        <div class="fs-20 mr-2 posrel " style="top: -3px">
                                            <input #priv type="checkbox" name="privada" id="privada" [value]="privada"
                                                (change)="cambiarprivada(priv)">
                                        </div>
                                    </div>
                                    <div class="mr-0 ml-auto">
                                        <div class="fs-16 ">
                                            Contratar visita privada.
                                        </div>
                                        <div class="fs-12 ffita colGRIS2">
                                            *Implica asumir el precio al coste máximo de la visita independientemente
                                            del número
                                            total de asistentes.
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div #validacioncale class="d-flex w-100 posrel my-1" *ngIf="calenovalid">
                            <div class=" posrel " style="top:-4px">
                                <img src="../../assets/images/i-validacion.svg" class="imicono8" draggable="false">
                            </div>
                            <div>
                                <div class="fs-16 colROJO1">Elige la <span class="ff-JB">fecha</span> de la visita</div>
                            </div>
                        </div>
                        <div #validacionhora class="d-flex w-100 posrel my-1" *ngIf="horanovalid">
                            <div class=" posrel " style="top:-4px">
                                <img src="../../assets/images/i-validacion.svg" class="imicono8" draggable="false">
                            </div>
                            <div>
                                <div class="fs-16 colROJO1">Selecciona la <span class="ff-JB">hora</span> para la visita
                                </div>
                            </div>
                        </div>
                        <div #validacionidioma class="d-flex w-100 posrel my-1" *ngIf="idiomanovalid">
                            <div class=" posrel " style="top:-4px">
                                <img src="../../assets/images/i-validacion.svg" class="imicono8" draggable="false">
                            </div>
                            <div>
                                <div class="fs-16 colROJO1">Selecciona <span class="ff-JB">idioma</span> para la visita
                                </div>
                            </div>
                        </div>
                        <div #validacionpers class="d-flex w-100 posrel my-1" *ngIf="persnovalid">
                            <div class=" posrel " style="top:-4px">
                                <img src="../../assets/images/i-validacion.svg" class="imicono8" draggable="false">
                            </div>
                            <div>
                                <div class="fs-16 colROJO1">Selecciona <span class="ff-JB">número de personas</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="p-0 m-0">
                        <div class="d-flex">
                            <div class="w-50">
                                <div class="my-0 mx-auto text-center">
                                    <button class="btredondoCancelar " type="button" (click)="cerrarcalemodal()">
                                        <span class="ff-JB">Cancelar</span>
                                    </button>
                                </div>
                            </div>
                            <div class="w-50">
                                <div class="my-0 mx-auto text-center">
                                    <button class="btredondoRojoActualizar " type="button" (click)="reservarvisita()">
                                        <span class="ff-JB">Reservar</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ng-template>

    <ng-template #loginmodal let-modal>

        <div class="mx-auto w-100 p-0">
            <div class="modal-body">

                <div id="divmicuenta" *ngIf="verusuario">
                    <form class="validate-form" [formGroup]="formlogin">
                        <div class="w-100 d-flex posrel">
                            <div class="px-3 ff-JB fs-24 ">Mi cuenta</div>
                            <div class="posabsol" style="right: -24px">
                                <div class="cupo" (click)="modal.dismiss()">
                                    <i class="fa fa-x"></i>
                                </div>
                            </div>
                        </div>

                        <div class="px-3">
                            <div class="my-3 fs-18">
                                Iniciar sesión para pagar más rápido
                            </div>
                            <div class="cj">
                                <input type="text" class="colGRIS1 " placeholder=" Usuario email" id="" name="email"
                                    formControlName="email" />
                            </div>
                            <div class="cj posrel">
                                <input [type]="tipopassword" class="colGRIS1 " placeholder=" Contraseña" id="password"
                                    name="password" formControlName="password" />
                                <div class="posabsolRm10" *ngIf="verpass"> <i class="fa-solid fa-eye-slash"
                                        (click)="verpassword(false)"></i> </div>
                                <div class="posabsolRm10" *ngIf="!verpass"> <i class="fa-solid fa-eye"
                                        (click)="verpassword(true)"></i> </div>
                            </div>
                            <div class="d-flex" id="recuerdamimicuenta">
                                <div class="mx-1 pt-1" (click)="recordarmemicuenta()">
                                    <i class="fa-solid fa-toggle-on colGRIS1 " *ngIf="recordarme"></i>
                                    <i class="fa-solid fa-toggle-off colGRIS2 " *ngIf="!recordarme"></i>
                                </div>
                                <div class="mt-1 ml-2">Recordarme</div>
                            </div>
                            <div class="w-100 p-0 ml-auto mr-0 my-3 text-xl-right text-center">
                                <button *ngIf="btactivado" class="btredondoRojomicuenta " type="button"
                                    (click)="iniciarsesion()">
                                    <span>Iniciar sesión</span>
                                </button>
                                <button *ngIf="!btactivado" class="btredondoApagadomicuenta " type="button">
                                    <span>Iniciar sesión</span>
                                </button>
                                <div class="heolvidadomicuenta">
                                    He olvidado mi contraseña
                                </div>
                            </div>
                            <div class="oaccedemicuenta">
                                O accede con
                            </div>
                            <div class="w-100 p-0 ">
                                <button id="btfacebookmicuenta" class="btcuadmicuenta mx-1" type="button">
                                    <img src="../../assets/images/logofb.png" class="imredes" draggable="false">
                                    <span>Facebook</span>
                                </button>
                                <button id="btgooglemicuenta" class="btcuadmicuenta mx-1" type="button">
                                    <img src="../../assets/images/logog.png" class="imredes" draggable="false">
                                    <span>Google</span>
                                </button>
                            </div>
                            <div id="notienesmicuenta">
                                <span>¿No tienes cuenta?</span><span class="colROJO3 cupo"
                                    (click)="vermodalregistrar()"> Registrate
                                    aquí</span>
                            </div>
                        </div>
                    </form>
                </div>

                <div id="divregistrar" *ngIf="verregistrar">
                    <div class="scrld">
                        <form class="validate-form" [formGroup]="formregister">
                            <div id="divmicuenta">
                                <div class="w-100 d-flex posrel">
                                    <div class="px-3 ff-JB fs-24 ">Registro</div>
                                    <div class="posabsol" style="right: -24px">
                                        <div class="cupo" (click)="modal.dismiss()">
                                            <i class="fa fa-x"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-3">
                                    <div class="ff-JB">
                                        <span>Datos personales</span>
                                    </div>
                                    <div class="cj">
                                        <input type="text" class="colGRIS1 " placeholder="Usuario email" id="email"
                                            name="email" formControlName="email" />
                                    </div>
                                    <div class="cj posrel">
                                        <input [type]="tipopassword" class="colGRIS1 " placeholder=" Contraseña"
                                            id="password" name="password" formControlName="password" />
                                        <div class="posabsolRm10" *ngIf="verpass"> <i class="fa-solid fa-eye-slash"
                                                (click)="verpassword(false)"></i> </div>
                                        <div class="posabsolRm10" *ngIf="!verpass"> <i class="fa-solid fa-eye"
                                                (click)="verpassword(true)"></i> </div>
                                    </div>
                                    <div class="cj">
                                        <input type="text" class="colGRIS1 " placeholder="Nombre" id="name" name="name"
                                            formControlName="name" />
                                    </div>
                                    <div class="cj">
                                        <input type="text" class="colGRIS1 " placeholder="Apellidos" id="surname"
                                            name="surname" formControlName="surname" />
                                    </div>
                                    <div class="cj">
                                        <input type="text" class="colGRIS1 " placeholder="Prefijo" id="prefijo"
                                            name="prefijo" formControlName="prefijo" />
                                    </div>
                                    <div class="cj">
                                        <input type="text" class="colGRIS1 " placeholder="Telefono" id="telefon"
                                            name="telefon" formControlName="telefono" />
                                    </div>
                                    <div class="linefull my-2"></div>
                                    <div class="ff-JB">
                                        <span>Datos de facturacion</span>
                                    </div>
                                    <div class="cj">
                                        <input type="text" class="colGRIS1 " placeholder="Nombre" id="namefacturacion"
                                            name="namefacturacion" formControlName="namefacturacion" />
                                    </div>
                                    <div class="cj">
                                        <input type="text" class="colGRIS1 " placeholder="Apellidos"
                                            id="surnamefacturacion" name="surnamefacturacion"
                                            formControlName="surnamefacturacion" />
                                    </div>
                                    <div class="w-100">
                                        <select #tipoiden class="cjselect" id="tipoidentificacion"
                                            name="tipoidentificacion" formControlName="tipoidentificacion">
                                            <option value="{{li.id}}" *ngFor="let li of listatiposidentificacion">
                                                {{li.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="cj">
                                        <input type="text" class="colGRIS1 " placeholder="Numero identificacion "
                                            id="numeroidentificacion" name="numeroidentificacion"
                                            formControlName="numeroidentificacion" />
                                    </div>
                                    <div class="cj">
                                        <input type="text" class="colGRIS1 " placeholder="Direccion " id="direccion"
                                            name="direccion" formControlName="direccion" />
                                    </div>
                                    <div class="cj">
                                        <input type="text" class="colGRIS1 " placeholder="Codigo postal "
                                            id="codigopostal" name="codigopostal" formControlName="codigopostal" />
                                    </div>
                                    <div class="cj">
                                        <input type="text" class="colGRIS1 " placeholder="Ciudad " id="ciudad"
                                            name="ciudad" formControlName="ciudad" />
                                    </div>
                                    <div class="cj">
                                        <input type="text" class="colGRIS1 " placeholder="Pais " id="pais" name="pais"
                                            formControlName="pais" />
                                    </div>
                                    <div class="">

                                        <div class="col-6 p-0 m-0">
                                            <input name="rb" id="rb-1" type="radio" (change)="selecparticular()">
                                            <label class="mx-2" for="rb-1">Particular</label>
                                            <input name="rb" id="rb-2" type="radio" (change)="selecempresa()">
                                            <label class="mx-2" for="rb-2">Empresa</label>
                                        </div>

                                    </div>

                                    <div class="w-100 p-0 ml-auto mr-0 my-3 text-xl-right text-center">
                                        <button *ngIf="btactivadoreg" class="btredondoRojomicuenta " type="button"
                                            (click)="registrar()">
                                            <span>Registrar</span>
                                        </button>
                                        <button *ngIf="!btactivadoreg" class="btredondoApagadomicuenta" type="button">
                                            <span>Registrar</span>
                                        </button>
                                    </div>

                                    <div id="iralogin">
                                        <span>Si tengo cuenta,</span><span class="colROJO3 cupo"
                                            (click)="vermodalusuario()"> ir a login
                                        </span>
                                    </div>

                                    <div class="mh40"></div>
                                </div>
                            </div>
                        </form>
                        <div hidden="true"
                            style="width: 200px; height: auto; font-size: 12px; font-weight: 600 ; position: fixed; z-index: 9999; right: 5px; top: 5px; background-color: rgba(250,250,250,0.9); padding: 5px;">
                            <pre>
                           Valid:  {{formregister.valid}}  
                        <br>
                           Status: {{formregister.status}}
                        <br>
                           Valores:  {{formregister.value | json}}  
                        </pre>
                        </div>
                    </div>
                    <div class="mh40"></div>
                </div>

            </div>
        </div>

    </ng-template>