<div class="w-100 d-flex p-0 m-0 bgROJO2">
    <div class="container px-xl-1 colBLANCO fs-20 hpago">
        <div class="row p-3 pc" *ngIf="!isrespon">
            <div id="paso1" class=" col-xl-4 text-center h40">
                <div class="p-0 m-0 d-flex" *ngIf="pasoactivo == 1">
                    <div class="circulopasos ">
                        1
                    </div>
                    <span class="descripcionpaso">  {{textconts.paso1 }} </span>
                </div>
                <div class="p-0 m-0 d-flex" *ngIf="pasoactivo != 1">
                    <div class="circulopasosapagado cupo" (click)="cambiarpaso(1)">
                        1
                    </div>
                    <span class="descripcionpasoapagado">  {{textconts.paso1 }}</span>
                </div>
            </div>
            <div id="paso2" class="col-xl-4 text-center h40">
                <div class="p-0 m-0 d-flex" *ngIf="pasoactivo == 2">
                    <div class="circulopasos ">
                        2
                    </div>
                    <span class="descripcionpaso">  {{textconts.paso2 }} </span>
                </div>
                <div class="p-0 m-0 d-flex" *ngIf="pasoactivo != 2">
                    <div class="circulopasosapagado cupo" (click)="cambiarpaso(2)">
                        2
                    </div>
                    <span class="descripcionpasoapagado">  {{textconts.paso2 }} </span>
                </div>
            </div>
            <div id="paso3" class=" col-xl-4 text-center h40">
                <div class="p-0 m-0 d-flex" *ngIf="pasoactivo == 3">
                    <div class="circulopasos ">
                        3
                    </div>
                    <span class="descripcionpaso">  {{textconts.paso3 }}</span>
                </div>
                <div class="p-0 m-0 d-flex" *ngIf="pasoactivo != 3">
                    <div class="circulopasosapagado cupo" (click)="cambiarpaso(3)">
                        3
                    </div>
                    <span class="descripcionpasoapagado"> {{textconts.paso3 }} </span>
                </div>
            </div>
        </div>

        <div class="mvl w-100" *ngIf="isrespon">
            <div class="row mt-2 px-3 text-center">

                <div id="paso1m" class="col-4 text-center h20">
                    <div class="p-0 mx-auto d-flex" *ngIf="pasoactivo == 1">
                        <div class="circulopasos ">
                            1
                        </div>
                        <span class="descripcionpaso"> {{textconts.cart_cabecera_revisapedido }}  </span>
                    </div>
                    <div class="p-0 mx-auto d-flex" *ngIf="pasoactivo != 1">
                        <div class="circulopasosapagado cupo" (click)="cambiarpaso(1)">
                            1
                        </div>
                        <span class="descripcionpasoapagado"> {{textconts.cart_cabecera_revisapedido }}  </span>
                    </div>
                </div>
                <div id="paso2m" class="col-4 text-center h20">
                    <div class="p-0 m-0 d-flex" *ngIf="pasoactivo == 2">
                        <div class="circulopasos ">
                            2
                        </div>
                        <span class="descripcionpaso"> {{textconts.cart_cabecera_datospersonales }} </span>
                    </div>
                    <div class="p-0 m-0 d-flex" *ngIf="pasoactivo != 2">
                        <div class="circulopasosapagado cupo" (click)="cambiarpaso(2)">
                            2
                        </div>
                        <span class="descripcionpasoapagado"> {{textconts.cart_cabecera_datospersonales }}  </span>
                    </div>
                </div>
                <div id="paso3m" class=" col-4 text-center h20">
                    <div class="p-0 m-0 d-flex" *ngIf="pasoactivo == 3">
                        <div class="circulopasos ">
                            3
                        </div>
                        <span class="descripcionpaso">{{textconts.cart_cabecera_metodospago }}   </span>
                    </div>
                    <div class="p-0 m-0 d-flex" *ngIf="pasoactivo != 3">
                        <div class="circulopasosapagado cupo" (click)="cambiarpaso(3)">
                            3
                        </div>
                        <span class="descripcionpasoapagado"> {{textconts.cart_cabecera_metodospago }}  </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="containerpaso1" class="container p-0 " *ngIf=" pasoactivo == 1">

    <div class="h60"></div>
    <div #carrito id="carrito" class=" d-xl-flex">
        <div class="p-0 m-0">
            <div class="conteni d-xl-flex">
                <div class="h-100 w-100 mx-auto divPanelVisitaCarrito ">
                    <div class="panelVisitaCarrito" *ngFor="let reserva of pedido.reservas">
                        <div class="h-100">
                            <div #imageneslatid id="im-{{reserva.id}}" class="chimaglat cupo">
                                <picture>
                                    <source media="(min-width: 0px)" srcset="{{reserva.visit.mediafiles[0].url}}"
                                        data-srcset="{{reserva.visit.mediafiles[0].url}}">
                                    <img class="imglat" src="{{reserva.visit.mediafiles[0].url}}"
                                        data-src="{{reserva.visit.mediafiles[0].url}}"
                                        alt="{{reserva.visit.titulo}}" style="height: 194px ;">
                                </picture>
                            </div>
                        </div>
                        <div class="posrel h-100 w-100 p-xl-4 p-2">
                            <div class="posabsolX d-flex">

                                <!-- <div class="cupo " (click)="editarvisitapedido(visitapedido, calemodal)">
                                        <img src="../../assets/images/i-editar.svg" class="imicono24 posrel"
                                            style="top: -5px" draggable="false">
                                    </div> -->
                                    
                                <div class="cupo" (click)="eliminarvisitapedido(reserva)">
                                    <i class="fa-regular fa-circle-xmark cerrarmodalcarrito"></i>
                                </div>
                            </div>
                            <div id="titulopanelpedido" innerHTML="{{reserva.visit.titulo.length > 30 ? reserva.visit.titulo.substring(0,
                                47)+'...' : reserva.visit.titulo }}"  >
                                
                            </div>
                            <div class="fs-18 p-0  mb-2 pc"   innerHTML=" {{reserva.visit.descripcion.length > 50 ?
                                reserva.visit.descripcion.substring(0, 47)+'...' :
                                reserva.visit.descripcion }}" >
                               
                            </div>
                            <div class="lh-1-2">
                                {{reserva.fecha | date: 'dd/MM/yyyy'  }}
                            </div>
                            <div class="lh-1-2" innerHTML=" {{textconts.buscador_detail_description }}     "  >
                                <span
                                    class="ml-1"> </span>
                            </div>
                            <div class="fs-14 lh-1-2 mt-2">
                                <span><i class="fa fa-person fs-18 mb-2" title="Adultos"
                                        style="margin-right: -3px; margin-top: -2px;"></i>
                                    {{reserva.adults}}</span>
                                <span class="mx-2"> <i class="fa fa-person fs-16" title="Niños"
                                        style="margin-right: -3px; margin-top: 0px;"></i>
                                    {{reserva.children}}</span>
                            </div>
                            <div class="posabsolprecio ">
                               {{ reserva.total }}  €
                            </div>
                        </div>
                    </div>
                </div>

                <div class="h-100 w-100 mx-auto">
                    <div class="posrel">
                        <div #preciototalpedido id="preciototalpedido">
                            <div class="panelPreciototal">
                                <div class="precioAmarillo posrel">
                                    <div>{{textconts.buscador_precio }}  </div>
                                    <div class="text-right mr-0 ml-auto ff-JB posabsolRight">{{ preciototal }} €</div>
                                </div>
                                <div class="mt-3 mx-auto text-center">
                                    <button class="btredondoRojoxl " type="button" routerLink="/buscador">
                                        <span class="ff-JB">{{textconts.reservar_mas }} </span>
                                    </button>
                                </div>
                                <div class="mt-2 mx-auto text-center">
                                    <button class="btredondoRojoPreciototal " type="button" (click)="continuar()">
                                        <span class="ff-JB">{{textconts.continuar }} </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div #finaldetalle id="finaldetalle" class="h100"></div>

</div>


<div id="containerpaso2" class="container p-0 " *ngIf="( pasoactivo == 2 || pasoactivo == 3 )">

    <div class="h60"></div>
    <div class="p-0 m-0">
        <div class="conteni d-xl-flex">
            <div id="resumen posrel">
                <div class="panelResumen">
                    <div class=" posrel d-flex h50">
                        <div class="fs-20 ff-JB" style="max-width: 210px">{{textconts.cart_graciascompra }}</div>
                        <div class="posabsolRight">
                            <div class="btline127 " (click)="modificarCarrito()">
                                <div>{{textconts.modificar | lowercase}}</div>
                                <div>{{textconts.carrito | lowercase}}</div>
                                <div class="linefull posrel" style="top: -30px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panelResumenVisits ">
                        <div class="my-3" *ngFor="let reserva of pedido?.reservas">
                            <div class="fs-16 lh-1-4 mb-1 d-flex">
                                <div style="width: 268px">
                                    {{reserva?.visit.titulo}}
                                </div>
                                <div class="text-right" style="width: 68px">
                                    {{ reserva?.total }}  €
                                </div>
                            </div>
                            <div class="fs-14 lh-1-4">
                                {{reserva.fecha | date: 'dd/MM/yyyy' }}
                            </div>
                            <div class="fs-14 lh-1-4">
                                {{textconts.buscador_idioma}} : 
                                <span class="ml-1">
                                    {{reserva?.nombreidioma | idiomaiso }}
                                </span>
                            </div>
                            <div class="fs-14 lh-1-4">
                                <span> {{textconts.buscador_detail_adultos}}   </span> 
                                <span class="mx-1">
                                    {{reserva.adults}} 
                                </span>
                                <span> {{textconts.buscador_detail_infantil }}</span> 
                                <span class="mx-1">
                                    {{reserva.children}} 
                                </span>
                            </div>
                            <div class="fs-14 lh-1-4 colVERDE" *ngIf="reserva.visit.cancelacion">
                                {{textconts.buscador_detail_cancelation}}
                            </div>
                        </div>
                    </div>
                    <div class="precioAmarillo posrel mt-4">
                        <div>{{textconts.cart_procesopago}}  </div>
                        <div class="text-right mr-0 ml-auto ff-JB posabsolRight">{{ preciototal }} €</div>
                    </div>
                </div>
            </div>

            <div class="posrel ml-2 zonaregistro" [ngClass]="{ 'dnone' : pasoactivo == 3 } " >

                <div id="registro" class="h-100 w-100 mr-2" *ngIf="!loginok && !registrado">
                    <form class="validate-form" [formGroup]="formregister">
                        <div class="hazlogin d-xl-flex">
                            <div>
                                <span>  {{textconts.login_notienescuenta}}</span>
                                <span class="colROJO2 cupo" (click)="abrirLogin(loginmodal)">
                                  {{ textconts.cart_ohazlogin }}  
                                </span>
                            </div>
                            <div class="posabsolRedes cupo  dnone redes" (click)="abrirLogin(loginmodal)">
                                <span>{{ textconts.logincon }} </span>
                                <span class="mx-1"><img src="assets/images/i-facebookG.svg" class="imicono8l"
                                        draggable="false"></span>
                                <span class="mx-1"><img src="assets/images/i-google+G.svg" class="imicono8l"
                                        draggable="false"></span>
                            </div>
                        </div>

                        <div class="panelDatosReservaCorto">

                            <div class="row px-2">
                                <div class="col-12 fs-20 ff-JB px-2 mb-2">{{textconts.micuenta_form_datospersonales  }}  </div>

                                <div class="col-xl-6  px-2 ">
                                    <div class="cj posrel">
                                        <input type="text" class="w-100 scolGRIS1" placeholder=" {{textconts.micuenta_form_name }}  " name="name"
                                            id="name" formControlName="name" />
                                        <div *ngIf="formregister.value.name != '' " class="fieldpeq3">
                                            {{textconts.micuenta_form_name }} 
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-xl-6 px-2 ">
                                    <div class="cj posrel">
                                        <input type="text" class="w-100 colGRIS1" placeholder="{{textconts.micuenta_form_surname }} "
                                            name="surname" id="surname"
                                            formControlName="surname" />
                                        <div *ngIf="formregister.value.surname != '' " class="fieldpeq3">
                                            {{textconts.micuenta_form_surname }} 
                                        </div>
                                    </div>
                                </div> -->
                                <div class="col-xl-6 px-2 ">
                                    <div class="cj posrel">
                                        <input type="email" class="w-100 colGRIS1"
                                            placeholder="{{textconts.micuenta_form_email }}" name="email" id="email"
                                            formControlName="email" />
                                        <div *ngIf="formregister.value.email != '' " class="fieldpeq3">
                                            {{textconts.micuenta_form_email }} 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 px-2 ">
                                    <div class="cj posrel">
                                        <input type="password" class="w-100 colGRIS1" placeholder="{{textconts.login_password }}"
                                            name="password" id="password" formControlName="password" />
                                        <div *ngIf="formregister.value.password != '' " class="fieldpeq3">
                                            {{textconts.login_password }}
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-xl-4 col-3 px-2 ">
                                    <div class="cj posrel">
                                        <input type="text" class="w-100 colGRIS1" placeholder=" Prefijo " name="prefijo"
                                            id="prefijo" formControlName="prefijo" />
                                        <div *ngIf="formregister.value.prefijo != '' " class="fieldpeq3">
                                            {{textconts.login_registro_prefijo }}
                                        </div>
                                    </div>
                                </div> -->

                                <!-- <div class="col-xl-8 col-9 px-2 ">
                                    <div class="cj posrel">
                                        <input type="phone" class="w-100 colGRIS1"
                                            placeholder="{{textconts.login_registro_phone }}" name="telefono"
                                            id="telefono" formControlName="phone" />
                                        <div *ngIf="formregister.value.telefono != '' " class="fieldpeq3">
                                            {{textconts.login_registro_phone }}
                                        </div>
                                    </div>
                                </div> -->

                                <!-- <div class="col-xl-6 col-6 px-2 ">
                                    <div class="cj posrel">
                                        <input type="text" class="w-100 colGRIS1"
                                            placeholder=" {{textconts.login_registro_address}}" name="address"
                                            id="address" formControlName="address" />
                                        <div *ngIf="formregister.value.address != '' " class="fieldpeq3">
                                            {{textconts.login_registro_address }}
                                        </div>
                                    </div>
                                </div> -->

                                <!-- <div class="col-xl-6 col-6 px-2 ">
                                    <div class="cj posrel">
                                        <input type="text" class="w-100 colGRIS1"
                                            placeholder=" {{textconts.login_registro_number }} " name="number"
                                            id="number" formControlName="number" />
                                        <div *ngIf="formregister.value.number != '' " class="fieldpeq3">
                                            {{textconts.login_registro_number }}
                                        </div>
                                    </div>
                                </div> -->

                                <!-- <div class="col-xl-6 px-2 ">
                                    <div class="cj posrel">
                                        <input type="text" class="w-100 colGRIS1"
                                            placeholder="  {{textconts.login_registro_country }}" name="country"
                                            id="country" formControlName="country" />
                                        <div *ngIf="formregister.value.country != '' " class="fieldpeq3">
                                            {{textconts.login_registro_country }}
                                        </div>
                                    </div>
                                </div> -->

                                <!-- <div class="col-xl-6 px-2 ">
                                    <div class="cj posrel">
                                        <input type="text" class="w-100 colGRIS1"
                                            placeholder="  {{textconts.login_registro_state }}" name="state"
                                            id="state" formControlName="state" />
                                        <div *ngIf="formregister.value.state != '' " class="fieldpeq3">
                                            {{textconts.login_registro_state }}
                                        </div>
                                    </div>
                                </div> -->

                                <!-- <div class="col-xl-6 px-2 ">
                                    <div class="cj posrel">
                                        <input type="text" class="w-100 colGRIS1"
                                            placeholder="  {{textconts.login_registro_city }}" name="city"
                                            id="city" formControlName="city" />
                                        <div *ngIf="formregister.value.city != '' " class="fieldpeq3">
                                            {{textconts.login_registro_city }}
                                        </div>
                                    </div>
                                </div> -->

                            </div>
                        </div>
                        <div class="btcontdatosper ">
                            <button *ngIf="btactivadoreg" class="btredondoRojoContinuar " type="button" (click)="registrarusuario()">
                                <span class="ff-JB">{{textconts.login_registro_registrar }}  </span>
                            </button>
                            <button *ngIf="!btactivadoreg" class="btredondoApagadomicuenta" type="button">
                                <span>{{textconts.login_registro_registrar }}</span>
                            </button>
                        </div>
                    </form>
                </div>

                <div id="datoscliente" class="h-100 w-100 mr-2" *ngIf="loginok || registrado">

                    <div class="panelDatosReservaCorto">
                        <div class="row px-2">
                            <div class="col-12 fs-20 ff-JB px-2 mb-2">  {{textconts.cart_cabecera_datospersonales }} </div>

                            <div class="col-xl-6  px-2 ">
                                <div class="cj posrel">
                                    <input type="text" class="w-100 scolGRIS1" name="namelogin" id="namelogin"
                                        [value]="usuario.name" disabled />
                                    <div class="fieldpeq3">
                                          {{textconts.micuenta_form_name }}
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-xl-6 px-2 ">
                                <div class="cj posrel">
                                    <input type="text" class="w-100 colGRIS1" name="surnamelogin" id="surnamelogin"
                                        [value]="usuario.surname" disabled />
                                    <div class="fieldpeq3">
                                        {{textconts.micuenta_form_surname }}
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-xl-6 px-2 ">
                                <div class="cj posrel">
                                    <input type="text" class="w-100 colGRIS1" 
                                    name="emaillogin" id="emaillogin"
                                        [value]="usuario.email" disabled />
                                    <div class="fieldpeq3">
                                        {{textconts.micuenta_form_email }}
                                    </div>
                                </div>
                            </div>

                            
                        </div>

                        <!-- <div class="" id="comps" *ngIf="compsE.controls.length > 0"  >
                            <div class="row px-2">
                                <div class="col-12 fs-20 ff-JB px-2 mb-2">{{textconts.acompanantes}} ({{compsE.controls.length}}) </div>
                            </div>
                        
                            <div class="col-12 fs-18 ff-JB px-2 mb-2 colorGRIS3"></div>
                            <form [formGroup]="formafa">
                            <div formArrayName="companions">
                                <div class="col-12" *ngFor="let c of compsE.controls; let i = index; ">
                                    <div class="row" [formGroupName]="i">
                                        
                                        <div class="col-12" *ngIf="c.value.maxold != maxoldchildren"   >
                                            {{ c.value.orden + 1  }}º  - {{textconts.buscador_adulto}}   -  {{ c.value.visit_title }}
                                        </div>
                                        <div class="col-12" *ngIf="c.value.maxold == maxoldchildren"  >
                                            {{ c.value.orden + 1  }}º  - {{textconts.buscador_detail_infantil}} -  {{ c.value.visit_title }}
                                        </div>
                                        
                                        <div class="col-xl-4  px-2 ">
                                            <div class="cj posrel">
                                                <input type="text" class="w-100 scolGRIS1" name="name"
                                                    id="name_comp-{{i}}" formControlName="name" />
                                                <div class="fieldpeq3">
                                                    {{textconts.micuenta_form_name }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-5  px-2 ">
                                            <div class="cj posrel">
                                                <input type="text" class="w-100 scolGRIS1" name="surname"
                                                    id="surname_comp-{{i}}" formControlName="surname" />
                                                <div class="fieldpeq3">
                                                    {{textconts.micuenta_form_surname }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-2  px-2 ">
                                            <div class="cj posrel">
                                                <input type="number" class="w-100 scolGRIS1" name="old" 
                                                max="{{c.value.maxold}}" min="3"
                                                    id="old_comp-{{i}}" formControlName="old" />
                                                <div class="fieldpeq3">
                                                    {{textconts.edad }}
                                                </div>
                                            </div>
                                        </div>
                        
                                    </div>
                                    <div class="linecell"> </div>
                                </div>
                       
                            </div>
                        </form>
                        </div> -->
                        <div class="mh40"></div>
                    </div>

                    <div class="aceptapoliticas">
                        <div class="d-flex w-100">
                            <div>
                                <input #aceptacionlogin type="checkbox" name="aceptacionlogin" id="aceptacionlogin" (click)="aceptarpoliticas($event)"
                                    [value]="aceptacionpoliticas">
                            </div>
                            <div class="fs-16 mx-2">
                                {{textconts.form_policy}}   <strong class="cupo" (click)="irapoliticasprivacidad()"> {{textconts.form_link}} 
                                </strong>
                            </div>
                        </div>
                    </div>
                   
                </div>

                <div class="btcontdatosper "  *ngIf="loginok || registrado"  >
                    <button class="btredondoRojoContinuar " type="button" (click)="continuar()">
                        <span class="ff-JB">{{textconts.continuar }} </span>
                    </button>
                </div>
            </div>

            <div id="metodopago" class="posrel ml-2 zonaregistro" [ngClass]="{ 'dnone' : pasoactivo == 2 } " >
                <div class="h-100 w-100 mr-2">

                    <div class="panelMetodopago">
                        <form class="validate-form" [formGroup]="formtarjeta">
                        <div class="row px-2">
                            <div class="col-12 fs-20 ff-JB px-2 my-4">{{textconts.cart_procesopago }}   </div>
                        </div>

                        <div class="row px-2">
                            <div class="col-xl-6 ">
                                <div class="cj posrel">
                                    <input type="text" class="w-100 scolGRIS1" placeholder=" Tarjeta " name="numeracion" id="numeracion" formControlName="numeracion" />
                                    <div *ngIf="formtarjeta.value.numeracion != '' " class="fieldpeq3">
                                        Tarjeta 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row px-2">
                            <div class="col-xl-3">
                                <div class="cj posrel">
                                    <input type="text" class="w-100 scolGRIS1" placeholder=" Caducidad " name="caducidad" id="caducidad" formControlName="caducidad" />
                                    <div *ngIf="formtarjeta.value.caducidad != '' " class="fieldpeq3">
                                        Caducidad
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="cj posrel">
                                    <input type="text" class="w-100 scolGRIS1" placeholder=" CVV " name="cvv" id="cvv" formControlName="cvv" />
                                    <div *ngIf="formtarjeta.value.cvv != '' " class="fieldpeq3">
                                        CVV
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row px-2">
                            <div class="col-12 px-2 d-flex">
                                <div class="mx-2">
                                    <i class="fa fa-check colROJO2 fs-24"></i>
                                </div>
                                <div class="mx-2 fs-20">{{textconts.cart_cabecera_metodospago}}</div>
                                <div class="mx-2">
                                    <img src="assets/images/i-mastercard.svg" class="imicono3" draggable="false">
                                </div>
                                <div class="mx-2">
                                    <img src="assets/images/i-visa.svg" class="imicono3" draggable="false">
                                </div>
                            </div>

                            <div class="col-xl-8"></div>
                            <div class="col-xl-4 text-right">
                                <button *ngIf="btactivadotarjeta"  class="btredondoRojoPagar " type="button" (click)="reservarvisita()">
                                    <span class="ff-JB"> {{textconts.buscador_reservar }} </span>
                                </button>
                                <button *ngIf="!btactivadotarjeta" class="btredondoRojoApagadoPagar " type="button" >
                                    <span> {{textconts.buscador_reservar }} </span>
                                </button>
                            </div>
                        </div>
                        </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="h30"></div>

<div #finaldetalle id="finaldetalle" class="h100"></div>

<ng-template #loginmodal let-modal>

    <div class="mx-auto w-100 p-0">
        <div class="modal-body">

            <div id="divmicuenta">
                <form class="validate-form" [formGroup]="formlogin">
                    <div class="w-100 d-flex posrel">
                        <div class="px-3 ff-JB fs-24 ">{{textconts.login_micuenta }} </div>
                        <div class="posabsol" style="right: -24px">
                            <div class="cupo" (click)="modal.dismiss()">
                                <i class="fa fa-x"></i>
                            </div>
                        </div>
                    </div>

                    <div class="px-3">
                        <div class="my-3 fs-18">
                            {{textconts.login_iniciarsesion}}
                        </div>
                        <div class="cj">
                            <input type="text" class="colGRIS1 " placeholder=" Usuario email" id="" name="email"
                                formControlName="email" />
                        </div>
                        <div class="cj posrel">
                            <input [type]="tipopassword" class="colGRIS1 " placeholder=" Contraseña" id="password"
                                name="password" formControlName="password" />
                            <div class="posabsolRm10" *ngIf="verpass"> <i class="fa-solid fa-eye-slash"
                                    (click)="verpassword(false)"></i> </div>
                            <div class="posabsolRm10" *ngIf="!verpass"> <i class="fa-solid fa-eye"
                                    (click)="verpassword(true)"></i> </div>
                        </div>
                        <div class="d-flex" id="recuerdamimicuenta">
                            <div class="mx-1 pt-1" (click)="recordarmemicuenta()">
                                <i class="fa-solid fa-toggle-on colGRIS1 " *ngIf="recordarme"></i>
                                <i class="fa-solid fa-toggle-off colGRIS2 " *ngIf="!recordarme"></i>
                            </div>
                            <div class="mt-1 ml-2">{{textconts.login_recordarme }} </div>
                        </div>
                        <div class="w-100 p-0 ml-auto mr-0 my-3 text-xl-right text-center">
                            <button *ngIf="btactivado" class="btredondoRojomicuenta " type="button"
                                (click)="iniciarsesion()">
                                <span> {{textconts.login_iniciarsesion}}</span>
                            </button>
                            <button *ngIf="!btactivado" class="btredondoApagadomicuenta " type="button">
                                <span> {{textconts.login_iniciarsesion}}</span>
                            </button>

                        </div>
                        <div class="oaccedemicuenta dnone redes">
                            {{textconts.cart_modalcuenta_oaccede }} 
                        </div>
                        <div class="w-100 p-0 dnone redes">
                            <button id="btfacebookmicuenta" class="btcuadmicuenta mx-1" type="button">
                                <img src="assets/images/logofb.png" class="imredes" draggable="false">
                                <span>Facebook</span>
                            </button>
                            <button id="btgooglemicuenta" class="btcuadmicuenta mx-1" type="button">
                                <img src="assets/images/logog.png" class="imredes" draggable="false">
                                <span>Google</span>
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

</ng-template>





<!-- <ng-template #calemodal let-modal>

        <div class="mx-auto w-100 p-0">
            <div class="modal-header posrel">
                <div class="w-100 mx-auto text-center">
                    <h4 class="modal-title" id="modal-basic-title ml-4">
                        <span class="ff-JB">{{visitaSel.title}}</span>
                    </h4>
                </div>
            </div>
            <div class="modal-body mx-auto text-center ">
                <div #detallecale id="detallecale" class="m-0 p-4 divcalendarmodal ">

                    <div #cale id="cale" class="cajaselecvisita" *ngIf="caleinfo != ''">
                        <div class="w-100 d-flex cupo" (click)="verCale()">
                            <div class="fs-20 ml-0 mr-auto">
                                <span class="ml-1 colGRIS1">
                                    {{caleinfo}}
                                </span>
                            </div>
                            <div class="text-right mr-0 ml-auto w-100">
                                <i class="fa fa-angle-down" *ngIf="!vcale"></i>
                                <i class="fa fa-angle-up" *ngIf="vcale"></i>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-calendar p-0 animated fadeIn" *ngIf="vcale || caleinfo == ''">
                        <div class="header-calendar">
                            <div>
                                <div (click)="changeMonth(-1)" class="text-center arrowcalendar">
                                    <i class="fa fa-angle-left "> </i>
                                </div>
                            </div>
                            <div class="month-calendar">{{mSelect}}</div>
                            <div class="age-calendar">{{ySelect}}</div>
                            <div>
                                <div (click)="changeMonth(1)" class="text-center arrowcalendar">
                                    <i class="fa fa-angle-right "> </i>
                                </div>
                            </div>
                        </div>
                        <ol class="olCalendar">
                            <li *ngFor="let day of week" class="day-name ilCalendar ">{{day | slice:0:1}}</li>

                            <li class="liCalendar" [ngClass]="{'liCalendarSelected': day == daySel   }"
                                (click)="clickDay(day)" [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
                                *ngFor="let day of monthSelect; let first = first">
                                <span>{{day?.value}}</span>
                            </li>
                        </ol>
                    </div>

                    <div class="p-0 my-3">
                        <div #hora class="cajaselecvisita">
                            <div class="w-100 d-flex cupo" (click)="verHora()">
                                <div class="fs-20 ml-0 mr-auto">
                                    <span class="colGRIS1 ff-JB" *ngIf="horainfo == ''">
                                        {{messageVisitaData.data.hour}}
                                    </span>
                                    <span class="ml-1 colGRIS1">
                                        {{horainfo}}
                                    </span>
                                </div>
                                <div class="text-right mr-0 ml-auto w-100">
                                    <i class="fa fa-angle-down" *ngIf="!vhora"></i>
                                    <i class="fa fa-angle-up" *ngIf="vhora"></i>
                                </div>
                            </div>
                        </div>
                        <div class="p-0 m-0">
                            <div class="row px-3 pt-2 m-0 animated fadeIn" [hidden]="!vhora">
                                <div *ngFor="let li of listahoras" class="col-3 p-0 m-0">
                                    <input name="rbhora" id="rbhora-{{li.key}}" type="radio" value="{{li.key}}"
                                        (click)="horainfosel(li.value)" [(ngModel)]="horaSel">
                                    <label class="ml-1" for="rbhora-{{li.key}}">{{li.value}}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-0 my-3">
                        <div #idioma class="cajaselecvisita">
                            <div class="w-100 d-flex cupo" (click)="verIdioma()">
                                <div class="fs-20 ml-0 mr-auto">
                                    <span class="colGRIS1 ff-JB" *ngIf="idiominfo == ''">
                                        {{messageVisitaData.data.language}}
                                    </span>
                                    <span class="ml-1 colGRIS1">
                                        {{idiominfo}}
                                    </span>
                                </div>
                                <div class="text-right mr-0 ml-auto w-100">
                                    <i class="fa fa-angle-down" *ngIf="!vidiom"></i>
                                    <i class="fa fa-angle-up" *ngIf="vidiom"></i>
                                </div>
                            </div>
                        </div>
                        <div class="p-0 m-0">
                            <div class="row px-3 pt-2 m-0 animated fadeIn" [hidden]="!vidiom">
                                <div *ngFor="let li of listaidiomas" class="col-6 p-0 m-0">
                                    <input name="rbidiom" id="rbidiom-{{li.key}}" type="radio" value="{{li.key}}"
                                        (click)="idiomainfosel(li.value)" [(ngModel)]="idiomaSel">
                                    <label class="ml-2" for="rbidiom-{{li.key}}">{{li.value}}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-0 my-3">
                        <div #persona class="cajaselecvisita">
                            <div class="w-100 d-flex cupo" (click)="verPersona()">
                                <div class="fs-20 text-left d-flex">
                                    <span class="colGRIS1 ff-JB"
                                        *ngIf="adultoSel == 0 && ninosSel == 0 && menoresSel == 0">
                                        {{messageVisitaData.data.people}}
                                    </span>
                                    <div class="posrel fs-18" style="top: 0px"
                                        *ngIf="adultoSel != 0 || ninosSel != 0 || menoresSel != 0 ">
                                        <div class="w-100 d-flex">
                                            <div class=" colGRIS1" style="min-width: 100px">
                                                {{messageVisitaData.price.adults}} {{adultoSel}}
                                            </div>
                                            <div class=" colGRIS1 " style="min-width: 90px">
                                                {{messageVisitaData.price.children}} {{ninosSel}}
                                            </div>
                                            <div class=" colGRIS1 " style="min-width: 100px">
                                                {{messageVisitaData.price.minor}} {{menoresSel}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right mr-0 ml-auto w-100">
                                    <i class="fa fa-angle-down" *ngIf="!vpers"></i>
                                    <i class="fa fa-angle-up" *ngIf="vpers"></i>
                                </div>
                            </div>
                        </div>
                        <div class="p-0 m-0">
                            <div class="px-3 pt-2 m-0 animated fadeIn" [hidden]="!vpers">
                                <div #adulto class="row my-2">
                                    <div class="col-4 text-left posrel">
                                        <div class="fs-8 posabsol" style="top: -6px">{{messageVisitaData.price.adults}}</div>
                                        <div class="fs-16">{{precioadultos}} €</div>
                                    </div>
                                    <div class="col-4">
                                        <div class="w-100 d-flex mw100">
                                            <div class="posrelbtm5">
                                                <div *ngIf="adultoSel == 0">
                                                    <img src="../../assets/images/i-restarapagado.svg" class="imicono4"
                                                        draggable="false">
                                                </div>
                                                <div class="cupo" *ngIf="adultoSel > 0" (click)="restaradulto()">
                                                    <img src="../../assets/images/i-restar.svg" class="imicono4"
                                                        draggable="false">
                                                </div>
                                            </div>
                                            <div class="fs-16 text-center w50">
                                                {{adultoSel}}
                                            </div>
                                            <div class="posrelbtm5">
                                                <div class="cupo" (click)="sumaradulto()">
                                                    <img src="../../assets/images/i-sumar.svg" class="imicono4"
                                                        draggable="false">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 text-right">
                                        <div class="fs-16">{{precioadultototal}} €</div>
                                    </div>
                                </div>

                                <div #ninos class="row my-2">
                                    <div class="col-4 text-left posrel">
                                        <div class="fs-8 posabsol" style="top: -6px">{{messageVisitaData.price.children}}</div>
                                        <div class="fs-16">{{precioninos}} €</div>
                                    </div>
                                    <div class="col-4">
                                        <div class="w-100 d-flex mw100">
                                            <div class="posrelbtm5">
                                                <div *ngIf="ninosSel == 0">
                                                    <img src="../../assets/images/i-restarapagado.svg" class="imicono4"
                                                        draggable="false">
                                                </div>
                                                <div class="cupo" *ngIf="ninosSel > 0" (click)="restarninos()">
                                                    <img src="../../assets/images/i-restar.svg" class="imicono4"
                                                        draggable="false">
                                                </div>
                                            </div>
                                            <div class="fs-16 text-center w50">
                                                {{ninosSel}}
                                            </div>
                                            <div class="posrelbtm5">
                                                <div class="cupo" (click)="sumarninos()">
                                                    <img src="../../assets/images/i-sumar.svg" class="imicono4"
                                                        draggable="false">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 text-right">
                                        <div class="fs-16">{{precioninostotal}} €</div>
                                    </div>
                                </div>

                                <div #menores class="row my-2">
                                    <div class="col-4 text-left posrel">
                                        <div class="fs-8 posabsol" style="top: -6px">{{messageVisitaData.price.minor}}</div>
                                        <div class="fs-16">{{preciomenores}} €</div>
                                    </div>
                                    <div class="col-4">
                                        <div class="w-100 d-flex mw100">
                                            <div class="posrelbtm5">
                                                <div *ngIf="menoresSel == 0">
                                                    <img src="../../assets/images/i-restarapagado.svg" class="imicono4"
                                                        draggable="false">
                                                </div>
                                                <div class="cupo" *ngIf="menoresSel > 0" (click)="restarmenores()">
                                                    <img src="../../assets/images/i-restar.svg" class="imicono4"
                                                        draggable="false">
                                                </div>
                                            </div>
                                            <div class="fs-16 text-center w50">
                                                {{menoresSel}}
                                            </div>
                                            <div class="posrelbtm5">
                                                <div class="cupo" (click)="sumarmenores()">
                                                    <img src="../../assets/images/i-sumar.svg" class="imicono4"
                                                        draggable="false">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 text-right">
                                        <div class="fs-16">{{preciomenorestotal}} €</div>
                                    </div>
                                </div>

                                <div #total class="my-3 d-flex posrel">
                                    <div class="fs-16 ">{{messageCashData.process}}</div>
                                    <div class="fs-16 ff-JB posabsol" style="right: 0">
                                        <div> {{sumaSel}} €</div>
                                    </div>
                                </div>
                                <div #maximo class="d-flex w-100 posrel my-3">
                                    <div class="ml-0 mr-auto ">
                                        <div class="fs-12">*{{messageVisitaData.private.max}} <span
                                                class="ff-JB">{{maximopersonas}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div #checkprivada class="d-flex w-100 posrel my-3">
                                    <div class="ml-0 mr-auto ">
                                        <div class="fs-20 mr-2 posrel " style="top: -3px">
                                            <input #priv type="checkbox" name="privada" id="privada" [value]="privada"
                                                (change)="cambiarprivada(priv)">
                                        </div>
                                    </div>
                                    <div class="mr-0 ml-auto">
                                        <div class="fs-16 ">
                                            {{messageVisitaData.private.contract}}
                                        </div>
                                        <div class="fs-12 ffita colGRIS2">
                                            *{{messageVisitaData.private.implicit}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div #validacioncale class="d-flex w-100 posrel my-1" *ngIf="calenovalid">
                            <div class=" posrel " style="top:-4px">
                                <img src="../../assets/images/i-validacion.svg" class="imicono8" draggable="false">
                            </div>
                            <div>
                                <div class="fs-16 colROJO1">{{messageVisitaData.errors.date}}</div>
                            </div>
                        </div>
                        <div #validacionhora class="d-flex w-100 posrel my-1" *ngIf="horanovalid">
                            <div class=" posrel " style="top:-4px">
                                <img src="../../assets/images/i-validacion.svg" class="imicono8" draggable="false">
                            </div>
                            <div>
                                <div class="fs-16 colROJO1">{{messageVisitaData.errors.hour}}
                                </div>
                            </div>
                        </div>
                        <div #validacionidioma class="d-flex w-100 posrel my-1" *ngIf="idiomanovalid">
                            <div class=" posrel " style="top:-4px">
                                <img src="../../assets/images/i-validacion.svg" class="imicono8" draggable="false">
                            </div>
                            <div>
                                <div class="fs-16 colROJO1">{{messageVisitaData.errors.language}}
                                </div>
                            </div>
                        </div>
                        <div #validacionpers class="d-flex w-100 posrel my-1" *ngIf="persnovalid">
                            <div class=" posrel " style="top:-4px">
                                <img src="../../assets/images/i-validacion.svg" class="imicono8" draggable="false">
                            </div>
                            <div>
                                <div class="fs-16 colROJO1">{{messageVisitaData.errors.people}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-0 m-0">
                        <div class="d-flex">
                            <div class="w-50">
                                <div class="my-0 mx-auto text-center">
                                    <button class="btredondoCancelar " type="button" (click)="cerrarcalemodal()">
                                        <span class="ff-JB">Cancelar</span>
                                    </button>
                                </div>
                            </div>
                            <div class="w-50">
                                <div class="my-0 mx-auto text-center">
                                    <button class="btredondoRojoActualizar " type="button" (click)="reservarvisita()">
                                        <span class="ff-JB">{{messageVisitaData.button}}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ng-template> -->