

        <div>
            <div class="h100"></div>

            <form class="validate-form" [formGroup]="forma">
                <div class="p-0 m-0 animated fadeIn slow " [ngClass]="{'dnone' :!vercuenta } ">
                    <div class="panelMicuenta d-flex ">
                        <div class="infoMicuenta posrel w-100">
                            <div class="titmicuenta">
                                <span>{{messagePerfilData?.account}} </span>
                            </div>
                            <div class="posabsolR fs-14 p-xl-4 p-2">
                                <div>{{usuario.roles[0]?.name}}</div>
                                <div *ngIf="usuario.afiliado != ''">
                                    <span>ID de Afiliado:</span> <span class="mx-1 colROJO1">{{usuario.afiliado}}
                                        _</span>
                                </div>
                            </div>
                            <div class="w-100 d-flex px-3 pt-1 pb-4">
                                <div class="logoavatar">
                                    <span class="p-0"><img src="../../assets/images/i-avatar.svg"
                                            class="imicono100 posrel" draggable="false"></span>
                                </div>
                                <div class="posrel" style="left: 30px">
                                    <div>
                                      
                                    </div>
                                    <div>
                                        {{ usuario?.surname}}
                                    </div>
                                    <div>
                                        {{ usuario?.prefijo }} <span class="mx-1">{{usuario?.phone}}</span>
                                    </div>
                                    <div>
                                        {{ usuario?.email }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div #paneldatospersonales id="paneldatospersonales" class="panelMicuenta d-flex ">
                        <div class="infoMicuenta">
                            <div class="titmicuenta">
                                <span>{{messagePerfilData?.staff}} </span>
                            </div>
                            <div class="infoMicuenta w-100 d-flex">
                                <div class="row px-2">

                                    <div class="col-xl-6 px-2 posrel">
                                        <div class="cj">
                                            <input #name type="text" class="w-100 scolGRIS1" placeholder=""
                                                name="name" id="name" formControlName="name" />
                                        </div>
                                        <div class="lblform">{{messagePerfilData?.titles?.name}}:</div>
                                    </div>
                                    <div class="col-xl-6 px-2 posrel">
                                        <div class="cj">
                                            <input type="text" class="w-100 colGRIS1" placeholder=""
                                                name="surname" id="surname" formControlName="surname" />
                                        </div>
                                        <div class="lblform">{{messagePerfilData?.titles?.surname}}</div>
                                    </div>
                                    <div class="col-xl-6 px-2 posrel">
                                        <div class="cj">
                                            <input #email type="email" class="w-100 colGRIS1"
                                                placeholder="{{messagePerfilData?.titles?.email}}" name="email" id="email"
                                                formControlName="email" />
                                        </div>
                                        <div class="lblform">{{messagePerfilData?.titles?.email}}</div>
                                    </div>
                                    <div class="col-xl-2 col-4 pl-2 pr-1 posrel">
                                        <select #prefix class="cjselect w-100" id="prefijo"
                                            name="prefijo" formControlName="prefijo">
                                            <option value="{{li.id}}" *ngFor="let li of listaprefix">
                                                {{li.code}}
                                            </option>
                                        </select>
                                        <div class="lblform">{{messagePerfilData?.titles?.prefix}}</div>
                                    </div>
                                    <div class="col-xl-4 col-8 pl-1 pr-2 posrel">
                                        <div class="cj">
                                            <input #phone type="phone" class="w-100 colGRIS1" placeholder="{{messagePerfilData?.titles?.phone}}"
                                                name="phone" id="phone" formControlName="phone" />
                                        </div>
                                        <div class="lblform">{{messagePerfilData?.titles?.phone}}</div>
                                    </div>
                                    <div class="col-xl-6 px-2 posrel">
                                        <select #typedoc class="cjselect w-100" id="tipoidentificacion"
                                            name="tipoidentificacion" formControlName="type">
                                            <option value="{{li.name}}" *ngFor="let li of listatiposidentificacions">
                                                {{li.name}}
                                            </option>
                                        </select>
                                        <div class="lblform">{{messagePerfilData?.invoice?.titles?.documentation}}</div>
                                    </div>
                                    <div class="col-xl-6 px-2 posrel">
                                        <div class="cj">
                                            <input #document type="text" class="colGRIS1 " placeholder="Numero identificacion "
                                                id="numeroidentificacion" name="document" formControlName="document" />
                                        </div>
                                        <div class="lblform">{{messagePerfilData?.invoice?.titles?.number}}</div>
                                    </div>
                                    <div class="col-xl-6 px-2 ">
                                        <div class="p-0 m-0">
                                            <input name="rb" id="rb-1" type="radio" (change)="selecparticular()" formControlName="particular"  >
                                            <label class="mx-2" for="rb-1">{{messagePerfilData?.invoice?.options?.option1}}</label>
                                            <input name="rb" id="rb-2" type="radio" (change)="selecempresa()"  formControlName="particular" >
                                            <label class="mx-2" for="rb-2">{{messagePerfilData?.invoice?.options?.option2}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100 p-1 mt-1 text-center mx-auto mh100" *ngIf="!loading">
                                <button class="btredondoRojoMicuenta  " type="button" (click)="modificarDatosData()">
                                    <span>{{messagePerfilData?.buttons?.change}}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div #paneldatosfacturacion id="paneldatosfacturacion" class="panelMicuenta d-flex ">
                        <div class="infoMicuenta">
                            <div class="titmicuenta">
                                <span> {{messagePerfilData?.invoice?.title}}</span>
                            </div>
                            <div class="infoMicuenta w-100 d-flex">
                                <div class="row px-2">

                                    <div class="col-xl-6 px-2 posrel">
                                        <div class="cj">
                                            <input type="text" class="colGamRIS1 " placeholder="Calle " id="street"
                                                name="street" formControlName="street" />
                                        </div>
                                        <div class="lblform">{{messagePerfilData?.invoice?.titles?.address}}  </div>
                                    </div>
                                    <div class="col-xl-6 px-2 posrel">
                                        <div class="cj">
                                            <input type="text" class="colGamRIS1 " placeholder="Número " id="number"
                                                name="number" formControlName="number" />
                                        </div>
                                        <div class="lblform">_número_</div>
                                    </div>
                                    <div class="col-xl-6 px-2 posrel">
                                        <div class="cj">
                                            <input type="text" class="colGRIS1 " placeholder="Codigo postal "
                                                id="codigopostal" name="codigopostal" formControlName="postal" />
                                        </div>
                                        <div class="lblform">{{messagePerfilData?.invoice?.titles?.postal}}</div>
                                    </div>
                                    
                                    <div class="col-xl-6 px-2 posrel">
                                        <select #paises class="cjselect w-100" id="country" (change)="seleccountry($event.target)"
                                            name="country" formControlName="country">
                                            <option value="{{li.id}}" *ngFor="let li of listacountries" >
                                                {{li.name}}
                                            </option>
                                        </select>
                                        <div class="lblform">{{messagePerfilData?.invoice?.titles?.country}}</div>
                                    </div>
                                    <div class="col-xl-6 px-2 posrel">
                                        <select #states class="cjselect w-100" id="state" (change)="selecstate($event.target)"
                                            name="state" formControlName="state">
                                            <option value="{{li.id}}" *ngFor="let li of listastates" >
                                                {{li.name}}
                                            </option>
                                        </select>
                                        <div class="lblform">provincia</div>
                                    </div>
                                    <div class="col-xl-6 px-2 posrel">
                                        <select #cities class="cjselect w-100" id="city"
                                            name="city" formControlName="city">
                                            <option value="{{li.id}}" *ngFor="let li of listacities" >
                                                {{li.name}}
                                            </option>
                                        </select>
                                        <div class="lblform">{{messagePerfilData?.invoice?.titles?.city}}</div>
                                    </div>

                                    
                                </div>

                            </div>
                            <div class="w-100 p-1 mt-1 text-center mx-auto mh100" *ngIf="!loading">
                                <button class="btredondoRojoMicuenta  " type="button" (click)="modificarDatosAddress()">
                                    <span>{{messagePerfilData?.buttons?.change}}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
